﻿<div class="box" data-ng-app="App" data-ng-controller="AccountMaster_ngController" ng-init="GetAccounts()">


    <div class="box-header with-border col-lg-12">
        <h1 class="box-title">Manage Accounts </h1>
        <a class="btn btn-primary pull-right" data-ng-click="AddAccount()">+ Add Account</a>
    </div>
    <div class="clearfix"></div>

    <div class="box-body">
        <div class="col-lg-12">
            <div class="row">
                <div class="box-body table-responsive no-padding">
                    <table id="tblAccounts" class="table table-striped table-bordered marleft15" style="overflow:hidden;width:50%;">
                        <thead><tr><th>Account Head</th><th></th></tr></thead>
                        <tbody>
                            <tr ng-repeat="acc in Accounts">
                                <td>{{acc.AccountHead}}</td>
                                <td>
                                    <a ng-click="EditAccountData(acc.AccountID,acc.AccountHead)" class="pull-left font20 marleft15"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                    <a class="pull-left marleft15 font20 delete" ng-click="DeleteAccount(acc.AccountID)"> <i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade bs-example-modal-lg" id="AccountModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmAccount" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog  modal-lg" role="document" style="width: 20% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closeAccount()" />
                    Add Account
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height:70px">

                        <div class="form-group col-lg-12" style="width: 100% !important">
                            <label>Account Head</label>
                            <input autocomplete="off" type="text" id="txtAccountHead" class="form-control maxwidth" ng-model="Account.AccountHead" ng-required="true" />
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="SaveAccount()">Save</button>
                    <button type="submit" class="btn btn-warning" ng-click="closeAccount()">Cancel</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" id="EditAccountModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmEditAccount" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog  modal-lg" role="document" style=" width: 20% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closeEditAccount()" />
                    Edit Account
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height:70px">

                        <div class="form-group col-lg-12" style="width: 100% !important">
                            <label>Account Head</label>
                            <input autocomplete="off" type="text" id="txtEditAccountName" class="form-control maxwidth" ng-model="EditAccount.AccountHead" ng-required="true" />
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="UpdateAccount()">Save</button>
                        <button type="submit" class="btn btn-warning" ng-click="closeEditAccount()">Cancel</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#liAccountMaster").addClass("active");
        $("#liAdministrations").addClass("active");
    });
</script>


