﻿<div class="box" data-ng-app="App" data-ng-controller="AttributeMaster_ngController" ng-init="GetAttributes()">


    <div class="box-header with-border col-lg-12">
        <h1 class="box-title">Manage Attributes </h1>
        <a class="btn btn-primary pull-right" data-ng-click="AddAttribute()">+ Add Attribute</a>
    </div>
    <div class="clearfix"></div>

    <div class="box-body">
        <div class="col-lg-12">
            <div class="row">
                <div class="box-body table-responsive no-padding">
                    <table id="tblAttribute" class="table table-striped table-bordered marleft15" style="overflow:hidden;width:50%;">
                        <thead><tr><th> Name</th><th>Value</th><th></th></tr></thead>
                        <tbody>
                            <tr ng-repeat="attr in Attributes">
                                <td>{{attr.Name}}</td>
                                <td>{{attr.Value}}</td>
                                <td>
                                    <a ng-click="EditAttributeData(attr.AttributeId,attr.Name,attr.Value)" class="pull-left font20 marleft15"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                    <a class="pull-left marleft15 font20 delete" ng-click="DeleteAttribute(attr.AttributeId)"> <i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade bs-example-modal-lg" id="AttributeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmAttribute" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog  modal-lg" role="document" style="width: 20% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closeAttribute()" />
                    Add Attribute
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height:70px">

                        <div class="form-group col-lg-12" style="width: 100% !important">
                            <label>Attribute Name</label>
                            <input autocomplete="off" type="text" id="txtAttributeName" class="form-control maxwidth" ng-model="Attribute.Name" ng-required="true" />
                        </div>
                        <div class="form-group col-lg-12" style="width: 100% !important">
                            <label> Value</label>
                            <input autocomplete="off" type="text" id="txtAttributeValue" class="form-control maxwidth" ng-model="Attribute.Value" ng-required="true" />
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="SaveAttribute()">Save</button>
                    <button type="submit" class="btn btn-warning" ng-click="closeAttribute()">Cancel</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" id="EditAttributeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmEditAttribute" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog  modal-lg" role="document" style=" width: 20% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closeEditAttribute()" />
                    Edit Attribute
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height:70px">

                        <div class="form-group col-lg-12" style="width: 100% !important">
                            <label>Attribute Name</label>
                            <input autocomplete="off" type="text" id="txtEditAttributeName" class="form-control maxwidth" ng-model="EditAttribute.Name" ng-required="true" />
                        </div>
                        <div class="form-group col-lg-12" style="width: 100% !important">
                            <label>Value</label>
                            <input autocomplete="off" type="text" id="txtEditAttributeVal" class="form-control maxwidth" ng-model="EditAttribute.Value" ng-required="true" />
                        </div>
                       
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="UpdateAttribute()">Save</button>
                        <button type="submit" class="btn btn-warning" ng-click="closeEditAttribute()">Cancel</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#liAttributeMaster").addClass("active");
        $("#liAdministrations").addClass("active");
    });
</script>

