﻿<div class="box" data-ng-app="App" data-ng-controller="BranchRunningMaster_ngController">


    <div class="box-header with-border col-lg-12">
        <h1 class="box-title">Manage Branch Running Nos </h1>
        <a class="btn btn-primary pull-right" data-ng-click="AddBranchRunning()">+ Add New Branch Running No</a>
    </div>
    <div class="clearfix"></div>

    <div class="box-body">
        <div class="col-lg-12">
            <div class="row">
                <div class="box-body table-responsive no-padding">
                    <table id="tblUsers" datatable dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="fullwidth table table-striped table-bordered marleft15"></table>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade bs-example-modal-lg" id="BranchRunningModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmBranchRunning" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog  modal-lg" role="document" style="width: 60% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closeBranchRunning()" />
                    Add BranchRunning
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height:100px">
                        <div class="form-group col-lg-12">
                            <div class="form-group col-lg-12" style="width: 100% !important">

                                <div class="form-group col-lg-4">
                                    <label>Branch</label>

                                    <select id="ddlBranch" class="form-control" ng-model="BranchRunning.BranchID" ng-required="true"
                                            ng-init="value.BranchID == BranchRunning.BranchID" ng-options="value.BranchID as value.BranchName for (key, value) in Branches">
                                        <option value="" ng-selected="BranchRunning.BranchID == ''">-Select-</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Transaction Type</label>

                                    <select id="drpType" class="form-control" ng-required="true" ng-model="BranchRunning.TransactionType">
                                        <option value="" selected>-Select-</option>
                                        <option value="Consignment">Consignment</option>
                                        <option value="Manifest">Manifest </option>
                                        <option value="ConsignmentMahindra">Consignment Mahindra </option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Last Running No</label>
                                    <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Running No" ng-model="BranchRunning.LastRunningNo" ng-required="true">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="SaveBranchRunning()">Save</button>
                        <button type="submit" class="btn btn-warning" ng-click="closeBranchRunning()">Cancel</button>
                    </div>

                </div>
            </div>
        </div>
        </div>
        <div class="modal fade bs-example-modal-lg" id="EditBranchRunningModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmEditBranchRunningModal" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog  modal-lg" role="document" style=" width: 60% !important;">
                <div class="modal-content">
                    <div class="modal-header">
                        <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closeEditBranchRunning()" />
                        Edit Branch Running No
                    </div>
                    <div class="box box-warning">
                        <div class="modal-body" style="height:100px">
                            <div class="form-group col-lg-12">
                                <div class="form-group col-lg-12" style="width: 100% !important">

                                    <div class="form-group col-lg-4">
                                        <label>Branch</label>

                                        <select id="ddlBranch" class="form-control" ng-model="EditBranchRunning.BranchID" ng-required="true"
                                                ng-init="value.BranchID == EditBranchRunning.BranchID" ng-options="value.BranchID as value.BranchName for (key, value) in Branches">
                                            <option value="" ng-selected="EditBranchRunning.BranchID == ''">-Select-</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-lg-4">
                                        <label>Transaction Type</label>

                                        <select id="drpType" class="form-control" ng-required="true" ng-model="EditBranchRunning.TransactionType">
                                            <option value="" ng-selected="EditBranchRunning.TransactionType==''">-Select-</option>
                                            <option value="Consignment" ng-selected="EditBranchRunning.TransactionType=='Consignment'">Consignment</option>
                                            <option value="Manifest" ng-selected="EditBranchRunning.TransactionType=='Manifest'">Manifest </option>
                                            <option value="ConsignmentMahindra" ng-selected="EditBranchRunning.TransactionType=='ConsignmentMahindra'">Consignment Mahindra </option>
                                        </select>
                                    </div>
                                    <div class="form-group col-lg-4">
                                        <label>Last Running No</label>
                                        <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Running No" ng-model="EditBranchRunning.LastRunningNo" ng-required="true">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" ng-click="UpdateBranchRunning()">Save</button>
                            <button type="submit" class="btn btn-warning" ng-click="closeEditBranchRunning()">Cancel</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#liBranchRunningNoMaster").addClass("active");
            $("#liAdministrations").addClass("active");
        });
    </script>


