﻿<div class="box" data-ng-app="App" data-ng-controller="BranchMaster_ngController">


    <div class="box-header with-border col-lg-12">
        <h1 class="box-title">Manage Branches </h1>
        <a class="btn btn-primary pull-right" data-ng-click="AddBranch()">+ Add New Branch</a>
    </div>
    <div class="clearfix"></div>

    <div class="box-body">
        <div class="col-lg-12">
            <div class="row">
                <div class="box-body table-responsive no-padding">
                    <table id="tblBranches" datatable dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="fullwidth table table-striped table-bordered marleft15"></table>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade bs-example-modal-lg" id="BranchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmBranch" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog  modal-lg" role="document" style="height: 450px !important; width: 65% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closeBranch()" />
                    Add Branch
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height: 450px !important;">
                        <div class="form-group col-lg-12">
                            <div class="form-group col-lg-12" style="width: 100% !important">

                                <div class="form-group col-lg-4">
                                    <label>Branch Name</label>

                                    <input autocomplete="off" type="text" class="form-control maxwidth" ng-model="branchdata" ng-required="true" ng-keyup="complete(branchdata)" />
                                    <ul class="list-group">
                                        <li class="list-group-item" ng-repeat="branch in filterBranch" ng-click="fillTextbox(branch)">{{branch}}</li>
                                    </ul>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Zone</label>
                                    <select id="ddlZone" class="form-control" ng-required="true" ng-model="Branch.ZoneID">
                                        <option value="" selected>-Select-</option>
                                        <option data-ng-repeat="zone in Zones " value="{{zone.ZoneID}}" ng-selected="zone.ZoneID == Branch.ZoneID">{{zone.Zone}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Branch Code</label>
                                    <input autocomplete="off" type="text" id="txtBranchCode" class="form-control maxwidth" ng-model="Branch.BranchCode" />
                                </div>

                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>Address</label>
                                    <input autocomplete="off" type="text" id="txtAddress" class="form-control maxwidth" ng-model="Branch.Address" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Pincode</label>
                                    <input autocomplete="off" type="text" id="txtPincode" class="form-control maxwidth" ng-model="Branch.Pincode" />
                                </div>

                                <div class="form-group col-lg-4">
                                    <label>City</label>
                                    <input autocomplete="off" type="text" id="txtCity" class="form-control maxwidth" ng-model="Branch.city" />
                                </div>


                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>State</label>
                                    <input autocomplete="off" type="text" id="txtState" class="form-control maxwidth" ng-model="Branch.state" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Nationality</label>
                                    <input autocomplete="off" type="text" id="txtNationality" class="form-control maxwidth" ng-model="Branch.Nationalty" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Contact Person</label>
                                    <input autocomplete="off" type="text" id="txtContactPerson" class="form-control maxwidth" ng-model="Branch.ContactPerson" />
                                </div>

                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>Mobile No</label>
                                    <input autocomplete="off" type="text" id="txtMobileNo" class="form-control maxwidth" ng-model="Branch.MobileNo" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>EmailID</label>
                                    <input autocomplete="off" type="email" id="txtEmailID" class="form-control maxwidth" ng-model="Branch.Email" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Website</label>
                                    <input autocomplete="off" type="text" id="txtWebsite" class="form-control maxwidth" ng-model="Branch.Website" />
                                </div>
                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>Cash Limit</label>
                                    <input autocomplete="off" type="text" id="txtCashLimit" class="form-control maxwidth" ng-model="Branch.CashLimit" />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="SaveBranch()">Save</button>
                    <button type="submit" class="btn btn-warning" ng-click="closeBranch()">Cancel</button>
                </div>

            </div>
        </div>

    </div>
    <div class="modal fade bs-example-modal-lg" id="EditBranchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmEditBranch" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog  modal-lg" role="document" style="height: 450px !important; width: 65% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closeEditBranch()" />
                    Edit Branch
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height: 450px !important;">
                        <div class="form-group col-lg-12">
                            <div class="form-group col-lg-12" style="width: 100% !important">

                                <div class="form-group col-lg-4">
                                    <label>Branch Name</label>
                                    <input autocomplete="off" type="text" id="txtName" class="form-control maxwidth" ng-model="EditBranch.BranchName" ng-required="true" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Zone</label>

                                    <select id="ddlZone" class="form-control" ng-required="true" ng-model="EditBranch.ZoneID"
                                            ng-init="value.ZoneID == EditBranch.ZoneID" ng-options="value.ZoneID as value.Zone for (key, value) in Zones">
                                        <option value="">-- Select --</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Branch Code</label>
                                    <input autocomplete="off" type="text" id="txtBranchCode" class="form-control maxwidth" ng-model="EditBranch.BranchCode" />
                                </div>

                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>Address</label>
                                    <input autocomplete="off" type="text" id="txtAddress" class="form-control maxwidth" ng-model="EditBranch.Address" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Pincode</label>
                                    <input autocomplete="off" type="text" id="txtPincode" class="form-control maxwidth" ng-model="EditBranch.Pincode" />
                                </div>

                                <div class="form-group col-lg-4">
                                    <label>City</label>
                                    <input autocomplete="off" type="text" id="txtCity" class="form-control maxwidth" ng-model="EditBranch.city" />
                                </div>


                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>State</label>
                                    <input autocomplete="off" type="text" id="txtState" class="form-control maxwidth" ng-model="EditBranch.state" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Nationality</label>
                                    <input autocomplete="off" type="text" id="txtNationality" class="form-control maxwidth" ng-model="EditBranch.Nationalty" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Contact Person</label>
                                    <input autocomplete="off" type="text" id="txtContactPerson" class="form-control maxwidth" ng-model="EditBranch.ContactPerson" />
                                </div>

                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>Mobile No</label>
                                    <input autocomplete="off" type="text" id="txtMobileNo" class="form-control maxwidth" ng-model="EditBranch.MobileNo" ng-required="true" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>EmailID</label>
                                    <input autocomplete="off" type="email" id="txtEmailID" class="form-control maxwidth" ng-model="EditBranch.Email" ng-required="true" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Website</label>
                                    <input autocomplete="off" type="text" id="txtWebsite" class="form-control maxwidth" ng-model="EditBranch.Website" ng-required="true" />
                                </div>
                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>Cash Limit</label>
                                    <input autocomplete="off" type="text" id="txtCashLimit" class="form-control maxwidth" ng-model="EditBranch.CashLimit" ng-required="true" />
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="UpdateBranch()">Save</button>
                        <button type="submit" class="btn btn-warning" ng-click="closeEditBranch()">Cancel</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#liBranchMaster").addClass("active");
        $("#liAdministrations").addClass("active");
    });
</script>

