﻿<div class="box" data-ng-app="App" data-ng-controller="CargoTypeMaster_ngController" ng-init="GetCargoType()">


    <div class="box-header with-border col-lg-12">
        <h1 class="box-title">Manage Cargo Types </h1>
        <a class="btn btn-primary pull-right" data-ng-click="AddCargoType()">+ Add Cargo Type</a>
    </div>
    <div class="clearfix"></div>

    <div class="box-body">
        <div class="col-lg-12">
            <div class="row">
                <div class="box-body table-responsive no-padding">
                    <table id="tblODA" class="table table-striped table-bordered marleft15" style="overflow:hidden;width:50%;">
                        <thead><tr><th>Cargo Type</th><th>Description</th><th></th></tr></thead>
                        <tbody>
                            <tr ng-repeat="cargotype in CargoTypes">
                                <td>{{cargotype.CargoType}}</td>
                                <td>{{cargotype.Description}}</td>
                                <td>
                                    <a ng-click="EditCargoTypeData(cargotype.CargoTypeID,cargotype.CargoType,cargotype.Description)" class="pull-left font20 marleft15"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                    <a class="pull-left marleft15 font20 delete" ng-click="DeleteCargoType(cargotype.CargoTypeID)"> <i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade bs-example-modal-lg" id="CargoTypeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmCargoType" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog  modal-lg" role="document" style="width: 20% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closeCargoType()" />
                    Add Cargo Type
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height:70px">

                        <div class="form-group col-lg-12" style="width: 100% !important">
                            <label>Cargo Type</label>
                            <input autocomplete="off" type="text" id="txtCargoType" class="form-control maxwidth" ng-model="CargoType.CargoType" ng-required="true" />
                        </div>
                        <div class="form-group col-lg-12" style="width: 100% !important">
                            <label>Description</label>
                            <input autocomplete="off" type="text" id="txtDescription" class="form-control maxwidth" ng-model="CargoType.Description" />
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="SaveCargoType()">Save</button>
                    <button type="submit" class="btn btn-warning" ng-click="closeCargoType()">Cancel</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" id="EditCargoTypeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmEditCargoType" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog  modal-lg" role="document" style=" width: 20% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closeEditCargoType()" />
                    Edit Cargo Type
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height:70px">

                        <div class="form-group col-lg-12" style="width: 100% !important">
                            <label>Cargo Type</label>
                            <input autocomplete="off" type="text" id="txtEditCargoType" class="form-control maxwidth" ng-model="EditCargoType.CargoType" ng-required="true" />
                        </div>
                        <div class="form-group col-lg-12" style="width: 100% !important">
                            <label>Description</label>
                            <input autocomplete="off" type="text" id="txtEditDescription" class="form-control maxwidth" ng-model="EditCargoType.Description" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="UpdateCargoType()">Save</button>
                        <button type="submit" class="btn btn-warning" ng-click="closeEditCargoType()">Cancel</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#liCargoTypeMaster").addClass("active");
        $("#liAdministrations").addClass("active");
    });
</script>

