﻿<div class="box" data-ng-app="App" data-ng-controller="ChargeTypeMaster_ngController" ng-init="GetChargeType()">


    <div class="box-header with-border col-lg-12">
        <h1 class="box-title">Manage Charge Types </h1>
        <a class="btn btn-primary pull-right" data-ng-click="AddChargeType()">+ Add Charge Type</a>
    </div>
    <div class="clearfix"></div>

    <div class="box-body">
        <div class="col-lg-12">
            <div class="row">
                <div class="box-body table-responsive no-padding">
                    <table id="tblCharge" class="table table-striped table-bordered marleft15" style="overflow:hidden;width:50%;">
                        <thead><tr><th>Charge Type</th><th></th></tr></thead>
                        <tbody>
                            <tr ng-repeat="type in ChargeTypes">
                                <td>{{type.ChargeType}}</td>
      
                                <td>
                                    <a ng-click="EditChargeTypeData(type.ChargeTypeID,type.ChargeType)" class="pull-left font20 marleft15"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                    <a class="pull-left marleft15 font20 delete" ng-click="DeleteChargeType(type.ChargeTypeID)"> <i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade bs-example-modal-lg" id="ChargeTypeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmChargeType" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog  modal-lg" role="document" style="width: 20% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closeChargeType()" />
                    Add Charge Type
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height:70px">

                        <div class="form-group col-lg-12" style="width: 100% !important">
                            <label>Charge Type</label>
                            <input autocomplete="off" type="text" id="txtChargeType" class="form-control maxwidth" ng-model="ChargeType.ChargeType" ng-required="true" />
                        </div>
                       
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="SaveChargeType()">Save</button>
                    <button type="submit" class="btn btn-warning" ng-click="closeChargeType()">Cancel</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" id="EditChargeTypeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmEditChargeType" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog  modal-lg" role="document" style=" width: 20% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closeEditChargeType()" />
                    Edit Charge Type
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height:70px">

                        <div class="form-group col-lg-12" style="width: 100% !important">
                            <label>Charge Type</label>
                            <input autocomplete="off" type="text" id="txtEditChargeType" class="form-control maxwidth" ng-model="EditChargeType.ChargeType" ng-required="true" />
                        </div>
                      
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="UpdateChargeType()">Save</button>
                        <button type="submit" class="btn btn-warning" ng-click="closeEditChargeType()">Cancel</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $("#liChargeTypeMaster").addClass("active");
        $("#liAdministrations").addClass("active");
    });
</script>

