﻿<div class="box" data-ng-app="App" data-ng-controller="CompanyMaster_ngController">


    <div class="box-header with-border col-lg-12">
        <h1 class="box-title">Manage Companies </h1>
        <a class="btn btn-primary pull-right" data-ng-click="AddCompany()">+ Add New Company</a>
    </div>
    <div class="clearfix"></div>

    <div class="box-body">
        <div class="col-lg-12">
            <div class="row">
                <div class="box-body table-responsive no-padding">
                    <table id="tblCompanys" datatable dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="fullwidth table table-striped table-bordered marleft15"></table>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade bs-example-modal-lg" id="CompanyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmCompany" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog  modal-lg" role="document" style="height: 450px !important; width: 65% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closeCompany()" />
                    Add Company
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height: 450px !important;">
                        <div class="form-group col-lg-12">
                            <div class="form-group col-lg-12" style="width: 100% !important">

                                <div class="form-group col-lg-4">
                                    <label>Company Name</label>
                                    <input autocomplete="off" type="text" id="txtName" class="form-control maxwidth" ng-model="CompanyDetails.CompanyName" ng-required="true" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Company Code</label>
                                    <input autocomplete="off" type="text" id="txtCompanyCode" class="form-control maxwidth" ng-model="CompanyDetails.CompanyCode" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Contact No</label>
                                    <input autocomplete="off" type="text" id="txtContactNo" class="form-control maxwidth" ng-model="CompanyDetails.ContactNo" />
                                </div>

                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>Address</label>
                                    <input autocomplete="off" type="text" id="txtAddress" class="form-control maxwidth" ng-model="CompanyDetails.Address" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Contact Person</label>
                                    <input autocomplete="off" type="text" id="txtContactPerson" class="form-control maxwidth" ng-model="CompanyDetails.ContactPerson" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Email ID</label>
                                    <input autocomplete="off" type="text" id="txtEmailID" class="form-control maxwidth" ng-model="CompanyDetails.EmailID" />
                                </div>

                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>Website</label>
                                    <input autocomplete="off" type="text" id="txtWebsite" class="form-control maxwidth" ng-model="CompanyDetails.Website" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>CTS No</label>
                                    <input autocomplete="off" type="text" id="txtCTSNo" class="form-control maxwidth" ng-model="CompanyDetails.CTSNo" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>TI No</label>
                                    <input autocomplete="off" type="text" id="txtTINo" class="form-control maxwidth" ng-model="CompanyDetails.TINo" />
                                </div>

                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>Pan No</label>
                                    <input autocomplete="off" type="text" id="txtPanNo" class="form-control maxwidth" ng-model="CompanyDetails.PanNo" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Service Tax No</label>
                                    <input autocomplete="off" type="text" id="txtServiceTaxNo" class="form-control maxwidth" ng-model="CompanyDetails.ServiceTaxNo" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>GST No</label>
                                    <input autocomplete="off" type="text" id="txtGSTNo" class="form-control maxwidth" ng-model="CompanyDetails.GSTNo" />
                                </div>

                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>TDS</label>
                                    <input autocomplete="off" type="text" id="txtTDS" class="form-control maxwidth" ng-model="CompanyDetails.TDS" />
                                </div>
                               
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="SaveCompany()">Save</button>
                    <button type="submit" class="btn btn-warning" ng-click="closeCompany()">Cancel</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" id="EditCompanyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmEditCompany" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog  modal-lg" role="document" style="height: 450px !important; width: 65% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closeEditCompany()" />
                    Edit Company
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height: 450px !important;">
                        <div class="form-group col-lg-12">
                            <div class="form-group col-lg-12" style="width: 100% !important">

                                <div class="form-group col-lg-4">
                                    <label>Company Name</label>
                                    <input autocomplete="off" type="text" id="txtName" class="form-control maxwidth" ng-model="EditCompany.CompanyName" ng-required="true" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Company Code</label>
                                    <input autocomplete="off" type="text" id="txtCompanyCode" class="form-control maxwidth" ng-model="EditCompany.CompanyCode" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Contact No</label>
                                    <input autocomplete="off" type="text" id="txtContactNo" class="form-control maxwidth" ng-model="EditCompany.ContactNo" />
                                </div>

                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>Address</label>
                                    <input autocomplete="off" type="text" id="txtAddress" class="form-control maxwidth" ng-model="EditCompany.Address" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Contact Person</label>
                                    <input autocomplete="off" type="text" id="txtContactPerson" class="form-control maxwidth" ng-model="EditCompany.ContactPerson" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Email ID</label>
                                    <input autocomplete="off" type="text" id="txtEmailID" class="form-control maxwidth" ng-model="EditCompany.EmailID" />
                                </div>

                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>Website</label>
                                    <input autocomplete="off" type="text" id="txtWebsite" class="form-control maxwidth" ng-model="EditCompany.Website" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>CTS No</label>
                                    <input autocomplete="off" type="text" id="txtCTSNo" class="form-control maxwidth" ng-model="EditCompany.CTSNo" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>TI No</label>
                                    <input autocomplete="off" type="text" id="txtTINo" class="form-control maxwidth" ng-model="EditCompany.TINo" />
                                </div>

                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>Pan No</label>
                                    <input autocomplete="off" type="text" id="txtPanNo" class="form-control maxwidth" ng-model="EditCompany.PanNo" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Service Tax No</label>
                                    <input autocomplete="off" type="text" id="txtServiceTaxNo" class="form-control maxwidth" ng-model="EditCompany.ServiceTaxNo" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>GST No</label>
                                    <input autocomplete="off" type="text" id="txtGSTNo" class="form-control maxwidth" ng-model="EditCompany.GSTNo" />
                                </div>

                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>TDS</label>
                                    <input autocomplete="off" type="text" id="txtTDS" class="form-control maxwidth" ng-model="EditCompany.TDS" />
                                </div>

                            </div>
                        </div>
                
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="UpdateCompany()">Save</button>
                        <button type="submit" class="btn btn-warning" ng-click="closeEditCompany()">Cancel</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#liCompanyMaster").addClass("active");
        $("#liAdministrations").addClass("active");
    });
</script>



