﻿<div class="box" data-ng-app="App" data-ng-controller="FOVMaster_ngController" ng-init="GetFOVs()">


    <div class="box-header with-border col-lg-12">
        <h1 class="box-title">Manage FOVs </h1>
        <a class="btn btn-primary pull-right" data-ng-click="AddFOV()">+ Add FOV</a>
    </div>
    <div class="clearfix"></div>

    <div class="box-body">
        <div class="col-lg-12">
            <div class="row">
                <div class="box-body table-responsive no-padding">
                    <table id="tblUsers" class="table table-striped table-bordered marleft15" style="overflow:hidden;width:50%;">
                        <thead><tr><th>FOV Percent </th><th></th></tr></thead>
                        <tbody>
                            <tr ng-repeat="f in FOVs">
                                <td>{{f.FOVPercent}}</td>
                                <td>
                                    <a ng-click="EditFOVData(f.FOVId,f.FOVPercent)" class="pull-left font20 marleft15"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                    <a class="pull-left marleft15 font20 delete" ng-click="DeleteFOV(f.FOVId)"> <i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade bs-example-modal-lg" id="FOVModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmFOV" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog  modal-lg" role="document" style="width: 20% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closeFOV()" />
                    Add FOV
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height:70px">

                        <div class="form-group col-lg-12" style="width: 100% !important">
                            <label>FOV </label>
                            <input autocomplete="off" type="text" id="txtFOV" class="form-control maxwidth" ng-model="FOV.FOVPercent" ng-required="true" />
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="SaveFOV()">Save</button>
                    <button type="submit" class="btn btn-warning" ng-click="closeFOV()">Cancel</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" id="EditFOVModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmEditFOV" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog  modal-lg" role="document" style=" width: 20% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closeEditFOV()" />
                    Edit FOV
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height:70px">

                        <div class="form-group col-lg-12" style="width: 100% !important">
                            <label>FOV</label>
                            <input autocomplete="off" type="text" id="txtEditFOV" class="form-control maxwidth" ng-model="EditFOV.FOVPercent" ng-required="true" />
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="UpdateFOV()">Save</button>
                        <button type="submit" class="btn btn-warning" ng-click="closeEditFOV()">Cancel</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#liFOVMaster").addClass("active");
        $("#liAdministrations").addClass("active");
    });
</script>



