﻿<div class="box" data-ng-app="App" data-ng-controller="GoodsMaster_ngController" ng-init="GetGoods()">


    <div class="box-header with-border col-lg-12">
        <h1 class="box-title">Manage Goods </h1>
        <a class="btn btn-primary pull-right" data-ng-click="AddGoods()">+ Add Goods</a>
    </div>
    <div class="clearfix"></div>

    <div class="box-body">
        <div class="col-lg-12">
            <div class="row">
                <div class="box-body table-responsive no-padding">
                    <table id="tblODA" class="table table-striped table-bordered marleft15" style="overflow:hidden;width:50%;">
                        <thead><tr><th>Goods Code</th><th>Description</th><th></th></tr></thead>
                        <tbody>
                            <tr ng-repeat="g in Goods">
                                <td>{{g.GoodsCode}}</td>
                                <td>{{g.GoodsDescription}}</td>
                                <td>
                                    <a ng-click="EditGoodsData(g.GoodsID,g.GoodsCode,g.GoodsDescription)" class="pull-left font20 marleft15"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                    <a class="pull-left marleft15 font20 delete" ng-click="DeleteGoods(g.GoodsID)"> <i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade bs-example-modal-lg" id="GoodsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmGoods" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog  modal-lg" role="document" style="width: 20% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closeGoods()" />
                    Add Goods
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height:70px">

                        <div class="form-group col-lg-12" style="width: 100% !important">
                            <label>Code</label>
                            <input autocomplete="off" type="text" id="txtGoods" class="form-control maxwidth" ng-model="GoodsData.GoodsCode" ng-required="true" />
                        </div>
                        <div class="form-group col-lg-12" style="width: 100% !important">
                            <label>Description</label>
                            <input autocomplete="off" type="text" id="txtDescription" class="form-control maxwidth" ng-model="GoodsData.GoodsDescription" />
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="SaveGoods()">Save</button>
                    <button type="submit" class="btn btn-warning" ng-click="closeGoods()">Cancel</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" id="EditGoodsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmEditGoods" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog  modal-lg" role="document" style=" width: 20% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closeEditGoods()" />
                    Edit Cargo Type
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height:70px">

                        <div class="form-group col-lg-12" style="width: 100% !important">
                            <label>Cargo Type</label>
                            <input autocomplete="off" type="text" id="txtEditGoods" class="form-control maxwidth" ng-model="EditGoods.GoodsCode" ng-required="true" />
                        </div>
                        <div class="form-group col-lg-12" style="width: 100% !important">
                            <label>Description</label>
                            <input autocomplete="off" type="text" id="txtEditDescription" class="form-control maxwidth" ng-model="EditGoods.GoodsDescription" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="UpdateGoods()">Save</button>
                        <button type="submit" class="btn btn-warning" ng-click="closeEditGoods()">Cancel</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#liGoodsMaster").addClass("active");
        $("#liAdministrations").addClass("active");
    });
</script>



