﻿<div class="box" data-ng-app="App" data-ng-controller="ODAMaster_ngController" ng-init="GetODA()">


    <div class="box-header with-border col-lg-12">
        <h1 class="box-title">Manage ODAs </h1>
        <a class="btn btn-primary pull-right" data-ng-click="AddODA()">+ Add New ODA</a>
    </div>
    <div class="clearfix"></div>

    <div class="box-body">
        <div class="col-lg-12">
            <div class="row">
                <div class="box-body table-responsive no-padding">
                    <table id="tblODA" class="table table-striped table-bordered marleft15" style="overflow:hidden;width:50%;">
                        <thead><tr><th>Pincode</th><th>Amount</th><th></th></tr></thead>
                        <tbody>
                            <tr ng-repeat="oda in ODAs">
                                <td>{{oda.PinCode}}</td>
                                <td>{{oda.ODAAmount}}</td>
                                <td>
                                    <a ng-click="EditODAData(oda.ODAID,oda.PinCode,oda.ODAAmount)" class="pull-left font20 marleft15"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                    <a class="pull-left marleft15 font20 delete" ng-click="DeleteODA(oda.ODAID)"> <i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade bs-example-modal-lg" id="ODAModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmODA" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog  modal-lg" role="document" style="width: 20% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closeODA()" />
                    Add ODA
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height:70px">

                        <div class="form-group col-lg-12" style="width: 100% !important">
                            <label>Pincode</label>
                            <input autocomplete="off" type="text" id="txtPinCode" class="form-control maxwidth" ng-model="ODA.PinCode" ng-required="true" />
                        </div>
                        <div class="form-group col-lg-12" style="width: 100% !important">
                            <label>Amount</label>
                            <input autocomplete="off" type="number" id="txtODAAmount" class="form-control maxwidth" ng-model="ODA.ODAAmount" ng-required="true" />
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="SaveODA()">Save</button>
                    <button type="submit" class="btn btn-warning" ng-click="closeODA()">Cancel</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" id="EditODAModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmEditRole" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog  modal-lg" role="document" style=" width: 20% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closeEditODA()" />
                    Edit ODA
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height:70px">

                        <div class="form-group col-lg-12" style="width: 100% !important">
                            <label>Pincode</label>
                            <input autocomplete="off" type="text" id="txtEditRoleName" class="form-control maxwidth" ng-model="EditODA.PinCode" ng-required="true" />
                        </div>
                        <div class="form-group col-lg-12" style="width: 100% !important">
                            <label>Amount</label>
                            <input autocomplete="off" type="number" id="txtEditRoleName" class="form-control maxwidth" ng-model="EditODA.ODAAmount" ng-required="true" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="UpdateODA()">Save</button>
                        <button type="submit" class="btn btn-warning" ng-click="closeEditODA()">Cancel</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#liODAMaster").addClass("active");
        $("#liAdministrations").addClass("active");
    });
</script>

