﻿<div class="box" data-ng-app="App" data-ng-controller="OtherVendorMaster_ngController">


    <div class="box-header with-border col-lg-12">
        <h1 class="box-title">Manage Vendors </h1>
        <a class="btn btn-primary pull-right" data-ng-click="AddVendor()">+ Add New Vendor</a>
    </div>
    <div class="clearfix"></div>

    <div class="box-body">
        <div class="col-lg-12">
            <div class="row">
                <div class="box-body table-responsive no-padding">
                    <table id="tblVendors" datatable dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="fullwidth table table-striped table-bordered marleft15"></table>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade bs-example-modal-lg" id="VendorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmVendor" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog  modal-lg" role="document" style="height: 350px !important; width: 65% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closeVendor()" />
                    Add Vendor
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height: 350px !important;">
                        <div class="form-group col-lg-12">
                            <div class="form-group col-lg-12" style="width: 100% !important">

                                <div class="form-group col-lg-4">
                                    <label>Vendor Name</label>

                                    <input autocomplete="off" type="text" class="form-control maxwidth" ng-model="Vendordata" ng-required="true" ng-keyup="complete(Vendordata)" />
                                    <ul class="list-group">
                                        <li class="list-group-item" ng-repeat="Vendor in filterVendor" ng-click="fillTextbox(Vendor)">{{Vendor}}</li>
                                    </ul>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Vendor Code</label>
                                    <input autocomplete="off" type="text" id="txtVendorCode" class="form-control maxwidth" ng-model="Vendor.VendorCode" ng-required="true" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>City</label>
                                    <input autocomplete="off" type="text" id="txtCity" class="form-control maxwidth" ng-model="Vendor.City" />
                                </div>
                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>State</label>
                                    <input autocomplete="off" type="text" id="txtState" class="form-control maxwidth" ng-model="Vendor.State" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Country</label>
                                    <input autocomplete="off" type="text" id="txtCountry" class="form-control maxwidth" ng-model="Vendor.Country" />
                                </div>

                                <div class="form-group col-lg-4">
                                    <label>Address</label>
                                    <input autocomplete="off" type="text" id="txtAddress" class="form-control maxwidth" ng-model="Vendor.Address" />
                                </div>


                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>Postal Code</label>
                                    <input autocomplete="off" type="text" id="txtPostalCode" class="form-control maxwidth" ng-model="Vendor.PostalCode" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Contact No</label>
                                    <input autocomplete="off" type="text" id="txtContactNo" class="form-control maxwidth" ng-model="Vendor.ContactNo" />
                                </div>

                            </div>

                        </div>

                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="SaveVendor()">Save</button>
                    <button type="submit" class="btn btn-warning" ng-click="closeVendor()">Cancel</button>
                </div>

            </div>
        </div>

    </div>
    <div class="modal fade bs-example-modal-lg" id="EditVendorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmEditVendor" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog  modal-lg" role="document" style="height: 350px !important; width: 65% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closeEditVendor()" />
                    Edit Vendor
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height: 350px !important;">
                        <div class="form-group col-lg-12">
                            <div class="form-group col-lg-12" style="width: 100% !important">

                                <div class="form-group col-lg-4">
                                    <label>Vendor Name</label>

                                    <input autocomplete="off" type="text" class="form-control maxwidth" ng-model="editVendordata" ng-required="true" ng-keyup="completeEdit(editVendordata)" />
                                    <ul class="list-group">
                                        <li class="list-group-item" ng-repeat="editVendor in filterEditVendor" ng-click="fillEditTextbox(editVendor)">{{editVendor}}</li>
                                    </ul>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Vendor Code</label>
                                    <input autocomplete="off" type="text" id="txtVendorCode" class="form-control maxwidth" ng-required="true" ng-model="EditVendor.VendorCode" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>City</label>
                                    <input autocomplete="off" type="text" id="txtCity" class="form-control maxwidth" ng-model="EditVendor.City" />
                                </div>
                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>State</label>
                                    <input autocomplete="off" type="text" id="txtState" class="form-control maxwidth" ng-model="EditVendor.State" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Country</label>
                                    <input autocomplete="off" type="text" id="txtCountry" class="form-control maxwidth" ng-model="EditVendor.Country" />
                                </div>

                                <div class="form-group col-lg-4">
                                    <label>Address</label>
                                    <input autocomplete="off" type="text" id="txtAddress" class="form-control maxwidth" ng-model="EditVendor.Address" />
                                </div>


                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>Postal Code</label>
                                    <input autocomplete="off" type="text" id="txtPostalCode" class="form-control maxwidth" ng-model="EditVendor.PostalCode" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Contact No</label>
                                    <input autocomplete="off" type="text" id="txtContactNo" class="form-control maxwidth" ng-model="EditVendor.ContactNo" />
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="UpdateVendor()">Save</button>
                        <button type="submit" class="btn btn-warning" ng-click="closeEditVendor()">Cancel</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#liVendorMaster").addClass("active");
        $("#liAdministrations").addClass("active");
    });
</script>

