﻿<div class="box" data-ng-app="App" data-ng-controller="PackagingMaster_ngController" ng-init="GetPackaging()">


    <div class="box-header with-border col-lg-12">
        <h1 class="box-title">Manage Packagings </h1>
        <a class="btn btn-primary pull-right" data-ng-click="AddPackaging()">+ Add Packaging</a>
    </div>
    <div class="clearfix"></div>

    <div class="box-body">
        <div class="col-lg-12">
            <div class="row">
                <div class="box-body table-responsive no-padding">
                    <table id="tblUsers" class="table table-striped table-bordered marleft15" style="overflow:hidden;width:50%;">
                        <thead><tr><th>Packaging </th><th></th></tr></thead>
                        <tbody>
                            <tr ng-repeat="package in Packagings">
                                <td>{{package.Packaging}}</td>
                                <td>
                                    <a ng-click="EditPackagingData(package.PackagingID,package.Packaging)" class="pull-left font20 marleft15"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                    <a class="pull-left marleft15 font20 delete" ng-click="DeletePackaging(package.PackagingID)"> <i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade bs-example-modal-lg" id="PackagingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmPackaging" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog  modal-lg" role="document" style="width: 20% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closePackaging()" />
                    Add Packaging
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height:70px">
                       
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <label>Packaging </label>
                                <input autocomplete="off" type="text" id="txtPackaging" class="form-control maxwidth" ng-model="PackagingData.Packaging" ng-required="true" />
                            </div>
                      
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="SavePackaging()">Save</button>
                    <button type="submit" class="btn btn-warning" ng-click="closePackaging()">Cancel</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" id="EditPackagingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmEditPackaging" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog  modal-lg" role="document" style=" width: 20% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closeEditPackaging()" />
                    Edit Packaging
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height:70px">
                      
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <label>Packaging</label>
                                <input autocomplete="off" type="text" id="txtEditRoleName" class="form-control maxwidth" ng-model="EditPackaging.Packaging" ng-required="true" />
                            </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="UpdatePackaging()">Save</button>
                        <button type="submit" class="btn btn-warning" ng-click="closeEditPackaging()">Cancel</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#liPackagingMaster").addClass("active");
        $("#liAdministrations").addClass("active");
    });
</script>

