﻿<div class="box" data-ng-app="App" data-ng-controller="PartNoMaster_ngController" ng-init="GetPartNos()">


    <div class="box-header with-border col-lg-12">
        <h1 class="box-title">Manage PartNos </h1>
        <a class="btn btn-primary pull-right" data-ng-click="AddPartNo()">+ Add PartNo</a>
    </div>
    <div class="clearfix"></div>

    <div class="box-body">
        <div class="col-lg-12">
            <div class="row">
                <div class="box-body table-responsive no-padding">
                    <table id="tblPartNo" class="table table-striped table-bordered marleft15" style="overflow:hidden;width:50%;">
                        <thead><tr><th>Part No </th><th>Per Price Weight</th><th>Vendor</th><th></th></tr></thead>
                        <tbody>
                            <tr ng-repeat="t in PartNos">
                                <td>{{t.PartNo}}</td>
                                <td>{{t.PerPriceWeight}}</td>
                                <td>{{t.VendorName}}</td>
                                <td>
                                    <a ng-click="EditPartNoData(t.PartNoID,t.PartNo,t.PerPriceWeight,t.VendorID)" class="pull-left font20 marleft15"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                    <a class="pull-left marleft15 font20 delete" ng-click="DeletePartNo(t.PartNoID)"> <i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade bs-example-modal-lg" id="PartNoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmPartNo" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog  modal-lg" role="document" style="width: 60% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closePartNo()" />
                    Add PartNo
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height:70px">

                        <div class="form-group col-lg-12" style="width: 100% !important">

                            <div class="form-group col-lg-4">
                                <label>Part No</label>
                                <input autocomplete="off" type="text" id="txtPartNo" class="form-control maxwidth" ng-model="PartNo.PartNo" ng-required="true" />
                            </div>
                            <div class="form-group col-lg-4">
                                <label>Per Price Weight</label>
                                <input autocomplete="off" type="text" id="txtPerPriceWeight" class="form-control maxwidth" ng-model="PartNo.PerPriceWeight" />
                            </div>
                            <div class="form-group col-lg-4">
                                <label>Vendor </label>
                                <select id="dpdnVendor" class="form-control" ng-model="PartNo.VendorID" ng-required="true"
                                        ng-init="value.VendorID == PartNo.VendorID" ng-options="value.VendorID as value.VendorName for (key, value) in Vendors">
                                    <option value="" ng-selected="PartNo.VendorID == ''">-Select-</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="SavePartNo()">Save</button>
                    <button type="submit" class="btn btn-warning" ng-click="closePartNo()">Cancel</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" id="EditPartNoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmEditPartNo" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog  modal-lg" role="document" style=" width: 60% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closeEditPartNo()" />
                    Edit PartNo
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height:70px">

                        <div class="form-group col-lg-12" style="width: 100% !important">
                            <div class="form-group col-lg-4">
                                <label>Part No</label>
                                <input autocomplete="off" type="text" id="txtPartNo" class="form-control maxwidth" ng-model="EditPartNo.PartNo" ng-required="true" />
                            </div>
                            <div class="form-group col-lg-4">
                                <label>Per Price Weight</label>
                                <input autocomplete="off" type="text" id="txtPerPriceWeight" class="form-control maxwidth" ng-model="EditPartNo.PerPriceWeight" />
                            </div>
                            <div class="form-group col-lg-4">
                                <label>Vendor </label>
                                <select id="dpdnVendor" class="form-control" ng-model="EditPartNo.VendorID" ng-required="true"
                                        ng-init="value.VendorID == EditPartNo.VendorID" ng-options="value.VendorID as value.VendorName for (key, value) in Vendors">
                                    <option value="" ng-selected="EditPartNo.VendorID == ''">-Select-</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="UpdatePartNo()">Save</button>
                        <button type="submit" class="btn btn-warning" ng-click="closeEditPartNo()">Cancel</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#liPartNoMaster").addClass("active");
        $("#liAdministrations").addClass("active");
    });
</script>



