﻿<div class="box" data-ng-app="App" data-ng-controller="PinCodeMaster_ngController" ng-init="GetPinCodes()">


    <div class="box-header with-border col-lg-12">
        <h1 class="box-title">Manage PinCodes </h1>
        <a class="btn btn-primary pull-right" data-ng-click="AddPinCode()">+ Add PinCode</a>
    </div>
    <div class="clearfix"></div>

    <div class="box-body">
        <div class="col-lg-12">
            <div class="row">
                <div class="box-body table-responsive no-padding">
                    <table id="tblUsers" class="table table-striped table-bordered marleft15" style="overflow:hidden;width:50%;">
                        <thead><tr><th>PinCode </th><th></th></tr></thead>
                        <tbody>
                            <tr ng-repeat="pin in PinCodes">
                                <td>{{pin.PinCode}}</td>
                                <td>
                                    <a ng-click="EditPinCodeData(pin.PinCodeId,pin.PinCode)" class="pull-left font20 marleft15"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                    <a class="pull-left marleft15 font20 delete" ng-click="DeletePinCode(pin.PinCodeId)"> <i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade bs-example-modal-lg" id="PinCodeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmPinCode" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog  modal-lg" role="document" style="width: 20% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closePinCode()" />
                    Add PinCode
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height:70px">

                        <div class="form-group col-lg-12" style="width: 100% !important">
                            <label>PinCode </label>
                            <input autocomplete="off" type="text" id="txtPinCode" class="form-control maxwidth" ng-model="PinCode.PinCode" ng-required="true" />
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="SavePinCode()">Save</button>
                    <button type="submit" class="btn btn-warning" ng-click="closePinCode()">Cancel</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" id="EditPinCodeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmEditPinCode" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog  modal-lg" role="document" style=" width: 20% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closeEditPinCode()" />
                    Edit PinCode
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height:70px">

                        <div class="form-group col-lg-12" style="width: 100% !important">
                            <label>PinCode</label>
                            <input autocomplete="off" type="text" id="txtEditPinCode" class="form-control maxwidth" ng-model="EditPinCode.PinCode" ng-required="true" />
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="UpdatePinCode()">Save</button>
                        <button type="submit" class="btn btn-warning" ng-click="closeEditPinCode()">Cancel</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#liPinCodesMaster").addClass("active");
        $("#liAdministrations").addClass("active");
    });
</script>



