﻿<div class="box" data-ng-app="App" data-ng-controller="TaxMaster_ngController" ng-init="GetTaxes()">


    <div class="box-header with-border col-lg-12">
        <h1 class="box-title">Manage Taxes </h1>
        <a class="btn btn-primary pull-right" data-ng-click="AddTax()">+ Add Tax</a>
    </div>
    <div class="clearfix"></div>

    <div class="box-body">
        <div class="col-lg-12">
            <div class="row">
                <div class="box-body table-responsive no-padding">
                    <table id="tblTax" class="table table-striped table-bordered marleft15" style="overflow:hidden;width:50%;">
                        <thead><tr><th>Tax Type </th><th>Tax Percent</th><th>Description</th><th>Status</th><th></th></tr></thead>
                        <tbody>
                            <tr ng-repeat="t in Taxes">
                                <td>{{t.TaxType}}</td>
                                <td>{{t.TaxPercent}}</td>
                                <td>{{t.Description}}</td>
                                <td>{{t.Status}}</td>
                                <td>
                                    <a ng-click="EditTaxData(t.TaxID,t.TaxType,t.TaxPercent,t.Description,t.Status)" class="pull-left font20 marleft15"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                    <a class="pull-left marleft15 font20 delete" ng-click="DeleteTax(t.TaxID)"> <i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade bs-example-modal-lg" id="TaxModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmTax" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog  modal-lg" role="document" style="width: 60% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closeTax()" />
                    Add Tax
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height:70px">

                        <div class="form-group col-lg-12" style="width: 100% !important">
                            <div class="form-group col-lg-3">
                                <label>Tax Type</label>
                                <input autocomplete="off" type="text" id="txtTaxType" class="form-control maxwidth" ng-model="Tax.TaxType" ng-required="true" />
                            </div>
                            <div class="form-group col-lg-3">
                                <label>Tax Percent</label>
                                <input autocomplete="off" type="text" id="txtTaxPercent" class="form-control maxwidth" ng-model="Tax.TaxPercent" ng-required="true" />
                            </div>
                            <div class="form-group col-lg-3">
                                <label>Description</label>
                                <input autocomplete="off" type="text" id="txtDescription" class="form-control maxwidth" ng-model="Tax.Description" />
                            </div>
                            <div class="form-group col-lg-3">
                                <label>Status</label>
                                <select id="drpStatus" class="form-control" ng-model="Tax.Status" ng-required="true">
                                    <option value="" ng-selected="Tax.Status == ''">-Select-</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="SaveTax()">Save</button>
                    <button type="submit" class="btn btn-warning" ng-click="closeTax()">Cancel</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" id="EditTaxModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmEditTax" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog  modal-lg" role="document" style=" width: 60% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closeEditTax()" />
                    Edit Tax
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height:70px">

                        <div class="form-group col-lg-12" style="width: 100% !important">
                            <div class="form-group col-lg-3">
                                <label>Tax Type</label>
                                <input autocomplete="off" type="text" id="txtTaxType" class="form-control maxwidth" ng-model="EditTax.TaxType" ng-required="true" />
                            </div>
                            <div class="form-group col-lg-3">
                                <label>Tax Percent</label>
                                <input autocomplete="off" type="text" id="txtTaxPercent" class="form-control maxwidth" ng-model="EditTax.TaxPercent" ng-required="true" />
                            </div>
                            <div class="form-group col-lg-3">
                                <label>Description</label>
                                <input autocomplete="off" type="text" id="txtDescription" class="form-control maxwidth" ng-model="EditTax.Description" />
                            </div>
                            <div class="form-group col-lg-3">
                                <label>Status</label>
                                <select ng-model="EditTax.Status" id="drpStatus" class="form-control" ng-required="true"
                                        ng-options="o.v as o.n for o in [{ n: 'Yes', v: true }, { n: 'No', v: false }]">
                                    <option value="" ng-selected="EditTax.Status == ''">-Select-</option>

                                </select>
                               
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="UpdateTax()">Save</button>
                        <button type="submit" class="btn btn-warning" ng-click="closeEditTax()">Cancel</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#liTaxMaster").addClass("active");
        $("#liAdministrations").addClass("active");
    });
</script>



