﻿<div class="box" data-ng-app="App" data-ng-controller="UserMaster_ngController">


    <div class="box-header with-border col-lg-12">
        <h1 class="box-title">Manage Users </h1>
        <a class="btn btn-primary pull-right" data-ng-click="AddUser()">+ Add New User</a>
    </div>
    <div class="clearfix"></div>

    <div class="box-body">
        <div class="col-lg-12">
            <div class="row">
                <div class="box-body table-responsive no-padding">
                    <table id="tblUsers" datatable dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="fullwidth table table-striped table-bordered marleft15"></table>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade bs-example-modal-lg" id="UserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmUser" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog  modal-lg" role="document" style="height: 450px !important; width: 65% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closeUser()" />
                    Add User
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height: 450px !important;">
                        <div class="form-group col-lg-12">
                            <div class="form-group col-lg-12" style="width: 100% !important">

                                <div class="form-group col-lg-4">
                                    <label>User Name</label>
                                    <input autocomplete="off" type="text" id="txtName" class="form-control maxwidth" ng-model="UserDetails.UserName" ng-required="true" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Address</label>
                                    <input autocomplete="off" type="text" id="txtAddress" class="form-control maxwidth" ng-model="UserDetails.Address" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Pincode</label>
                                    <input autocomplete="off" type="text" id="txtPincode" class="form-control maxwidth" ng-model="UserDetails.Pincode" />
                                </div>

                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>City</label>
                                    <input autocomplete="off" type="text" id="txtCity" class="form-control maxwidth" ng-model="UserDetails.city" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>State</label>
                                    <input autocomplete="off" type="text" id="txtState" class="form-control maxwidth" ng-model="UserDetails.state" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Nationality</label>
                                    <input autocomplete="off" type="text" id="txtNationality" class="form-control maxwidth" ng-model="UserDetails.Nationalty" />
                                </div>

                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>EmailID</label>
                                    <input autocomplete="off" type="email" id="txtEmailID" class="form-control maxwidth" ng-model="UserDetails.EmailID" ng-required="true" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Password</label>
                                    <input autocomplete="off" type="password" id="txtPassword" class="form-control maxwidth" ng-model="UserDetails.Password" ng-required="true" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>ContactNo</label>
                                    <input autocomplete="off" type="text" id="txtContact" class="form-control maxwidth" ng-model="UserDetails.ContactNo" />
                                </div>

                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>Zone</label>
                                    <select id="ddlZone" class="form-control" ng-required="true" ng-model="UserDetails.ZoneID">
                                        <option value="" selected>-Select-</option>
                                        <option data-ng-repeat="zone in Zones " value="{{zone.ZoneID}}" ng-selected="zone.ZoneID == UserDetails.ZoneID">{{zone.Zone}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Role</label>
                                    <select id="ddlRole" class="form-control" ng-required="true" ng-model="UserDetails.RoleID" ng-change="ChangeRole()">
                                        <option value="" selected>-Select-</option>
                                        <option data-ng-repeat="role in Roles " value="{{role.RoleID}}" ng-selected="role.RoleID == UserDetails.RoleID">{{role.RoleName}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Branch</label>
                                    <select id="ddlBranch" class="form-control" ng-required="(!isDisableBranchDropdown)" ng-model="UserDetails.BranchID" ng-disabled="(isDisableBranchDropdown)">
                                        <option value="" selected>-Select-</option>
                                        <option data-ng-repeat="br in Branches " value="{{br.BranchID}}" ng-selected="br.BranchID == UserDetails.BranchID">{{br.BranchName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>Reporting Manager</label>
                                    <select id="ddlReporting" class="form-control" ng-model="UserDetails.ReportingManagerID">
                                        <option value="" selected>-Select-</option>
                                        <option data-ng-repeat="re in ReportingManagers " value="{{re.UserID}}" ng-selected="re.UserID == UserDetails.ReportingManagerID">{{re.UserName}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Department</label>
                                    <select id="ddlDepartments" class="form-control" ng-model="UserDetails.DepartmentID">
                                        <option value="" selected>-Select-</option>
                                        <option data-ng-repeat="dep in Departments " value="{{dep.DepartmentID}}" ng-selected="dep.DepartmentID == UserDetails.DepartmentID">{{dep.Department}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>HO</label>
                                    <select id="drpHO" class="form-control" ng-model="UserDetails.HO">
                                        <option value="" ng-selected="UserDetails.HO == ''">-Select-</option>
                                        <option value="true">Yes</option>
                                        <option value="false">No</option>
                                    </select>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="SaveUser()">Save</button>
                    <button type="submit" class="btn btn-warning" ng-click="closeUser()">Cancel</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" id="EditUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmEditUser" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog  modal-lg" role="document" style="height: 450px !important; width: 65% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closeEditUser()" />
                    Edit User
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height: 450px !important;">
                        <div class="form-group col-lg-12">
                            <div class="form-group col-lg-12" style="width: 100% !important">

                                <div class="form-group col-lg-4">
                                    <label>User Name</label>
                                    <input autocomplete="off" type="text" id="txtEditName" class="form-control maxwidth" ng-model="EditUser.UserName" ng-required="true" />
                                </div>

                                <div class="form-group col-lg-4">

                                    <label>
                                        Address
                                    </label>
                                    <input autocomplete="off" type="text" id="txtEditAddress" class="form-control maxwidth" ng-model="EditUser.Address" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Pincode</label>
                                    <input autocomplete="off" type="text" id="txtEditPincode" class="form-control maxwidth" ng-model="EditUser.Pincode" />
                                </div>

                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>City</label>
                                    <input autocomplete="off" type="text" id="txtEditCity" class="form-control maxwidth" ng-model="EditUser.city" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>State</label>
                                    <input autocomplete="off" type="text" id="txtEditState" class="form-control maxwidth" ng-model="EditUser.state" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Nationality</label>
                                    <input autocomplete="off" type="text" id="txtEditNationality" class="form-control maxwidth" ng-model="EditUser.Nationalty" />
                                </div>

                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>EmailID</label>
                                    <input autocomplete="off" type="text" id="txtEditEmailID" class="form-control maxwidth" ng-model="EditUser.EmailID" ng-required="true" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Password</label>
                                    <input autocomplete="off" type="password" id="txtEditPassword" class="form-control maxwidth" ng-model="EditUser.Password" ng-required="true" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>ContactNo</label>
                                    <input autocomplete="off" type="text" id="txtEditContact" class="form-control maxwidth" ng-model="EditUser.ContactNo" />
                                </div>

                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>Zone</label>
                                    <select id="ddlEditZone" class="form-control" ng-required="true" ng-model="EditUser.ZoneID" 
                                            ng-init="value.ZoneID == EditUser.ZoneID" ng-options="value.ZoneID as value.Zone for (key, value) in Zones">
                                        <option value="">-- Select --</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Role</label>
                                    <select id="ddlEditRole" class="form-control" ng-required="true" ng-model="EditUser.RoleID" ng-change="ChangeEditRole()"
                                            ng-init="value.RoleID == EditUser.RoleID" ng-options="value.RoleID as value.RoleName for (key, value) in Roles">
                                        <option value="">-- Select --</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Branch</label>
                                    <select id="ddlEditBranch" class="form-control" ng-required="(!isDisableEditBranchDropdown)" ng-model="EditUser.BranchID" ng-disabled="(isDisableEditBranchDropdown)"
                                             ng-init="value.BranchID == EditUser.BranchID" ng-options="value.BranchID as value.BranchName for (key, value) in Branches">
                                        <option value="">-- Select --</option>
                                    </select>
                                  
                                </div>

                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>Reporting Manager</label>
                                    <select id="ddlEditReporting" class="form-control" ng-model="EditUser.ReportingManagerID"
                                            ng-init="value.UserID == EditUser.ReportingManagerID" ng-options="value.UserID as value.UserName for (key, value) in ReportingManagers">
                                        <option value="">-- Select --</option>
                                    </select>
                                   
                                </div>
                                <div class="form-group col-lg-4">

                                    <label>Department</label>
                                    <select id="ddlEditDepartments" class="form-control" ng-model="EditUser.DepartmentID"
                                            ng-init="value.DepartmentID == EditUser.DepartmentID" ng-options="value.DepartmentID as value.Department for (key, value) in Departments">
                                        <option value="">-- Select --</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>HO</label>
                                    <select ng-model="EditUser.HO" id="drpEditHO"  class="form-control" 
                                            ng-options="o.v as o.n for o in [{ n: 'Yes', v: true }, { n: 'No', v: false }]" >
                                        <option value="" ng-selected="EditUser.HO == ''">-Select-</option>

                                    </select>
                                   
                                </div>


                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="UpdateUser()">Save</button>
                        <button type="submit" class="btn btn-warning" ng-click="closeEditUser()">Cancel</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#liUserMaster").addClass("active");
        $("#liAdministrations").addClass("active");
    });
</script>

