﻿<div class="box" data-ng-app="App" data-ng-controller="UserRoleMaster_ngController" ng-init="GetRoles()">


    <div class="box-header with-border col-lg-12">
        <h1 class="box-title">Manage Roles </h1>
        <a class="btn btn-primary pull-right" data-ng-click="AddRole()">+ Add New Role</a>
    </div>
    <div class="clearfix"></div>

    <div class="box-body">
        <div class="col-lg-12">
            <div class="row">
                <div class="box-body table-responsive no-padding">
                    <table id="tblUsers" class="table table-striped table-bordered marleft15" style="overflow:hidden;width:50%;">
                        <thead><tr><th>Role Name</th><th></th></tr></thead>
                        <tbody>
                            <tr ng-repeat="role in Roles">
                                <td>{{role.RoleName}}</td>
                                <td>
                                    <a ng-click="EditRoleData(role.RoleID,role.RoleName)" class="pull-left font20 marleft15"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                    <a class="pull-left marleft15 font20 delete" ng-click="DeleteRole(role.RoleID)"> <i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade bs-example-modal-lg" id="RoleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmRole" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog  modal-lg" role="document" style="width: 20% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closeRole()" />
                    Add Role
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height:70px">
                       
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <label>Role Name</label>
                                <input autocomplete="off" type="text" id="txtRoleName" class="form-control maxwidth" ng-model="Role.RoleName" ng-required="true" />
                            </div>
                      
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="SaveRole()">Save</button>
                    <button type="submit" class="btn btn-warning" ng-click="closeRole()">Cancel</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" id="EditRoleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmEditRole" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog  modal-lg" role="document" style=" width: 20% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closeEditRole()" />
                    Edit User
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height:70px">
                      
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <label>Role Name</label>
                                <input autocomplete="off" type="text" id="txtEditRoleName" class="form-control maxwidth" ng-model="EditRole.RoleName" ng-required="true" />
                            </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="UpdateRole()">Save</button>
                        <button type="submit" class="btn btn-warning" ng-click="closeEditRole()">Cancel</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#liUserRoles").addClass("active");
        $("#liAdministrations").addClass("active");
    });
</script>

