﻿<div class="box" data-ng-app="App" data-ng-controller="VehicleHirePaymentTypeMaster_ngController" ng-init="GetPaymentType()">


    <div class="box-header with-border col-lg-12">
        <h1 class="box-title">Manage Vehicle Hire Payment Types </h1>
        <a class="btn btn-primary pull-right" data-ng-click="AddPaymentType()">+ Add Vehicle Hire Payment Type</a>
    </div>
    <div class="clearfix"></div>

    <div class="box-body">
        <div class="col-lg-12">
            <div class="row">
                <div class="box-body table-responsive no-padding">
                    <table id="tblODA" class="table table-striped table-bordered marleft15" style="overflow:hidden;width:50%;">
                        <thead><tr><th>Payment Type</th><th>Description</th><th></th></tr></thead>
                        <tbody>
                            <tr ng-repeat="paymenttype in PaymentTypes">
                                <td>{{paymenttype.PaymentType}}</td>
                                <td>{{paymenttype.Description}}</td>
                                <td>
                                    <a ng-click="EditPaymentTypeData(paymenttype.PaymentTypeID,paymenttype.PaymentType,paymenttype.Description)" class="pull-left font20 marleft15"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                    <a class="pull-left marleft15 font20 delete" ng-click="DeletePaymentType(paymenttype.PaymentTypeID)"> <i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade bs-example-modal-lg" id="PaymentTypeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmPaymentType" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog  modal-lg" role="document" style="width: 20% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closePaymentType()" />
                    Add Payment Type
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height:70px">

                        <div class="form-group col-lg-12" style="width: 100% !important">
                            <label>Payment Type</label>
                            <input autocomplete="off" type="text" id="txtPaymentType" class="form-control maxwidth" ng-model="PaymentType.PaymentType" ng-required="true" />
                        </div>
                        <div class="form-group col-lg-12" style="width: 100% !important">
                            <label>Description</label>
                            <input autocomplete="off" type="text" id="txtDescription" class="form-control maxwidth" ng-model="PaymentType.Description" />
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="SavePaymentType()">Save</button>
                    <button type="submit" class="btn btn-warning" ng-click="closePaymentType()">Cancel</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" id="EditPaymentTypeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmEditPaymentType" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog  modal-lg" role="document" style=" width: 20% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closeEditPaymentType()" />
                    Edit Payment Type
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height:70px">

                        <div class="form-group col-lg-12" style="width: 100% !important">
                            <label>Payment Type</label>
                            <input autocomplete="off" type="text" id="txtEditPaymentType" class="form-control maxwidth" ng-model="EditPaymentType.PaymentType" ng-required="true" />
                        </div>
                        <div class="form-group col-lg-12" style="width: 100% !important">
                            <label>Description</label>
                            <input autocomplete="off" type="text" id="txtEditDescription" class="form-control maxwidth" ng-model="EditPaymentType.Description" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="UpdatePaymentType()">Save</button>
                        <button type="submit" class="btn btn-warning" ng-click="closeEditPaymentType()">Cancel</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $("#liVehiclePaymentTypeMaster").addClass("active");
        $("#liAdministrations").addClass("active");
    });
</script>

