﻿<div class="box" data-ng-app="App" data-ng-controller="VehicleMaster_ngController">


    <div class="box-header with-border col-lg-12">
        <h1 class="box-title">Manage Vehicles </h1>
        <a class="btn btn-primary pull-right" data-ng-click="AddVehicle()">+ Add New Vehicle</a>
    </div>
    <div class="clearfix"></div>

    <div class="box-body">
        <div class="col-lg-12">
            <div class="row">
                <div class="box-body table-responsive no-padding">
                    <table id="tblVehicles" datatable dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="fullwidth table table-striped table-bordered marleft15"></table>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade bs-example-modal-lg" id="VehicleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmVehicle" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog  modal-lg" role="document" style="height: 350px !important; width: 65% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closeVehicle()" />
                    Add Vehicle Vehicle
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height: 350px !important;">
                        <div class="form-group col-lg-12">
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>Vehicle Name</label>
                                    <input autocomplete="off" type="text" class="form-control maxwidth" ng-model="Vehicle.VehicleName" ng-required="true" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Vehicle No</label>
                                    <input autocomplete="off" type="text" id="txtVehicleNo" class="form-control maxwidth" ng-model="Vehicle.VehicleNo" ng-required="true" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Vehicle Type</label>
                                    <input autocomplete="off" type="text" id="txtType" class="form-control maxwidth" ng-model="Vehicle.VehicleType" ng-required="true" />
                                </div>
                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>Registration Date</label>
                                    <input autocomplete="off" type="text" id="txtRegistrationDate" class="form-control maxwidth" ng-model="Vehicle.RegistrationDate" ng-required="true" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Fitness Exp Date</label>
                                    <input autocomplete="off" type="text" id="txtFitnessExpDate" class="form-control maxwidth" ng-model="Vehicle.FitnessExpDate" ng-required="true" />
                                </div>

                                <div class="form-group col-lg-4">
                                    <label>Insurance Exp Date</label>
                                    <input autocomplete="off" type="text" id="txtInsuranceExpDate" class="form-control maxwidth" ng-model="Vehicle.InsuranceExpDate" ng-required="true" />
                                </div>


                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>PUC Exp Date</label>
                                    <input autocomplete="off" type="text" id="txtPUCExpDate" class="form-control maxwidth" ng-model="Vehicle.PUCExpDate" ng-required="true" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Engine No</label>
                                    <input autocomplete="off" type="text" id="txtEngineNo" class="form-control maxwidth" ng-model="Vehicle.EngineNo" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Chasis No</label>
                                    <input autocomplete="off" type="text" id="txtChasisNo" class="form-control maxwidth" ng-model="Vehicle.ChasisNo" />
                                </div>
                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>Owner Type</label>
                                    <input autocomplete="off" type="text" id="txtOwnerType" class="form-control maxwidth" ng-model="Vehicle.OwnerType" ng-required="true" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Broker Name</label>
                                    <input autocomplete="off" type="text" id="txtBrokerName" class="form-control maxwidth" ng-model="Vehicle.BrokerName" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Vehicle Vendor</label> 
                                    <select id="ddlVendor" class="form-control" ng-model="Vehicle.VehicleVendorID" ng-required="true"
                                             ng-init="value.VehicleID == Vehicle.VehicleVendorID" ng-options="value.VendorID as value.VendorName for (key, value) in Vendors">
                                        <option value="">-- Select --</option>
                                    </select>
                                   
                                </div>
                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>Loading Capacity</label>
                                    <input autocomplete="off" type="text" id="txtloadingCapacity" class="form-control maxwidth" ng-model="Vehicle.loadingCapacity" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Max Loading Capacity</label>
                                    <input autocomplete="off" type="text" id="txtMaxloadingCapacity" class="form-control maxwidth" ng-model="Vehicle.MaxloadingCapacity" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Is Hired</label>
                                   
                                    <select id="drpHired" class="form-control" ng-model="Vehicle.isHiredVehicle">
                                        <option value="" ng-selected="Vehicle.isHiredVehicle == ''">-Select-</option>
                                        <option value="true">Yes</option>
                                        <option value="false">No</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="SaveVehicle()">Save</button>
                    <button type="submit" class="btn btn-warning" ng-click="closeVehicle()">Cancel</button>
                </div>

            </div>
        </div>

    </div>
    <div class="modal fade bs-example-modal-lg" id="EditVehicleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmEditVehicle" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog  modal-lg" role="document" style="height: 350px !important; width: 65% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closeEditVehicle()" />
                    Edit Vehicle
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height: 350px !important;">
                        <div class="form-group col-lg-12">
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>Vehicle Name</label>
                                    <input autocomplete="off" type="text" class="form-control maxwidth" ng-model="EditVehicle.VehicleName" ng-required="true" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Vehicle No</label>
                                    <input autocomplete="off" type="text" id="txtVehicleNo" class="form-control maxwidth" ng-model="EditVehicle.VehicleNo" ng-required="true" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Vehicle Type</label>
                                    <input autocomplete="off" type="text" id="txtType" class="form-control maxwidth" ng-model="EditVehicle.VehicleType" ng-required="true" />
                                </div>
                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>Registration Date</label>
                                    <input autocomplete="off" type="text" id="txtEditRegistrationDate" class="form-control maxwidth" ng-model="EditVehicle.RegistrationDate" ng-required="true" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Fitness Exp Date</label>
                                    <input autocomplete="off" type="text" id="txtEditFitnessExpDate" class="form-control maxwidth" ng-model="EditVehicle.FitnessExpDate" ng-required="true" />
                                </div>

                                <div class="form-group col-lg-4">
                                    <label>Insurance Exp Date</label>
                                    <input autocomplete="off" type="text" id="txtEditInsuranceExpDate" class="form-control maxwidth" ng-model="EditVehicle.InsuranceExpDate" ng-required="true" />
                                </div>


                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>PUC Exp Date</label>
                                    <input autocomplete="off" type="text" id="txtEditPUCExpDate" class="form-control maxwidth" ng-model="EditVehicle.PUCExpDate" ng-required="true" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Engine No</label>
                                    <input autocomplete="off" type="text" id="txtEngineNo" class="form-control maxwidth" ng-model="EditVehicle.EngineNo" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Chasis No</label>
                                    <input autocomplete="off" type="text" id="txtChasisNo" class="form-control maxwidth" ng-model="EditVehicle.ChasisNo" />
                                </div>
                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>Owner Type</label>
                                    <input autocomplete="off" type="text" id="txtOwnerType" class="form-control maxwidth" ng-model="EditVehicle.OwnerType" ng-required="true" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Broker Name</label>
                                    <input autocomplete="off" type="text" id="txtBrokerName" class="form-control maxwidth" ng-model="EditVehicle.BrokerName" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Vehicle Vendor</label>
                                    <select id="ddlVendor" class="form-control" ng-model="EditVehicle.VehicleVendorID" ng-required="true"
                                            ng-init="value.VehicleID == Vehicle.VehicleVendorID" ng-options="value.VendorID as value.VendorName for (key, value) in Vendors">
                                        <option value="">-- Select --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>Loading Capacity</label>
                                    <input autocomplete="off" type="text" id="txtloadingCapacity" class="form-control maxwidth" ng-model="EditVehicle.loadingCapacity" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Max Loading Capacity</label>
                                    <input autocomplete="off" type="text" id="txtMaxloadingCapacity" class="form-control maxwidth" ng-model="EditVehicle.MaxloadingCapacity" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Is Hired</label>
                                    <select ng-model="EditVehicle.isHiredVehicle" id="drpHired" class="form-control"
                                            ng-options="o.v as o.n for o in [{ n: 'Yes', v: true }, { n: 'No', v: false }]">
                                        <option value="" ng-selected="EditVehicle.isHiredVehicle == ''">-Select-</option>

                                    </select>
                                   
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="UpdateVehicle()">Save</button>
                        <button type="submit" class="btn btn-warning" ng-click="closeEditVehicle()">Cancel</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#liVehicleMaster").addClass("active");
        $("#liAdministrations").addClass("active");
    });
</script>

