﻿<div class="box" data-ng-app="App" data-ng-controller="ZoneMaster_ngController">


    <div class="box-header with-border col-lg-12">
        <h1 class="box-title">Manage Zones </h1>
        <a class="btn btn-primary pull-right" data-ng-click="AddZone()">+ Add New Zone</a>
    </div>
    <div class="clearfix"></div>

    <div class="box-body">
        <div class="col-lg-12">
            <div class="row">
                <div class="box-body table-responsive no-padding">
                    <table id="tblZones" datatable dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="fullwidth table table-striped table-bordered marleft15"></table>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade bs-example-modal-lg" id="ZoneModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmZone" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog  modal-lg" role="document" style="height: 450px !important; width: 65% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closeZone()" />
                    Add Zone
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height: 450px !important;">
                        <div class="form-group col-lg-12">
                            <div class="form-group col-lg-12" style="width: 100% !important">

                                <div class="form-group col-lg-4">
                                    <label>Zone</label>
                                    <input autocomplete="off" type="text" id="txtName" class="form-control maxwidth" ng-model="ZoneDetails.Zone" ng-required="true" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Address</label>
                                    <input autocomplete="off" type="text" id="txtZoneCode" class="form-control maxwidth" ng-model="ZoneDetails.Address" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Pincode</label>
                                    <input autocomplete="off" type="text" id="txtContactNo" class="form-control maxwidth" ng-model="ZoneDetails.Pincode" />
                                </div>

                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>city</label>
                                    <input autocomplete="off" type="text" id="txtAddress" class="form-control maxwidth" ng-model="ZoneDetails.city" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>state</label>
                                    <input autocomplete="off" type="text" id="txtContactPerson" class="form-control maxwidth" ng-model="ZoneDetails.state" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Nationality</label>
                                    <input autocomplete="off" type="text" id="txtEmailID" class="form-control maxwidth" ng-model="ZoneDetails.Nationalty" />
                                </div>

                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>Contact No</label>
                                    <input autocomplete="off" type="text" id="txtWebsite" class="form-control maxwidth" ng-model="ZoneDetails.ContactPerson" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Mobile No</label>
                                    <input autocomplete="off" type="text" id="txtCTSNo" class="form-control maxwidth" ng-model="ZoneDetails.MobileNo" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Email</label>
                                    <input autocomplete="off" type="text" id="txtTINo" class="form-control maxwidth" ng-model="ZoneDetails.Email" />
                                </div>

                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>Website</label>
                                    <input autocomplete="off" type="text" id="txtPanNo" class="form-control maxwidth" ng-model="ZoneDetails.Website" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Cash Limit</label>
                                    <input autocomplete="off" type="text" id="txtServiceTaxNo" class="form-control maxwidth" ng-model="ZoneDetails.CashLimit" />
                                </div>
                                

                            </div>
                           
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="SaveZone()">Save</button>
                    <button type="submit" class="btn btn-warning" ng-click="closeZone()">Cancel</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" id="EditZoneModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmEditZone" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog  modal-lg" role="document" style="height: 450px !important; width: 65% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closeEditZone()" />
                    Edit Zone
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height: 450px !important;">
                        <div class="form-group col-lg-12">
                            <div class="form-group col-lg-12" style="width: 100% !important">

                                <div class="form-group col-lg-4">
                                    <label>Zone</label>
                                    <input autocomplete="off" type="text" id="txtName" class="form-control maxwidth" ng-model="EditZone.Zone" ng-required="true" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Address</label>
                                    <input autocomplete="off" type="text" id="txtZoneCode" class="form-control maxwidth" ng-model="EditZone.Address" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Pincode</label>
                                    <input autocomplete="off" type="text" id="txtContactNo" class="form-control maxwidth" ng-model="EditZone.Pincode" />
                                </div>

                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>city</label>
                                    <input autocomplete="off" type="text" id="txtAddress" class="form-control maxwidth" ng-model="EditZone.city" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>state</label>
                                    <input autocomplete="off" type="text" id="txtContactPerson" class="form-control maxwidth" ng-model="EditZone.state" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Nationality</label>
                                    <input autocomplete="off" type="text" id="txtEmailID" class="form-control maxwidth" ng-model="EditZone.Nationalty" />
                                </div>

                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>Contact No</label>
                                    <input autocomplete="off" type="text" id="txtWebsite" class="form-control maxwidth" ng-model="EditZone.ContactPerson" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Mobile No</label>
                                    <input autocomplete="off" type="text" id="txtCTSNo" class="form-control maxwidth" ng-model="EditZone.MobileNo" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Email</label>
                                    <input autocomplete="off" type="text" id="txtTINo" class="form-control maxwidth" ng-model="EditZone.Email" />
                                </div>

                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>Website</label>
                                    <input autocomplete="off" type="text" id="txtPanNo" class="form-control maxwidth" ng-model="EditZone.Website" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Cash Limit</label>
                                    <input autocomplete="off" type="text" id="txtServiceTaxNo" class="form-control maxwidth" ng-model="EditZone.CashLimit" />
                                </div>


                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="UpdateZone()">Save</button>
                        <button type="submit" class="btn btn-warning" ng-click="closeEditZone()">Cancel</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#liZoneMaster").addClass("active");
        $("#liAdministrations").addClass("active");
    });
</script>



