﻿
@{
    ViewBag.Title = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="fullwidth text-center">
    <img src="~/Images/AccessDenied.png" /><br />
    <span class="labletitle" style="font-size:50px;color:#808080;margin-left:50px;">Access Denied</span>
</div>

