﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div>
        <tabs>
            <pane title="Localization">
                <span>Date: {{ '2012-04-01' | date:'fullDate' }}</span><br>
                <span>Currency: {{ 123456 | currency }}</span><br>
                <span>Number: {{ 98765.4321 | number }}</span><br>
            </pane>
            <pane title="Pluralization">
                <div ng-controller="LoginController">
                    <div ng-repeat="beerCount in beers">
                        <ng-pluralize count="beerCount" when="beerForms"></ng-pluralize>
                    </div>
                </div>
            </pane>
        </tabs>
    </div>
</body>
</html>