﻿@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<style>
    button {
        border-radius: 0 !important;
    }

    input[type=email], input[type=password] {
        max-width: 100% !important;
    }

    .errorBox {
        height: 20px;
    }

    .errorMessage {
        line-height: 200%;
        font-weight: 400 !important;
    }

    .successMessage {
        line-height: 200%;
        font-weight: 400 !important;
    }
</style>

<div data-ng-controller="LoginController">
    <div class="col-lg-3 col-md-3 col-sm-5 col-xs-10 LoginBoxCover">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 centerTxt" style="border-bottom:1px solid #ccc;">
                            <label class="LoginBoxHeader"><i>Welcome to <b>TMS</b></i></label>
                            @*<i><span style="font-size:15px" class="LoginBoxHeader">Integrated Business Management System</span></i>*@
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <input tabindex="1" autocomplete="off" type="email" class="form-control" id="txtUserName" name="EmailID" placeholder="Email" data-ng-model="userData.EmailID" ng-required="true">
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <input tabindex="2" autocomplete="off" type="password" class="form-control" id="txtUserPassword" name="Password" placeholder="Password" data-ng-model="userData.Password" ng-required="true">
                    </div>
                </div>
                <br />
                <div class="row marginBottom">
                    <div class="col-lg- col-md-12 col-sm-12 col-xs-12">
                        <button tabindex="3" data-ng-click="ValidateUser()" class="btn btn-block btn-warning">Login</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" data-backdrop="static" id="SelectRolesModel" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document" style="width:400px">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Sign-In As</h4>
                </div>
                <form name="frmEnquiryLeads" ng-submit="save()">
                    <div class="modal-body">
                        <div class="form-group col-lg-12">
                            <div class="form-group col-lg-12">
                                <label>Select Role to perform </label>
                            </div>
                            <div class="form-group col-lg-12">
                                <select data-ng-model="SELECTEDROLE" class="form-control maxwidth" ng-required="true" ng-change="SelectRole(SELECTEDROLE)">
                                    <option data-ng-repeat="role in RoleList" value="{{role.Name}}">{{role.Name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            @*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*@
                            <button type="submit" class="btn btn-primary btn-warning pull-right" ng-click="SaveRole()">Continue...</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>