﻿<div class="box box-warning" data-ng-app="App" data-ng-controller="OtherVendorBalancePayment_ngController">

    <div><input type="hidden" id="hdnBranchID" ng-model="BranchId" value='@ViewData["BranchId"]' /></div>
    <div class="box-body">
        <div class="col-lg-12">
            <div class="box-header with-border col-lg-12">
                <h3 class="box-title">Other Vendor Balance Payment</h3>
            </div>
            <div class="form-group col-lg-12">
                <div class="form-group col-lg-3">
                    <label>  Branch </label>
                    <select id="ddlBranch" class="form-control" readonly="@(Convert.ToString(ViewBag.BranchID) == "0"?false:true)">
                        <option value="0">-- Select --</option>
                        <option data-ng-repeat="br in Branches" ng-selected="br.BranchID==@ViewBag.BranchID" value="{{br.BranchID}}">{{br.BranchName}}</option>
                    </select>
                </div>
                <div class="form-group col-lg-3">
                    <button type="button" class="btn btn-primary martop25" ng-click="GetOtherVendorBalancePayment()">Search</button>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="box-body">
        <div class="col-lg-12">
            <div class="row">
                <div class="box-body table-responsive no-padding">
                    <table id="tblOtherVendorBalancePaymentCollection" datatable dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="fullwidth table table-striped table-bordered marleft15"></table>
                </div>
            </div>
        </div>

    </div>
    <div class="modal fade bs-example-modal-lg" id="OtherVendorPaymentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmOtherVendorPaymentData">
        <div class="modal-dialog  modal-lg width50" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="pull-left">
                        Consignment Payment
                    </span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="box box-warning">
                    <div class="modal-body">
                        <div class="form-group" ng-form="frmOtherVendorPaymentData" style="width: 100% !important">
                            <input type="hidden" ng-model="OtherVendorBalance.VendorExpenseID" />
                            <div class="col-lg-12">
                                <div class="form-group col-lg-4">
                                    <label>Expense Date</label>
                                    <input autocomplete="off" id="txtDate" type="text" class="form-control maxwidth" placeholder="Date" ng-model="OtherVendorBalance.ExpenseDate" ng-disabled="true">
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Vendor Name</label>
                                    <input autocomplete="off" id="txtVendorName" type="text" class="form-control maxwidth" ng-model="OtherVendorBalance.VendorName" ng-disabled="true">
                                </div>

                                <div class="form-group col-lg-4">
                                    <label> Vendor Invoice No</label>
                                    <input autocomplete="off" id="txtVendorInvoice" type="text" class="form-control maxwidth" placeholder="Date" ng-model="OtherVendorBalance.InvoiceNo" ng-disabled="true">
                                </div>
                                
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group col-lg-4">
                                    <label>Total Bill Amount </label>
                                    <input autocomplete="off" id="txtTotal" class="form-control maxwidth" ng-model="OtherVendorBalance.BillAmount" ng-disabled="true">
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Advance Amount </label>
                                    <input autocomplete="off" id="txtPaidAmount" type="number" class="form-control maxwidth" ng-model="OtherVendorBalance.AdvancePayment" ng-disabled="true">
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Balance Amount</label>
                                    <input id="txtBalanceAmount" autocomplete="off" type="text" class="form-control maxwidth" ng-model="OtherVendorBalance.BalanceAmount">
                                </div>
                            </div>
                            
                            <div class="col-lg-12">
                                <div class="form-group col-lg-4">
                                    <label>Payment Type</label>
                                    <select id="ddlPaymentTypeForPayment" class="form-control" ng-required="true" ng-model="OtherVendorBalance.PaymentTypeID" ng-change="SelectPaymentType()">
                                        <option value="" selected>-Select-</option>
                                        <option data-ng-repeat="pt in bankPaymentTypes" value="{{pt.PaymentTypeID  }}" ng-selected="pt.PaymentTypeID == OtherVendorBalance.PaymentTypeID">{{pt.PaymentType}}</option>

                                    </select>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Bank Name</label>
                                    <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Bank Name" ng-model="OtherVendorBalance.BankName">
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Branch Name</label>
                                    <input id="txtDeliveryTime" type="text" class="input-small form-control maxwidth" placeholder="Branch Name" ng-model="OtherVendorBalance.BranchName">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group col-lg-4">
                                    <label>Cheque No</label>
                                    <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="ChequeNo" ng-model="OtherVendorBalance.ChequeNo" ng-disabled="(isDisableCheque)" ng-required="(isRequiredCheque)">
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Cheque Date</label>
                                    <input id="chqDate" type="text" class="input-small form-control maxwidth" placeholder="Cheque Date" ng-model="OtherVendorBalance.ChequeDate" ng-disabled="(isDisableCheque)" ng-required="(isRequiredCheque)">
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Remarks</label>
                                    <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Remarks" ng-model="OtherVendorBalance.Remarks">
                                </div>
                            </div>
                           
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary col-md-pull-0" ng-click="AddPaymentForOtherVendor()">Pay</button>
                        <button type="button" class="btn btn-primary col-md-pull-0" ng-click="closeModal()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#liOtherVendorBalancePayment").addClass("active");
        $("#liPayment").addClass("active");
    });
</script>



