﻿<div class="box box-warning" data-ng-app="App" data-ng-controller="ToPayAndPaidCollection_ngController">
    <div><input type="hidden" id="hdnBranchID" ng-model="BranchId" value='@ViewData["BranchId"]' /></div>

    <div class="clearfix"></div>
    <div class="box-body">
        <div class="col-lg-12">
            <div class="box-header with-border col-lg-12">
                <h3 class="box-title">To Pay / Paid Collection</h3>
            </div>
            <div class="form-group col-lg-12">
                <div class="form-group col-lg-3">
                    <label>  Branch </label>
                    <select id="ddlBranch" class="form-control" readonly="@(Convert.ToString(ViewBag.BranchID) == "0"?false:true)">
                        <option value="0">-- Select --</option>
                        <option data-ng-repeat="br in Branches" ng-selected="br.BranchID==@ViewBag.BranchID" value="{{br.BranchID}}">{{br.BranchName}}</option>
                    </select>
                </div>
                <div class="form-group col-lg-3">
                    <button type="button" class="btn btn-primary martop25" ng-click="GetToPayAndPaidCollection()">Search</button>
                </div>
            </div>


        </div>

    </div>
    <div class="clearfix"></div>
    <div class="box-body">
        <div class="col-lg-12">
            <div class="row">
                <div class="box-body table-responsive no-padding">
                    <table id="tblToPayPaymentCollection" datatable dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="fullwidth table table-striped table-bordered marleft15"></table>
                </div>
            </div>
        </div>

    </div>
    <div class="modal fade bs-example-modal-lg" id="ToPayModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmToPayData">
        <div class="modal-dialog  modal-lg width50" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="pull-left">
                        Consignment Payment
                    </span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="box box-warning">
                    <div class="modal-body">
                        <div class="form-group" ng-form="frmToPay" style="width: 100% !important">
                            <input type="hidden" ng-model="ToPayConsignment.ConsignmentID" />
                            <div class="col-lg-12">
                                <div class="form-group col-lg-6">
                                    <label>Consignment No</label>
                                    <input autocomplete="off" id="txtConsignmentNo" type="text" class="form-control maxwidth" placeholder="Consignment No" ng-model="ToPayConsignment.ConsignmentNo" ng-required="true" ng-disabled="true">
                                </div>

                                <div class="form-group col-lg-6">
                                    <label> Consignment Date</label>
                                    <input autocomplete="off" id="txtConsignmentDate" type="text" class="form-control maxwidth" placeholder="Date" ng-model="ToPayConsignment.ConsignmentDate" ng-required="true" ng-disabled="true">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group col-lg-3">
                                    <label>Consignment Amount </label>
                                    <input autocomplete="off" id="txtConsignmentAmount" type="number" class="form-control maxwidth" placeholder="Consignment Amount" ng-model="ToPayConsignment.ConsignmentAmount" ng-required="true" ng-disabled="true">
                                </div>
                                <div class="form-group col-lg-3">
                                    <label>Paid Amount </label>
                                    <input autocomplete="off" id="txtPaidAmount" type="number" class="form-control maxwidth" placeholder="Paid Amount" ng-model="ToPayConsignment.PaidAmount" ng-required="true" ng-disabled="true">
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Amount To Pay </label>
                                    <input autocomplete="off" id="txtAmount" type="text" class="form-control maxwidth" placeholder="Amount" ng-model="ToPayConsignment.ReceivedAmount" ng-required="true" ng-false-value="0" ng-change="selectAmount()">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group col-lg-6">
                                    <label>Payment Type</label>
                                    <select id="ddlPaymentTypeForPayment" class="form-control" ng-required="true" ng-model="ToPayConsignment.PaymentTypeID" ng-change="SelectPaymentType()">
                                        <option value="" selected>-Select-</option>
                                        <option data-ng-repeat="pt in bankPaymentTypes" value="{{pt.PaymentTypeID  }}" ng-selected="pt.PaymentTypeID == ToPayConsignment.PaymentTypeID">{{pt.PaymentType}}</option>

                                    </select>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Bank Name</label>
                                    <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Bank Name" ng-model="ToPayConsignment.BankName">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group col-lg-6">
                                    <label>Branch Name</label>
                                    <input id="txtDeliveryTime" type="text" class="input-small form-control maxwidth" placeholder="Branch Name" ng-model="ToPayConsignment.BranchName">
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Cheque No</label>
                                    <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="ChequeNo" ng-model="ToPayConsignment.ChequeNo" ng-disabled="(isDisableCheque)" ng-required="(isRequiredCheque)">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group col-lg-6">
                                    <label>Cheque Date</label>
                                    <input id="chqDate" type="text" class="input-small form-control maxwidth" placeholder="Cheque Date" ng-model="ToPayConsignment.ChequeDate" ng-disabled="(isDisableCheque)" ng-required="(isRequiredCheque)">
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Remarks</label>
                                    <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Remarks" ng-model="ToPayConsignment.Remarks">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group col-lg-6">
                                    <label>Received Date</label>
                                    <input id="txtDeliveryTime" type="text" class="input-small form-control maxwidth" ng-model="ToPayConsignment.ReceivedDate" ng-disabled="true">
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Received Time</label>
                                    <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Remarks" ng-model="ToPayConsignment.ReceivedTime" ng-disabled="true">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary col-md-pull-0" ng-click="AddPaymentForConsignment()">Pay</button>
                        <button type="button" class="btn btn-primary col-md-pull-0" ng-click="closeModal()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#liToPayAndPaidCollection").addClass("active");
        $("#liPayment").addClass("active");
    });
</script>



