﻿<div class="box box-warning" data-ng-app="App" data-ng-controller="VehicleVendorDeposite_ngController">
    <div><input type="hidden" id="hdnBranchID" ng-model="BranchId" value='@ViewData["BranchId"]' /></div>

    <div class="clearfix"></div>
    <div class="box-body">
        <div class="col-lg-12">
            <div class="box-header with-border col-lg-12">
                <h3 class="box-title">Vehicle Vendor Deposite</h3>
            </div>
            <div class="form-group col-lg-12">
                <div class="form-group col-lg-3">
                    <label>  Branch </label>
                    <select id="ddlBranch" class="form-control" readonly="@(Convert.ToString(ViewBag.BranchID) == "0"?false:true)">
                        <option value="0">-- Select --</option>
                        <option data-ng-repeat="br in Branches" ng-selected="br.BranchID==@ViewBag.BranchID" value="{{br.BranchID}}">{{br.BranchName}}</option>
                    </select>
                </div>

                <div class="form-group col-lg-3 pull-right">
                    <button type="button" class="btn btn-primary martop25 pull-right" ng-click="AddDepositeModal()">+ Add</button>
                </div>
            </div>


        </div>

    </div>
    <div class="clearfix"></div>
    <div class="box-body">
        <div class="col-lg-12">
            <div class="row">
                <div class="box-body table-responsive no-padding">
                    <table id="tblDepositeCollection" datatable dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="fullwidth table table-striped table-bordered marleft15"></table>
                </div>
            </div>
        </div>

    </div>
    <div class="modal fade bs-example-modal-lg" id="DepositeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmDeposite">
        <div class="modal-dialog  modal-lg width50" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="pull-left">
                        Deposite
                    </span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="box box-warning">


                    <div class="modal-body">
                        <div class="form-group" ng-form="frmDeposite" style="width: 100% !important">
                            <input type="hidden" ng-model="Deposite.BranchID" />
                            <div class="col-lg-12">
                                <div class="col-lg-4">
                                    <label>Deposite Date</label>
                                    <input autocomplete="off" type="text" id="txtDepositeDate" class="form-control maxwidth" placeholder="Date" ng-model="Deposite.Date" readonly>
                                </div>
                                <div class="form-group col-lg-3">
                                    <label>Vehicle Vendor</label>
                                    <select id="ddlVendor" class="form-control" ng-model="Deposite.VehicleVendorID" ng-required="true">
                                        <option value="" ng-selected="">-- Select --</option>
                                        <option data-ng-repeat="v in Vendors" value="{{v.VendorID}}">{{v.VendorName}}</option>
                                    </select>
                                </div>
                                @*<div class="form-group col-lg-4">
                                        <label>Branch Balance Amount</label>
                                        <input autocomplete="off" id="txtBalance" type="text" class="form-control maxwidth" placeholder="Balance Amount" ng-model="BalanceAmount" ng-disabled="true">
                                    </div>*@

                                <div class="form-group col-lg-4">
                                    <label> Deposite Amount</label>
                                    <input autocomplete="off" id="txtDeposite" type="text" class="form-control maxwidth" placeholder="0" ng-model="Deposite.DepositeAmount" ng-required="true">
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary col-md-pull-0" ng-click="AddDeposite()">Pay</button>
                        <button type="button" class="btn btn-primary col-md-pull-0" ng-click="closeModal()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#liVehicleVendorDeposite").addClass("active");
        $("#liPayment").addClass("active");
    });
</script>



