﻿<div class="box" data-ng-app="App" data-ng-controller="ConsignmentPayment_ngController">
    <div>
        <input type="hidden" id="hdnBranchID" ng-model="BranchId" value='@ViewBag.BranchID' />
    </div>

    <div class="box-body">
        <div class="col-lg-12">
            <div class="box-header with-border col-lg-12">
                <h1 class="box-title">Consignment Payment</h1>
                <a class="btn btn-primary pull-right martop25" ng-click="AddBillPayment()">+ Add Bill Payment </a>
            </div>
          
        </div>

    </div>
    <div class="clearfix"></div>
    <div class="box-body">
        <div class="col-lg-12">
            <div class="row">
                <div class="box-body table-responsive no-padding">
                    <table id="tblConsignmentPayment" datatable dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="fullwidth table table-striped table-bordered marleft15"></table>
                </div>
            </div>
        </div>

    </div>



    <div class="modal fade bs-example-modal-lg" id="ConsignmentPaymentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmConsignmentPayment" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog  modal-lg" role="document" style="height: 600px !important; width: 75% !important;" >
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closeConsignmentPayment()" />
                    Add Payment
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height: 600px !important;">
                        <div class="form-group col-lg-12" ng-form="frmConsignmentPayment">
                            <div class="form-group col-lg-12" style="width: 100% !important">

                                <div class="form-group col-lg-3">
                                    <label>Payment Date</label>
                                    <input autocomplete="off" type="text" id="txtPaymentDate" class="form-control maxwidth" ng-model="ConsignmentVoucher.VoucherDate" ng-required="true" ng-readonly="true">
                                </div>

                                <div class="form-group col-lg-3">
                                    <label>Consignment Bill</label>
                                    <select id="ddlBill" class="form-control" ng-required="true" ng-model="ConsignmentVoucher.ConsignmentBillingID" ng-change="changeBill()">
                                        <option value="" selected>-Select-</option>
                                        <option data-ng-repeat="bill in Bills" value="{{bill.ConsignmentBillingID}}" ng-selected="bill.ConsignmentBillingID == ConsignmentVoucher.ConsignmentBillingID">{{bill.BillingNo}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-3">
                                    <label>Payment Type</label>
                                    <select id="ddlPaymentType" class="form-control" ng-change="ChangePaymentType()" ng-required="true" ng-model="ConsignmentVoucher.PaymentTypeID">
                                        <option value="" selected>-Select-</option>
                                        <option data-ng-repeat="pt in PaymentTypes " value="{{pt.PaymentTypeID}}" ng-selected="pt.PaymentTypeID == Voucher.PaymentTypeID">{{pt.PaymentType}}</option>

                                    </select>
                                </div>
                                <div class="form-group col-lg-3">
                                    <label>Balance Amount</label>
                                    <input autocomplete="off" type="text" id="txtBalanceAmount" class="form-control maxwidth" ng-model="BalanceAmount" ng-readonly="true" placeholder="0">
                                </div>
                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">

                                <div class="form-group col-lg-3">
                                    <label>Bank Name</label>
                                    <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Bank Name" ng-model="ConsignmentVoucher.BankName">
                                </div>
                                <div class="form-group col-lg-3">
                                    <label>Branch Name</label>
                                    <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Branch Name" ng-model="ConsignmentVoucher.BranchName">
                                </div>
                                <div class="form-group col-lg-3">
                                    <label>Cheque No</label>
                                    <input autocomplete="off" type="text" ng-disabled="(isDisableCheque)" class="form-control maxwidth" placeholder="Cheque No" ng-model="ConsignmentVoucher.ChequeNo" ng-required="(!isDisableCheque)">
                                </div>
                                <div class="form-group col-lg-3 martop25">
                                    <label></label>
                                    <input type="checkbox" id="chkBalance" ng-model="UseBalanceAmount" ng-change="changeBalancePayment()">&nbsp;Use Balance Amount
                                </div>
                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">


                                <div class="form-group col-lg-3">
                                    <label>Cheque Date</label>
                                    <input autocomplete="off" id="chqDate" ng-disabled="(isDisableCheque)" type="text" class="form-control maxwidth" placeholder="Cheque Date" ng-model="ConsignmentVoucher.ChequeDate" ng-required="(!isDisableCheque)">
                                </div>
                                <div class="form-group col-lg-3">
                                    <label>Amount</label>
                                    <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Voucher Amount" ng-model="ConsignmentVoucher.VoucherAmount" ng-required="true">
                                </div>
                                <div class="form-group col-lg-3">
                                    <label>Remaining Amount</label>
                                    <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Remaining Amount" ng-model="RemainingAmount" ng-required="true" ng-disabled="true">
                                </div>
                                <div class="form-group col-lg-3">
                                    <label> Particulars</label>
                                    <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Particulars" ng-model="ConsignmentVoucher.Remarks">

                                </div>
                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">


                                <div class="form-group col-lg-3">
                                    <label>TDS (%)</label>
                                    <input autocomplete="off" id="txtTDS" type="text" class="form-control maxwidth" placeholder="TDS" ng-model="ConsignmentVoucher.TDS" ng-change="calculateReceivedAmount()">
                                </div>
                                <div class="form-group col-lg-3">
                                    <label>Trade Percentage (%)</label>
                                    <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Trade" ng-model="ConsignmentVoucher.Trade" ng-change="calculateReceivedAmount()">
                                </div>
                                <div class="form-group col-lg-3">
                                    <label>Short Amount</label>
                                    <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Short Amount" ng-model="ConsignmentVoucher.ShortAmount" ng-change="calculateReceivedAmount()">
                                </div>
                                <div class="form-group col-lg-3">
                                    <label> Received Amount</label>
                                    <input autocomplete="off" type="text" class="form-control maxwidth" ng-model="ReceivedAmount" placeholder="0" ng-readonly="true">

                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-12 martop25" ng-hide="HideConsignment">
                            <table border="1" class="simpletbl">
                                <thead>
                                    <tr>

                                        <th>Consignment No</th>
                                        <th>Consignment Date</th>
                                        <th>Invoice No</th>
                                        <th>From</th>
                                        <th>To</th>
                                        <th>Consignee</th>
                                        <th>Consignor</th>
                                        <th>Article</th>
                                        <th>Actual Weight</th>
                                        <th>Basic Freight</th>
                                        <th>FOV</th>
                                        <th>Docket Charges</th>
                                        <th>Hamali Charges</th>
                                        <th>Pickup</th>
                                        <th>DD Charges</th>
                                        <th>ODA Charges</th>
                                        <th>Other AOC</th>
                                        <th>Other Charges</th>
                                        <th>Total Amount</th>
                                        <th>Taxes</th>
                                        <th>Grand Total</th>

                                    </tr>
                                </thead>
                                <tr ng-repeat="bookings in BillingConsignmentData">

                                    <td>{{bookings.ConsignmentNo}}</td>
                                    <td>{{bookings.Consignmentdate}}</td>
                                    <td>{{bookings.InvoiceNo}}</td>
                                    <td>{{bookings.FromBranch}}</td>
                                    <td>{{bookings.ToBranch}}</td>
                                    <td>{{bookings.ConsigneeName}}</td>
                                    <td>{{bookings.ConsignorName}}</td>
                                    <td>{{bookings.Article}}</td>
                                    <td>{{bookings.ActualWeight}}</td>
                                    <td>{{bookings.BasicFreight}}</td>
                                    <td>{{bookings.FOV}}</td>
                                    <td>{{bookings.DocketCharges}}</td>
                                    <td>{{bookings.HamaliCharges}}</td>
                                    <td>{{bookings.Pickup}}</td>
                                    <td>{{bookings.DDCharges}}</td>
                                    <td>{{bookings.ODACharges}}</td>
                                    <td>{{bookings.OtherAOC}}</td>
                                    <td>{{bookings.OtherCharges}}</td>
                                    <td>{{bookings.TotalAmount}}</td>
                                    <td>{{bookings.Taxes}}</td>
                                    <td>{{bookings.GrandTotal}}</td>
                                </tr>

                            </table>
                        </div>
                        <div class="form-group col-lg-12" style="width: 100% !important" ng-hide="HideConsignment">
                            <div class="pull-right">
                                <label>Total Article :</label>&nbsp;{{TotalArticles}}
                                &nbsp;&nbsp;
                                <label>Total Actual Weight :</label>&nbsp;{{TotalActualWeight}}
                                &nbsp;&nbsp;
                                <label>Total Amount :</label>&nbsp;{{TotalAmount}}
                            </div>

                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="SaveConsignmentPayment()">Save</button>
                    <button type="submit" class="btn btn-warning" ng-click="closeConsignmentPayment()">Cancel</button>
                </div>

            </div>
        </div>
    </div>

  
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $("#liConsignmentPayment").addClass("active");
        $("#liOperations").addClass("active");
    });
</script>



