﻿<div class="box" data-ng-app="App" data-ng-controller="VendorExpense_ngController">
    <div>
        <input type="hidden" id="hdnBranchID" ng-model="BranchId" value='@ViewBag.BranchID' />
    </div>

    <div class="box-header with-border col-lg-12">
        <h1 class="box-title">Vendor Expense</h1>
        <a class="btn btn-primary pull-right martop25" ng-click="AddExpense()">+ Add </a>
    </div>

    <div class="clearfix"></div>

    <div class="box-body">
        <div class="col-lg-12">
            <div class="row">
                <div class="box-body table-responsive no-padding">
                    <table id="tblExpense" datatable dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="fullwidth table table-striped table-bordered marleft15"></table>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade bs-example-modal-lg" id="ExpenseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmExpense" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog  modal-lg" role="document" style="height: 450px !important; width: 60% !important;" @*style="overflow-y: scroll; max-height:85%;  margin-top: 50px; margin-bottom:50px;"*@>
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closeExpense()" />
                    Add Expense
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height: 450px !important;">
                        <div class="form-group col-lg-12" ng-form="frmExpense">
                            <div class="form-group col-lg-12" style="width: 100% !important">

                                <div class="form-group col-lg-4">
                                    <label>Expense Date</label>
                                    <input autocomplete="off" type="text" id="txtVoucherDate" class="form-control maxwidth" ng-model="Expense.ExpenseDate" ng-required="true" ng-readonly="true">
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Vendor</label>
                                    <select id="dpdnVendors" class="form-control" ng-model="Expense.VendorID" ng-required="true"
                                            ng-init="value.VendorID == Expense.VendorID" ng-options="value.VendorID as value.VendorName for (key, value) in Vendors">
                                        <option value="" ng-selected="Expense.VendorID == ''">-Select-</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Invoice No</label>
                                    <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Invoice No" ng-model="Expense.InvoiceNo">
                                </div>
                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">

                                <div class="form-group col-lg-4">
                                    <label>Bill Amount</label>
                                    <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Bill Amount" ng-model="Expense.BillAmount" ng-required="true" ng-change="calculateBalanceAmount()">
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Advance Amount</label>
                                    <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Advance Amount" ng-model="Expense.AdvancePayment" ng-required="true" ng-change="calculateBalanceAmount()">
                                </div>

                                <div class="form-group col-lg-4">
                                    <label>Balance Amount</label>
                                    <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Balance Amount" ng-model="Expense.BalanceAmount" ng-required="true" ng-readonly="true">
                                </div>
                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">

                                <div class="form-group col-lg-4">
                                    <label>Payment Type</label>
                                    <select id="ddlPaymentType" class="form-control" ng-change="ChangePaymentType()" ng-required="true" ng-model="Expense.PaymentTypeID">
                                        <option value="" selected>-Select-</option>
                                        <option data-ng-repeat="pt in PaymentTypes " value="{{pt.PaymentTypeID}}" ng-selected="pt.PaymentTypeID == Expense.PaymentTypeID">{{pt.PaymentType}}</option>

                                    </select>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Bank Name</label>
                                    <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Bank Name" ng-model="Expense.BankName">
                                </div>

                                <div class="form-group col-lg-4">
                                    <label>Branch Name</label>
                                    <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Branch Name" ng-model="Expense.BranchName">
                                </div>
                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">

                                <div class="form-group col-lg-4">
                                    <label>Cheque No</label>
                                    <input autocomplete="off" type="text" ng-disabled="(isDisableCheque)" class="form-control maxwidth" placeholder="Cheque No" ng-model="Expense.ChequeNo" ng-required="(!isDisableCheque)">
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Cheque Date</label>
                                    <input autocomplete="off" id="chqDate" ng-disabled="(isDisableCheque)" type="text" class="form-control maxwidth" placeholder="Cheque Date" ng-model="Expense.ChequeDate" ng-required="(!isDisableCheque)">
                                </div>
                                <div class="form-group col-lg-4">
                                    <label> Particulars</label>
                                    <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Particulars" ng-model="Expense.Particulars">

                                </div>
                            </div>
                            
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="SaveExpense()">Save</button>
                    <button type="submit" class="btn btn-warning" ng-click="closeExpense()">Cancel</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" id="EditExpenseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog  modal-lg" role="document" style="height: 450px !important; width: 60% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closeUpdateExpense()" />
                    Edit Expense
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height: 450px !important;">
                        <div class="form-group col-lg-12" ng-form="frmEditExpense">
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <input type="hidden" ng-model="EditExpense.VendorExpenseID"/>
                                <div class="form-group col-lg-4">
                                    <label>Expense Date</label>
                                    <input autocomplete="off" type="text" id="txtVoucherDate" class="form-control maxwidth" ng-model="EditExpense.ExpenseDate" ng-required="true" ng-readonly="true">
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Vendor</label>
                                    <select id="dpdnVendors" class="form-control" ng-model="EditExpense.VendorID" ng-required="true"
                                            ng-init="value.VendorID == EditExpense.VendorID" ng-options="value.VendorID as value.VendorName for (key, value) in Vendors">
                                        <option value="" ng-selected="EditExpense.VendorID == ''">-Select-</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Invoice No</label>
                                    <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Invoice No" ng-model="EditExpense.InvoiceNo">
                                </div>
                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">

                                <div class="form-group col-lg-4">
                                    <label>Bill Amount</label>
                                    <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Bill Amount" ng-model="EditExpense.BillAmount" ng-required="true" ng-change="calculateBalanceAmount()" ng-readonly="true">
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Advance Amount</label>
                                    <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Advance Amount" ng-model="EditExpense.AdvancePayment" ng-required="true" ng-change="calculateBalanceAmount()" ng-readonly="true">
                                </div>

                                <div class="form-group col-lg-4">
                                    <label>Balance Amount</label>
                                    <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Balance Amount" ng-model="EditExpense.BalanceAmount" ng-required="true" ng-readonly="true">
                                </div>
                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">

                                <div class="form-group col-lg-4">
                                    <label>Payment Type</label>
                                    <select id="ddlEditPaymentType" class="form-control" ng-change="ChangeEditPaymentType()" ng-required="true" ng-model="EditExpense.PaymentTypeID">
                                        <option value="" selected>-Select-</option>
                                        <option data-ng-repeat="pt in PaymentTypes " value="{{pt.PaymentTypeID}}" ng-selected="pt.PaymentTypeID == EditExpense.PaymentTypeID">{{pt.PaymentType}}</option>

                                    </select>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Bank Name</label>
                                    <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Bank Name" ng-model="EditExpense.BankName">
                                </div>

                                <div class="form-group col-lg-4">
                                    <label>Branch Name</label>
                                    <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Branch Name" ng-model="EditExpense.BranchName">
                                </div>
                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">

                                <div class="form-group col-lg-4">
                                    <label>Cheque No</label>
                                    <input autocomplete="off" type="text" ng-disabled="(isDisableCheque)" class="form-control maxwidth" placeholder="Cheque No" ng-model="EditExpense.ChequeNo" ng-required="(!isDisableCheque)">
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Cheque Date</label>
                                    <input autocomplete="off" id="chqEditDate" ng-disabled="(isDisableCheque)" type="text" class="form-control maxwidth" placeholder="Cheque Date" ng-model="EditExpense.ChequeDate" ng-required="(!isDisableCheque)">
                                </div>
                                <div class="form-group col-lg-4">
                                    <label> Particulars</label>
                                    <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Particulars" ng-model="EditExpense.Particulars">

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="UpdateExpense()">Save</button>
                    <button type="submit" class="btn btn-warning" ng-click="closeUpdateExpense()">Cancel</button>
                </div>

            </div>
        </div>
    </div>

</div>


<script type="text/javascript">
    $(document).ready(function () {
        $("#liVendorExpense").addClass("active");
        $("#liOperations").addClass("active");
    });
</script>


