﻿<div class="box" data-ng-app="App" data-ng-controller="Voucher_ngController">
    <div>
        <input type="hidden" id="hdnBranchID" ng-model="BranchId" value='@ViewBag.BranchID' />
    </div>

    <div class="box-body">
        <div class="col-lg-12">
            <div class="box-header with-border col-lg-12">
                <h1 class="box-title">Voucher</h1>

            </div>
            <div class="form-group col-lg-12">
                <div class="form-group col-lg-3">
                    <label>  Branch </label>
                    <select id="ddlBranch" class="form-control" readonly="@(Convert.ToString(ViewBag.BranchID) == "0"?false:true)">
                        <option value="0">-- Select --</option>
                        <option data-ng-repeat="br in Branches" ng-selected="br.BranchID==@ViewBag.BranchID" value="{{br.BranchID}}">{{br.BranchName}}</option>
                    </select>
                </div>
                <div class="form-group col-lg-3">
                    <button type="button" class="btn btn-primary martop25" ng-click="GetToPayAndPaidCollection()">Search</button>
                </div>
                <a class="btn btn-primary pull-right martop25" ng-click="AddVoucher()">+ Add </a>
            </div>


        </div>

    </div>
    <div class="clearfix"></div>
    <div class="box-body">
        <div class="col-lg-12">
            <div class="row">
                <div class="box-body table-responsive no-padding">
                    <table id="tblVoucher" datatable dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="fullwidth table table-striped table-bordered marleft15"></table>
                </div>
            </div>
        </div>

    </div>



    <div class="modal fade bs-example-modal-lg" id="VoucherModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmVoucher" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog  modal-lg" role="document" style="height: 450px !important; width: 60% !important;" @*style="overflow-y: scroll; max-height:85%;  margin-top: 50px; margin-bottom:50px;"*@>
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closeVoucher()" />
                    Add Voucher
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height: 450px !important;">
                        <div class="form-group col-lg-12" ng-form="frmVoucher">
                            <div class="form-group col-lg-12" style="width: 100% !important">

                                <div class="form-group col-lg-4">
                                    <label>Voucher Date</label>
                                    <input autocomplete="off" type="text" id="txtVoucherDate" class="form-control maxwidth" ng-model="Voucher.VoucherDate" ng-required="true" ng-readonly="true">
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Account Head</label>
                                    <select id="ddlAccountHead" class="form-control" ng-required="true" ng-model="Voucher.AccountID">
                                        <option value="" selected>-Select-</option>
                                        <option data-ng-repeat="account in Accounts" value="{{account.AccountID}}" ng-selected="account.AccountID == Voucher.AccountID">{{account.AccountHead}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Manifest</label>
                                    <select id="ddlManifest" class="form-control" ng-required="true" ng-model="Voucher.ManifestID">
                                        <option value="" selected>-Select-</option>
                                        <option data-ng-repeat="manifest in Manifests" value="{{manifest.ManifestID}}&{{manifest.HireType}}" ng-selected="manifest.ManifestID == Voucher.ManifestID">
                                            {{manifest.ManifestNo}} - {{manifest.HireType}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">

                                <div class="form-group col-lg-4">
                                    <label>Amount Paid To </label>
                                    <select id="ddlVendor" class="form-control" ng-required="true" ng-model="Voucher.VendorID" >
                                        <option value="" selected>-Select-</option>
                                        <option data-ng-repeat="v in Vendors" value="{{v.VendorID}}" ng-selected="v.VendorID ==Voucher.VendorID">{{v.VendorName}}</option>

                                    </select>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Payment Type</label>
                                    <select id="ddlPaymentType" class="form-control" ng-change="ChangePaymentType()" ng-required="true" ng-model="Voucher.PaymentTypeID">
                                        <option value="" selected>-Select-</option>
                                        <option data-ng-repeat="pt in PaymentTypes " value="{{pt.PaymentTypeID}}" ng-selected="pt.PaymentTypeID == Voucher.PaymentTypeID">{{pt.PaymentType}}</option>

                                    </select>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Bank Name</label>
                                    <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Bank Name" ng-model="Voucher.BankName">
                                </div>
                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">

                                <div class="form-group col-lg-4">
                                    <label>Branch Name</label>
                                    <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Branch Name" ng-model="Voucher.BranchName">
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Cheque No</label>
                                    <input autocomplete="off" type="text" ng-disabled="(isDisableCheque)" class="form-control maxwidth" placeholder="Cheque No" ng-model="Voucher.ChequeNo" ng-required="(!isDisableCheque)">
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Cheque Date</label>
                                    <input autocomplete="off" id="chqDate" ng-disabled="(isDisableCheque)" type="text" class="form-control maxwidth" placeholder="Cheque Date" ng-model="Voucher.ChequeDate" ng-required="(!isDisableCheque)">
                                </div>
                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">

                                <div class="form-group col-lg-4">
                                    <label>Amount</label>
                                    <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Voucher Amount" ng-model="Voucher.VoucherAmount" ng-required="true">
                                </div>
                                <div class="form-group col-lg-4">
                                    <label> Particulars</label>
                                    <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Particulars" ng-model="Voucher.Particulars">

                                </div>
                            </div>
                           
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="SaveVoucher()">Save</button>
                    <button type="submit" class="btn btn-warning" ng-click="closeVoucher()">Cancel</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" id="EditVoucherModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog  modal-lg" role="document" style="height: 450px !important; width: 60% !important;" >
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closeUpdateVoucher()" />
                    Edit Voucher
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height: 450px !important;">
                        <div class="form-group col-lg-12" ng-form="frmEditVoucher">
                            <div class="form-group col-lg-12" style="width: 100% !important">

                                <div class="form-group col-lg-4">
                                    <label>Voucher Date</label>
                                    <input autocomplete="off" type="text" id="txtEditVoucherDate" class="form-control maxwidth" ng-model="EditVoucher.VoucherDate" ng-required="true" ng-readonly="true">
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Account Head</label>
                                   
                                    <select id="ddlEditAccountHead" class="form-control" ng-model="EditVoucher.AccountID" ng-required="true"
                                            ng-init="value.AccountID == EditVoucher.AccountID" ng-options="value.AccountID as value.AccountHead for (key, value) in Accounts">
                                        <option value="" ng-selected="EditVoucher.AccountID == ''">-Select-</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Manifest</label>
                                  
                                    <select id="ddlEditManifest" class="form-control" ng-required="true" ng-model="EditVoucher.ManifestID" >
                                        <option value="" selected>-Select-</option>
                                        <option data-ng-repeat="manifest in Manifests" value="{{manifest.ManifestID}}&{{manifest.HireType}}" ng-selected="manifest.ManifestID == EditVoucher.ManifestID">
                                            {{manifest.ManifestNo}} - {{manifest.HireType}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">

                                <div class="form-group col-lg-4">
                                    <label>Amount Paid To </label>
                                    <select id="ddlEditVendor" class="form-control" ng-model="EditVoucher.VendorID" ng-required="true"
                                            ng-init="value.VendorID == EditVoucher.VendorID" ng-options="value.VendorID as value.VendorName for (key, value) in Vendors">
                                        <option value="" ng-selected="EditVoucher.VendorID == ''">-Select-</option>
                                    </select>

                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Payment Type</label>

                                    <select id="ddlEditPaymentType" class="form-control" ng-model="EditVoucher.PaymentTypeID" ng-required="true" ng-change="ChangeEditPaymentType()"
                                            ng-init="value.PaymentTypeID == EditVoucher.PaymentTypeID" ng-options="value.PaymentTypeID as value.PaymentType for (key, value) in PaymentTypes">
                                        <option value="" ng-selected="EditVoucher.PaymentTypeID == ''">-Select-</option>
                                    </select>

                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Bank Name</label>
                                    <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Bank Name" ng-model="EditVoucher.BankName">
                                </div>
                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">

                                <div class="form-group col-lg-4">
                                    <label>Branch Name</label>
                                    <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Branch Name" ng-model="EditVoucher.BranchName">
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Cheque No</label>
                                    <input autocomplete="off" type="text" ng-disabled="(isDisableCheque)" class="form-control maxwidth" placeholder="Cheque No" ng-model="EditVoucher.ChequeNo" ng-required="(!isDisableCheque)">
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Cheque Date</label>
                                    <input autocomplete="off" id="chqEditDate" ng-disabled="(isDisableCheque)" type="text" class="form-control maxwidth" placeholder="Cheque Date" ng-model="EditVoucher.ChequeDate" ng-required="(!isDisableCheque)">
                                </div>
                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">

                                <div class="form-group col-lg-4">
                                    <label>Amount</label>
                                    <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Voucher Amount" ng-model="EditVoucher.VoucherAmount" ng-required="true">
                                </div>
                                <div class="form-group col-lg-4">
                                    <label> Particulars</label>
                                    <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Particulars" ng-model="EditVoucher.Particulars">

                                </div>
                            </div>
                           
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="UpdateVoucher()">Save</button>
                    <button type="submit" class="btn btn-warning" ng-click="closeUpdateVoucher()">Cancel</button>
                </div>

            </div>
        </div>
    </div>

</div>


<script type="text/javascript">
    $(document).ready(function () {
        $("#liVoucher").addClass("active");
        $("#liOperations").addClass("active");
    });
</script>


