﻿<div class="box box-warning" data-ng-app="App" data-ng-controller="DeliveryStockReport_ngController" ng-init="InitializeDatePicker()">
    <input type="hidden" value="@Convert.ToString(ViewBag.BranchID)" id="hdnBranchID"/>
    <div class="box-body">
        <div class="col-lg-12">
            <div class="box-header with-border col-lg-12">
                <h3 class="box-title">Delivery Stock Report</h3>
            </div>
            <div class="form-group col-lg-12">

                <div class="form-group col-lg-3">
                    <label> Manifest To Branch </label>

                    <select id="ddlBranch" class="form-control" readonly="@(Convert.ToString(ViewBag.BranchID) == "0"?false:true)">
                        <option value="0">-- Select --</option>
                        <option data-ng-repeat="br in Branches" ng-selected="br.BranchID==@ViewBag.BranchID" value="{{br.BranchID}}">{{br.BranchName}}</option>
                    </select>

                </div>
                <div class="form-group col-lg-3">
                    <label>Delivery Date From</label>
                    <input autocomplete="off" id="txtFromDate" type="text" class="form-control maxwidth date" placeholder="From Date" readonly>
                </div>
                <div class="form-group col-lg-3">
                    <label>Delivery Date To</label>
                    <input autocomplete="off" id="txtToDate" type="text" class="form-control maxwidth date" placeholder="To Date" readonly>
                </div>
                <div class="form-group col-lg-3">

                    <button type="button" class="btn btn-primary martop25" ng-click="GetDeliveryStockReport()">Search</button>
               
                    <button ng-click="ExportDeliveryStockData()" class="btn btn-primary btnwhite pull-right martop25" id="linkExport">Export To Excel</button>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-body table-responsive no-padding" style="min-height:500px">
                                <table id="tblDeliveryReport" datatable dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="fullwidth table table-striped table-bordered marleft15"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#liDeliveryStockReport").addClass("active");
        $("#liReports").addClass("active");
    });
</script>