﻿<div class="box box-warning" data-ng-app="App" data-ng-controller="DestinationBranchReport_ngController" ng-init="InitializeDatePicker()">
    <input type="hidden" value="@Convert.ToString(ViewBag.BranchID)" id="hdnBranchID" />
    <div class="box-body">
        <div class="col-lg-12">
            <div class="box-header with-border col-lg-12">
                <h3 class="box-title">Destination Branch Report</h3>
            </div>
            <div class="form-group col-lg-12">

                <div class="form-group col-lg-3">
                    <label> Delivery Branch </label>

                    <select id="ddlBranch" class="form-control" readonly="@(Convert.ToString(ViewBag.BranchID) == "0"?false:true)">
                        <option value="0">-- Select --</option>
                        <option data-ng-repeat="br in Branches" ng-selected="br.BranchID==@ViewBag.BranchID" value="{{br.BranchID}}">{{br.BranchName}}</option>
                    </select>

                </div>
                <div class="form-group col-lg-3">
                    <label> From</label>
                    <input autocomplete="off" id="txtFromDate" type="text" class="form-control maxwidth date" placeholder="From Date" readonly>
                </div>
                <div class="form-group col-lg-3">
                    <label> To</label>
                    <input autocomplete="off" id="txtToDate" type="text" class="form-control maxwidth date" placeholder="To Date" readonly>
                </div>
                <div class="form-group col-lg-3">

                    <button type="button" class="btn btn-primary martop25" ng-click="GetDeliveryBranchReport()">Search</button>
                    <button type="button" class="btn btn-primary martop25" ng-click="ResetDeliveryBranchReport()">Reset</button>

                </div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-body table-responsive no-padding" style="min-height:500px">
                                <table id="tblDeliveryBranchReport" datatable dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="fullwidth table table-striped table-bordered marleft15"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bs-example-modal-lg" id="DestinationDetailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog  modal-lg" role="document" style="height: 450px !important; width: 75% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closeManifestReport()" />
                    Delievery Branch Detail Report
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="min-height: 350px !important;">
                        <div class="form-group col-lg-12">
                            <a download="ManifestReport" ng-click="exportToExcel('#divExport')" class="btn btn-primary btnwhite pull-right martop25" id="linkExport"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;Export To Excel</a>
                            <a ng-click="printDiv('divExport')" class="btn btn-primary btnwhite pull-right martop25 margin-r-5" id="linkPrint"><i class="fa fa-print" aria-hidden="true"></i>&nbsp;Print</a>
                        </div>
                       
                        <div class="form-group col-lg-12" id="divExport">
                            <table border="1" class="simpletbl">
                                <tr>
                                    <td><b>Delivery Branch</b></td>
                                    <td>{{DeliveryBranch}}</td>
                                    <td><b>Total LR </b></td>
                                    <td>{{TotalLR}}</td>
                                    <td><b>Total No. Of Articles</b></td>
                                    <td>{{TotalArticles}}</td>
                                </tr>
                                <tr>
                                    <td><b>Total Actual Weight</b></td>
                                    <td>{{TotalActualWeight}}</td>
                                    <td><b>Total Charge Weight</b></td>
                                    <td>{{TotalChargedWeight}}</td>
                                    <td><b>Grand Total</b></td>
                                    <td>{{GrandTotal}}</td>
                                </tr>

                            </table>
                            <br /><br />
                            <table class="simpletbl" border="1">
                                <tr>
                                    <th>Consignment No</th>
                                    <th>Consignment Date</th>
                                    <th>Consignee Name</th>
                                    <th>Consignor Name</th>
                                    <th>From</th>
                                    <th>To</th>
                                    <th>Invoice No</th>
                                    <th>Invoice Date</th>
                                    <th>Invoice Value</th>
                                    <th>ASN No</th>
                                    <th>Part No</th>
                                    <th>Invoice Quantity</th>
                                    <th>Remarks</th>
                                    <th>No of Articles</th>
                                    <th>Actual Weight</th>
                                    <th>Charge Weight</th>
                                    <th>Grand Total</th>
                                </tr>

                                <tr ng-repeat="consignment in ConsignmentBookings">
                                    <td>{{consignment.ConsignmentNo}}</td>
                                    <td>{{consignment.ConsignmentDate}}</td>
                                    <td>{{consignment.ConsigneeName}}</td>
                                    <td>{{consignment.ConsignorName}}</td>
                                    <td>{{consignment.FromBranch}}</td>
                                    <td>{{consignment.ToBranch}}</td>
                                    <td>{{consignment.InvoiceNo}}</td>
                                    <td>{{consignment.InvoiceDate}}</td>
                                    <td>{{consignment.InvoiceValue}}</td>
                                    <td>{{consignment.ASNNo}}</td>
                                    <td>{{consignment.PartNo}}</td>
                                    <td>{{consignment.InvoiceQuantity}}</td>
                                    <td>{{consignment.Remark}}</td>
                                    <td>{{consignment.Articles}}</td>
                                    <td>{{consignment.ActualWeight}}</td>
                                    <td>{{consignment.ChargeWeight}}</td>
                                    <td>{{consignment.GrandTotal}}</td>
                                </tr>

                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-warning" ng-click="closeManifestReport()">Cancel</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#liDestinationBranchReport").addClass("active");
        $("#liReports").addClass("active");
    });
</script>