﻿<div class="box box-warning" data-ng-app="App" data-ng-controller="PaymentTypeSalesDetail_ngController">
    <input type="hidden" value="@Convert.ToString(ViewBag.BranchId)" id="hdnBranchID" />
    <input type="hidden" value="@Convert.ToString(ViewBag.PaymentTypeID)" id="hdnPaymentTypeID" />
    <input type="hidden" value="@Convert.ToString(ViewBag.FromDate)" id="hdnFromDate" />
    <input type="hidden" value="@Convert.ToString(ViewBag.ToDate)" id="hdnToDate" />
    <div class="box-body">
        <div class="col-lg-12">
            <div class="box-header with-border col-lg-12">
                <h3 class="box-title">Payment Type Sales Details</h3>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-3">
                    <label>Branch :</label>&nbsp;&nbsp;<span>@ViewBag.BranchName</span>
                </div>
                <div class="col-lg-3">
                    <label>Payment Type :</label>&nbsp;&nbsp;<span>@ViewBag.PaymentType</span>
                </div>
                <div class="col-lg-5 pull-right">
                    <button ng-click="ExportPaymentTypeSalesDetails()" class="btn btn-primary btnwhite pull-right martop25" id="linkExport">Export To Excel</button>
                </div>
            </div>

            <div class="col-lg-12 martop25">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-body table-responsive no-padding" style="min-height:500px">
                                <table id="tblDamageReport" datatable dt-options="dtOptions1" dt-columns="dtColumns1" dt-instance="dtInstance1" class="fullwidth table table-striped table-bordered marleft15"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#liPaymentTypeWiseSalesReport").addClass("active");
        $("#liReports").addClass("active");
    });
</script>
