﻿<div class="box box-warning" data-ng-app="App" data-ng-controller="TransactionReport_ngController" ng-init="InitializeDatePicker()">
    <input type="hidden" value="@Convert.ToString(ViewBag.BranchID)" id="hdnBranchID" />
    <div class="box-body">
        <div class="col-lg-12">
            <div class="box-header with-border col-lg-12">
                <h3 class="box-title">Transaction Report</h3>
            </div>
            <div class="form-group col-lg-12">
                <div class="form-group col-lg-2">
                    <label> Booking Branch </label>
                    <select id="ddlBranch" class="form-control" readonly="@(Convert.ToString(ViewBag.BranchID) == "0"?false:true)">
                        <option value="0">-- Select --</option>
                        <option data-ng-repeat="br in Branches" ng-selected="br.BranchID==@ViewBag.BranchID" value="{{br.BranchID}}">{{br.BranchName}}</option>
                    </select>
                </div>

                <div class="form-group col-lg-2">
                    <label> Date From</label>
                    <input autocomplete="off" id="txtFromDate" type="text" class="form-control maxwidth date" placeholder="From Date" readonly>
                </div>
                <div class="form-group col-lg-2">
                    <label> Date To</label>
                    <input autocomplete="off" id="txtToDate" type="text" class="form-control maxwidth date" placeholder="To Date" readonly>
                </div>
                <div class="form-group col-lg-3">
                    <button type="button" class="btn btn-primary martop25" ng-click="GetTransactionReport()">Search</button>
                    <a download="TransactionReport" ng-click="exportToExcel('#divExport')" class="btn btn-primary btnwhite pull-right martop25" id="linkExport"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;Export To Excel</a>
                </div>
            </div>
            <div id="divExport">
                <div class="col-lg-12">
                    <div class="pull-right" style="margin-right:25px;font-size:15px;">
                        <label>Balance :</label>&nbsp;<label id="lblBalance"></label> &nbsp;INR
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box">
                                <div class="box-body table-responsive no-padding" style="min-height:500px">
                                    <table id="tblTransactionReport" datatable dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="fullwidth table table-striped table-bordered marleft15"></table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#liTransactionReport").addClass("active");
        $("#liReports").addClass("active");
    });
</script>