﻿<div class="box box-warning" data-ng-app="App" data-ng-controller="VehicleHirePaymentReport_ngController" ng-init="InitializeDatePicker()">
    <input type="hidden" value="@Convert.ToString(ViewBag.BranchID)" id="hdnBranchID" />
    <div class="box-body">
        <div class="col-lg-12">
            <div class="box-header with-border col-lg-12">
                <h3 class="box-title">Vehicle Hire Payment Report</h3>
            </div>
            <div class="form-group col-lg-12">
                <div class="form-group col-lg-3">
                    <label> Vehicle Hire Payment Branch </label>
                    <select id="ddlBranch" class="form-control" readonly="@(Convert.ToString(ViewBag.BranchID) == "0"?false:true)">
                        <option value="0">-- Select --</option>
                        <option data-ng-repeat="br in Branches" ng-selected="br.BranchID==@ViewBag.BranchID" value="{{br.BranchID}}">{{br.BranchName}}</option>
                    </select>
                </div>
                <div class="form-group col-lg-3">
                    <label>Booking From</label>
                    <input autocomplete="off" id="txtFromDate" type="text" class="form-control maxwidth date" placeholder="From Date" readonly>
                </div>
                <div class="form-group col-lg-3">
                    <label>Booking To</label>
                    <input autocomplete="off" id="txtToDate" type="text" class="form-control maxwidth date" placeholder="To Date" readonly>
                </div>
                <div class="form-group col-lg-3">
                    <button type="button" class="btn btn-primary martop25" ng-click="GetVehicleHirePaymentReport()">Search</button>
                    <a ng-click="ExportVehicleHireReport()" class="btn btn-primary btnwhite pull-right martop25" id="linkExport">Export To Excel</a>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-body table-responsive no-padding" style="min-height:500px">
                                <table id="tblVehicleHirePaymentReport" datatable dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="fullwidth table table-striped table-bordered marleft15"></table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bs-example-modal-lg" id="ManifestReportDetailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog  modal-lg" role="document" style="height: 450px !important; width: 50% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closeManifestReport()" />
                    Manifest Report
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height: 450px !important;">
                        <div class="form-group col-lg-12">
                            <a download="ManifestReport" ng-click="exportToExcel('#divExportManifest')" class="btn btn-primary btnwhite pull-right martop25" id="linkExport"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;Export To Excel</a>
                            <a ng-click="printDiv('divExportManifest')" class="btn btn-primary btnwhite pull-right martop25 margin-r-5" id="linkPrint"><i class="fa fa-print" aria-hidden="true"></i>&nbsp;Print</a>
                        </div>
                        <br />
                        <div class="form-group col-lg-12" id="divExportManifest">
                            <table border="1" class="simpletbl">
                                <tr>
                                    <td><b>Manifest No</b></td>
                                    <td>{{Manifest.ManifestNo}}</td>
                                    <td><b>Manifest From</b></td>
                                    <td>{{Manifest.FromBranch}}</td>
                                    <td><b>Manifest To</b></td>
                                    <td>{{Manifest.ToBranch}}</td>
                                </tr>
                                <tr>
                                    <td><b>Manifest Date</b></td>
                                    <td>{{Manifest.ManifestDate}}</td>
                                    <td><b>Vendor Name</b></td>
                                    <td>{{Manifest.VendorName}}</td>
                                    <td><b>Vehicle No</b></td>
                                    <td>{{Manifest.VehicleNo}}</td>
                                </tr>
                                <tr>
                                    <td><b>Manifest Time</b></td>
                                    <td>{{Manifest.ManifestTime}}</td>
                                    <td><b>Scheduled Hrs</b></td>
                                    <td>{{Manifest.ScheduledHours}}</td>
                                    <td><b>Driver Mobile No</b></td>
                                    <td>{{Manifest.DriverMobileNo}}</td>
                                </tr>
                                <tr>
                                    <td><b>Freight Amount</b></td>
                                    <td>{{Manifest.FreightAmount}}</td>
                                    <td><b>Freight Advance</b></td>
                                    <td>{{Manifest.FreightAdvance}}</td>
                                    <td><b>Freight Balance</b></td>
                                    <td>{{Manifest.FreightBalance}}</td>
                                </tr>
                            </table>
                            <br /><br />
                            <table class="simpletbl" border="1">
                                <tr>
                                    <th>Consignment No</th>
                                    <th>Consignment Date</th>
                                    <th>No of Articles</th>
                                    <th>Actual Weight</th>
                                    <th>Consignor Name</th>
                                    <th>Consignee Name</th>
                                    <th>From</th>
                                    <th>To</th>
                                </tr>

                                <tr ng-repeat="consignment in ConsignmentBookings">
                                    <td>{{consignment.ConsignmentNo}}</td>
                                    <td>{{consignment.ConsignmentDate}}</td>
                                    <td>{{consignment.Articles}}</td>
                                    <td>{{consignment.ActualWeight}}</td>
                                    <td>{{consignment.ConsigneeName}}</td>
                                    <td>{{consignment.ConsignorName}}</td>
                                    <td>{{consignment.FromBranch}}</td>
                                    <td>{{consignment.ToBranch}}</td>
                                </tr>

                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-warning" ng-click="closeManifestReport()">Cancel</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#liVehicleHirePaymentReport").addClass("active");
        $("#liReports").addClass("active");
    });
</script>