﻿<div class="box box-warning" data-ng-app="App" data-ng-controller="VendorSalesReport_ngController" ng-init="InitializeDatePicker()">
    <input type="hidden" value="@Convert.ToString(ViewBag.BranchID)" id="hdnBranchID" />
    <div class="box-body">
        <div class="col-lg-12">
            <div class="box-header with-border col-lg-12">
                <h3 class="box-title"> Vendor Sales Report</h3>
            </div>
            <div class="form-group col-lg-12">
                <div class="form-group col-lg-3">
                    <label>  Vendor </label>
                    <select id="ddlVendors" class="form-control">
                        <option value="">-- Select --</option>
                        <option data-ng-repeat="br in Vendors"  value="{{br.VendorID}}">{{br.VendorName}}</option>
                    </select>
                </div>
                <div class="form-group col-lg-3">
                    <label> From</label>
                    <input autocomplete="off" id="txtFromDate" type="text" class="form-control maxwidth date" placeholder="From Date" readonly>
                </div>
                <div class="form-group col-lg-3">
                    <label> To</label>
                    <input autocomplete="off" id="txtToDate" type="text" class="form-control maxwidth date" placeholder="To Date" readonly>
                </div>
                <div class="form-group col-lg-3">
                    <button type="button" class="btn btn-primary martop25" ng-click="GetPaymentTypeWiseVendorSalesReport()">Search</button>
                    <button type="button" class="btn btn-primary martop25" ng-click="ResetPaymentTypeWiseVendorSalesReport()">Reset</button>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-body table-responsive no-padding" style="min-height:500px">
                                <table id="tblVendorSalesReport" datatable dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="fullwidth table table-striped table-bordered marleft15 lastrow"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#liVendorSalesReport").addClass("active");
        $("#liReports").addClass("active");
    });
</script>

