﻿<div class="box" data-ng-app="App" data-ng-controller="TMSController_ngController">
    <div>
        <input type="hidden" id="hdnBranchID" ng-model="BranchId" value='@ViewData["BranchId"]' />
    </div>
    <div class="box-header with-border col-lg-12">
        <h1 class="box-title">Dashboard</h1>
    </div>
    <div class="clearfix"></div>
    <div class="box-body">
        <div class="col-lg-12">
            <div class="row">
                <div class="box-body table-responsive no-padding">
                    <div class="col-lg-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-table" aria-hidden="true"></i> &nbsp;&nbsp;Sales </h3></div>
                            <div class="panel-body">
                                <div class="col-lg-12 no-padding">
                                    <div class="form-group col-lg-6 no-padding">
                                        <label>  Branch </label>
                                        <select id="ddlBranch" class="form-control" readonly="@(Convert.ToString(ViewBag.BranchID) == "0"?false:true)">
                                            <option value="0">-- Select --</option>
                                            <option data-ng-repeat="br in Branches" ng-selected="br.BranchID==@ViewBag.BranchID" value="{{br.BranchID}}">{{br.BranchName}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <button type="button" class="btn btn-primary martop25" ng-click="GetPaymentTypeWiseSalesReport()">Search</button>

                                    </div>
                                </div>

                                <div class="tabbable">
                                    <ul class="nav nav-tabs">
                                        <li ng-repeat="pane in panes" ng-class="{active:pane.selected}">
                                            <a href="" ng-click="select(pane)">{{pane.title}}</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div ng-repeat="pane in panes" class="tab-pane" ng-class="{active:pane.selected}">

                                            <table ng-if="pane.name=='Today'" id="tblTodayReport" class="fullwidth table table-striped table-bordered lastrow">
                                                <thead>
                                                    <tr>
                                                        <th>Payment Type</th>
                                                        <th>Total LR</th>
                                                        <th>Total Articles</th>
                                                        <th>Actual Weight</th>
                                                        <th>Charged Weight</th>
                                                        <th>Invoice Value</th>
                                                        <th>Grand Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    
                                                    <tr ng-if="DailySales.length>0" ng-repeat="sales in DailySales">
                                                        <td>{{sales.PaymentType}}</td>
                                                        <td>{{sales.TotalLR}}</td>
                                                        <td>{{sales.TotalArticles}}</td>
                                                        <td>{{sales.ActualWeight}}</td>
                                                        <td>{{sales.ChargedWeight}}</td>
                                                        <td>{{sales.InvoiceValue}}</td>
                                                        <td>{{sales.GrantTotal}}</td>
                                                    </tr>
                                                    <tr ng-if="DailySales.length==0">
                                                        <td colspan="7" align="center">No data available in table</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <div ng-if="pane.name=='All'">
                                                <table ng-if="pane.name=='All'" id="tblTodayReport" class="fullwidth table table-striped table-bordered lastrow">
                                                    <thead>
                                                        <tr>
                                                            <th>Payment Type</th>
                                                            <th>Total LR</th>
                                                            <th>Total Articles</th>
                                                            <th>Actual Weight</th>
                                                            <th>Charged Weight</th>
                                                            <th>Invoice Value</th>
                                                            <th>Grand Total</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="sales in AllSales">
                                                            <td>{{sales.PaymentType}}</td>
                                                            <td>{{sales.TotalLR}}</td>
                                                            <td>{{sales.TotalArticles}}</td>
                                                            <td>{{sales.ActualWeight}}</td>
                                                            <td>{{sales.ChargedWeight}}</td>
                                                            <td>{{sales.InvoiceValue}}</td>
                                                            <td>{{sales.GrantTotal}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                              
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>