﻿<div class="box box-warning" data-ng-app="App" data-ng-controller="MahindraVendorRates_ngController">

    <div class="box-body">
        <div class="col-lg-12">
            <div class="box-header with-border col-lg-12">
                <h3 class="box-title">Configure Mahindra Vendor Rates</h3>
                <a class="btn btn-primary pull-right" data-ng-click="ConfigureVendorRates()"><i class="fa fa-cog" aria-hidden="true"></i>&nbsp;Configure New Rate</a>
            </div>

            <div class="col-lg-12">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-body table-responsive no-padding" style="min-height:500px">
                                <table id="tblVendorRates" datatable dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="fullwidth table table-striped table-bordered marleft15"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" id="ConfigureRateModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmRates">
        <div class="modal-dialog  modal-lg" role="document" style="height: 450px !important; width: 60% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closeRateModal()" />
                    Configure Mahindra Vendor Rate
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height: 300px !important;">
                        <div class="form-group col-lg-12">
                            <div class="form-group col-lg-12" style="width: 100% !important">

                                <div class="form-group col-lg-4">
                                    <label>Billing  Party</label>
                                    <select id="ddlBillingParty" class="form-control" ng-model="VendorRate.BillingPartyId" ng-required="true">
                                        <option value="">-- Select --</option>
                                        <option data-ng-repeat="br in BillingVendors" value="{{br.VendorID}}">{{br.VendorName}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Consignor</label>
                                    <select id="ddlConsignor" class="form-control" ng-model="VendorRate.ConsignorId" ng-required="true">
                                        <option value="">-- Select --</option>
                                        <option data-ng-repeat="br in Vendors" value="{{br.VendorID}}">{{br.VendorName}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Consignee</label>
                                    <select id="ddlConsignee" class="form-control" ng-model="VendorRate.ConsigneeId" ng-required="true">
                                        <option value="">-- Select --</option>
                                        <option data-ng-repeat="br in Vendors" value="{{br.VendorID}}">{{br.VendorName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">

                                <div class="form-group col-lg-4">
                                    <label>From </label>
                                    <select id="ddlBranchFrom" class="form-control" ng-model="VendorRate.FROM" ng-required="true">
                                        <option value="">-- Select --</option>
                                        <option data-ng-repeat="br in OtherBranches" value="{{br.OtherBranchID}}">{{br.BranchName}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>To </label>
                                    <select id="ddlBranchTo" class="form-control" ng-model="VendorRate.TO" ng-required="true">
                                        <option value="">-- Select --</option>
                                        <option data-ng-repeat="br in OtherBranches" value="{{br.OtherBranchID}}">{{br.BranchName}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Boxes </label>
                                    <input autocomplete="off" type="number" id="txtBoxes" class="form-control" ng-model="VendorRate.Boxes" ng-required="true" />
                                </div>
                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>L </label>
                                    <input autocomplete="off" type="number" id="txtL" class="form-control" ng-model="VendorRate.L" ng-required="true" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>W </label>
                                    <input autocomplete="off" type="number" id="txtW" class="form-control" ng-model="VendorRate.W" ng-required="true" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>H </label>
                                    <input autocomplete="off" type="number" id="txtH" class="form-control" ng-model="VendorRate.H" ng-required="true" />
                                </div>
                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>Charge Type</label>
                                    <select id="ddlChargeType" class="form-control" ng-model="VendorRate.ChargeTypeId" ng-required="true">
                                        <option value="">-- Select --</option>
                                        <option data-ng-repeat="br in ChargeTypes" value="{{br.ChargeTypeID}}">{{br.ChargeType}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Charged Weight </label>
                                    <input autocomplete="off" type="number" id="txtChargedWeight" class="form-control" ng-model="VendorRate.ChargedWeight" ng-required="true" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Freight Rate </label>
                                    <input autocomplete="off" type="number" id="txtFreightRate" class="form-control" ng-model="VendorRate.FRIEGHTRATE" />
                                </div>

                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>Docket Charge </label>
                                    <input autocomplete="off" type="number" id="txtDocketCharge" class="form-control" ng-model="VendorRate.DocketCharge" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Door Collection Charge</label>
                                    <input autocomplete="off" type="number" id="txtDoorCollection" class="form-control" ng-model="VendorRate.DoorCollection" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Delivery Charge </label>
                                    <input autocomplete="off" type="number" id="txtDeliveryCharge" class="form-control" ng-model="VendorRate.DeliveryCharge" />
                                </div>

                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>FOV </label>
                                    <input autocomplete="off" type="number" id="txtFOV" class="form-control" ng-model="VendorRate.FOV" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Hamali Charge</label>
                                    <input autocomplete="off" type="number" id="txtHamaliCharge" class="form-control" ng-model="VendorRate.HamaliCharge" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Other Charges </label>
                                    <input autocomplete="off" type="number" id="txtOtherCharge" class="form-control" ng-model="VendorRate.OtherCharges" />
                                </div>

                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>Min KG. </label>
                                    <input autocomplete="off" type="number" id="txtMinKg" class="form-control" ng-model="VendorRate.MinKG" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="AddVendorRate()">Save</button>
                    <button type="submit" class="btn btn-warning" ng-click="closeRateModal()">Cancel</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" id="EditConfigureRateModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmEditRates">
        <div class="modal-dialog  modal-lg" role="document" style="height: 450px !important; width: 60% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closeEditRateModal()" />
                    Configure Mahindra Vendor Rate
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height: 300px !important;">
                        <div class="form-group col-lg-12">
                            <div class="form-group col-lg-12" style="width: 100% !important">

                                <div class="form-group col-lg-4">
                                    <label>Billing  Party</label>
                                    <select id="ddlBillingParty" class="form-control" ng-required="true" ng-model="EditVendorRate.BillingPartyId"
                                            ng-init="value.VendorID == EditVendorRate.BillingPartyId" ng-options="value.VendorID as value.VendorName for (key, value) in BillingVendors">
                                        <option value="">-- Select --</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Consignor</label>
                                    <select id="ddlConsignor" class="form-control" ng-required="true" ng-model="EditVendorRate.ConsignorId"
                                            ng-init="value.VendorID == EditVendorRate.ConsignorId" ng-options="value.VendorID as value.VendorName for (key, value) in Vendors">
                                        <option value="">-- Select --</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Consignee</label>
                                    <select id="ddlConsignee" class="form-control" ng-required="true" ng-model="EditVendorRate.ConsigneeId"
                                            ng-init="value.VendorID == EditVendorRate.ConsigneeId" ng-options="value.VendorID as value.VendorName for (key, value) in Vendors">
                                        <option value="">-- Select --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">

                                <div class="form-group col-lg-4">
                                    <label>From </label>
                                    <select id="ddlBranchFrom" class="form-control" ng-required="true" ng-model="EditVendorRate.FROM"
                                            ng-init="value.OtherBranchID == EditVendorRate.FROM" ng-options="value.OtherBranchID as value.BranchName for (key, value) in OtherBranches">
                                        <option value="">-- Select --</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>To </label>
                                    <select id="ddlBranchTo" class="form-control" ng-required="true" ng-model="EditVendorRate.TO"
                                            ng-init="value.OtherBranchID == EditVendorRate.TO" ng-options="value.OtherBranchID as value.BranchName for (key, value) in OtherBranches">
                                        <option value="">-- Select --</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Boxes </label>
                                    <input autocomplete="off" type="number" id="txtBoxes" class="form-control" ng-model="EditVendorRate.Boxes" ng-required="true" />
                                </div>
                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>L </label>
                                    <input autocomplete="off" type="number" id="txtL" class="form-control" ng-model="EditVendorRate.L" ng-required="true" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>W </label>
                                    <input autocomplete="off" type="number" id="txtW" class="form-control" ng-model="EditVendorRate.W" ng-required="true" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>H </label>
                                    <input autocomplete="off" type="number" id="txtH" class="form-control" ng-model="EditVendorRate.H" ng-required="true" />
                                </div>
                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>Charge Type</label>
                                    <select id="ddlChargeType" class="form-control" ng-required="true" ng-model="EditVendorRate.ChargeTypeId"
                                            ng-init="value.ChargeTypeID == EditVendorRate.ChargeTypeId" ng-options="value.ChargeTypeID as value.ChargeType for (key, value) in ChargeTypes">
                                        <option value="">-- Select --</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Charged Weight </label>
                                    <input autocomplete="off" type="number" id="txtChargedWeight" class="form-control" ng-model="EditVendorRate.ChargedWeight" ng-required="true" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Freight Rate </label>
                                    <input autocomplete="off" type="number" id="txtFreightRate" class="form-control" ng-model="EditVendorRate.FRIEGHTRATE" />
                                </div>

                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>Docket Charge </label>
                                    <input autocomplete="off" type="number" id="txtDocketCharge" class="form-control" ng-model="EditVendorRate.DocketCharge" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Door Collection Charge</label>
                                    <input autocomplete="off" type="number" id="txtDoorCollection" class="form-control" ng-model="EditVendorRate.DoorCollection" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Delivery Charge </label>
                                    <input autocomplete="off" type="number" id="txtDeliveryCharge" class="form-control" ng-model="EditVendorRate.DeliveryCharge" />
                                </div>

                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>FOV </label>
                                    <input autocomplete="off" type="number" id="txtFOV" class="form-control" ng-model="EditVendorRate.FOV" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Hamali Charge</label>
                                    <input autocomplete="off" type="number" id="txtHamaliCharge" class="form-control" ng-model="EditVendorRate.HamaliCharge" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Other Charges </label>
                                    <input autocomplete="off" type="number" id="txtOtherCharge" class="form-control" ng-model="EditVendorRate.OtherCharges" />
                                </div>

                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>Min KG. </label>
                                    <input autocomplete="off" type="number" id="txtMinKg" class="form-control" ng-model="EditVendorRate.MinKG" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="UpdateVendorRate()">Save</button>
                    <button type="submit" class="btn btn-warning" ng-click="closeEditRateModal()">Cancel</button>
                </div>

            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    $(document).ready(function () {
        $("#liMahindraVendorRates").addClass("active");
        $("#liSettings").addClass("active");
    });
</script>