﻿<div class="box box-warning" data-ng-app="App" data-ng-controller="MasterSetting_ngController">

    <div class="box-body">
        <div class="col-lg-12">
            <div class="box-header with-border col-lg-12">
                <h3 class="box-title">Configure Master Settings</h3>

            </div>

            <div class="col-lg-12">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-body table-responsive no-padding" style="min-height:500px">
                                <div class="col-lg-12">
                                    <div class="col-lg-5">
                                        <label>Restrict Configuration Of Consignment</label>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="row">
                                            <input id="txtTimeFrom" type="text" class="padding8px" ng-model="FromTime" ng-change="changeAtrributeValue('CONSIGNMENT_TIME')" name="CONSIGNMENT_TIME" />
                                            &nbsp; To &nbsp;
                                            <input id="txtTimeTo" type="text" class="padding8px" ng-model="ToTime" ng-change="changeAtrributeValue('CONSIGNMENT_TIME')" name="CONSIGNMENT_TIME" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 martop25">
                                    <div class="col-lg-5">
                                        <label>Mahindra LR Print</label>
                                    </div>
                                    <div class="col-lg-7">
                                        <input type="checkbox" id="chkMahindra" ng-model="MahindraPrint" ng-change="changeAtrributeValue('MAHINDRA_PRINT')" name="MAHINDRA_PRINT" />
                                    </div>
                                </div>
                                <div class="col-lg-12 martop25">
                                    <div class="col-lg-5">
                                        <label>Invoice Count</label>
                                    </div>
                                    <div class="col-lg-7 row">
                                        <input id="txtInvoiceCount" type="text" class="padding8px" ng-model="InvoiceCount" ng-change="changeAtrributeValue('INVOICE_COUNT')" name="INVOICE_COUNT" />
                                    </div>
                                </div>
                                <div class="col-lg-12 martop25">
                                    <div class="col-lg-5">
                                        <label>Tax Max Amount</label>
                                    </div>
                                    <div class="col-lg-7 row">
                                        <input id="txtTaxMaxAmount" type="text" class="padding8px" ng-model="TaxAmount" ng-change="changeAtrributeValue('TAX_MAX_AMOUNT')" name="TAX_MAX_AMOUNT" />
                                    </div>
                                </div>
                                <div class="col-lg-12 martop25">
                                    <div class="col-lg-5">
                                        <label>Docket Charge</label>
                                    </div>
                                    <div class="col-lg-7 row">
                                        <input id="txtDocketCharge" type="text" class="padding8px" ng-model="DocketCharge" ng-change="changeAtrributeValue('DOCKET_CHARGE')" name="DOCKET_CHARGE" />
                                    </div>
                                </div>
                                <div class="col-lg-12 martop25">
                                    <div class="col-lg-5">
                                        <label>Current Financial Year</label>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="row">
                                            <input autocomplete="off" id="txtFromDate" ng-model="FromDate" type="text" class="padding8px" placeholder="From Date" ng-change="changeAtrributeValue('FINANCIAL_YEAR')">
                                            &nbsp; To &nbsp;
                                            <input autocomplete="off" id="txtToDate" ng-model="ToDate" type="text" class="padding8px" placeholder="To Date" ng-change="changeAtrributeValue('FINANCIAL_YEAR')">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 martop25">
                                    <div class="col-lg-5">
                                        <label>REX Report Start Date</label>
                                    </div>
                                    <div class="col-lg-7 row">
                                        <input id="txtREXDate" type="text" class="padding8px" ng-model="REXDate" ng-change="changeAtrributeValue('REX_DATE')" name="REX_DATE" />
                                    </div>
                                </div>
                                <div class="col-lg-12 martop25">
                                    <div class="col-lg-5">
                                        <label>Vendor Vehicle Report Start Date</label>
                                    </div>
                                    <div class="col-lg-7 row">
                                        <input id="txtVendorStartDate" type="text" class="padding8px" ng-model="VendorVehicleDate" ng-change="changeAtrributeValue('VENDOR_VEHICLE_DATE')" name="VENDOR_VEHICLE_DATE" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<script type="text/javascript">
    $(document).ready(function () {
        $("#liMasterSetting").addClass("active");
        $("#liSettings").addClass("active");
    });
</script>

