﻿<div class="box box-warning" data-ng-app="App" data-ng-controller="VendorRates_ngController">

    <div class="box-body">
        <div class="col-lg-12">
            <div class="box-header with-border col-lg-12">
                <h3 class="box-title">Configure Vendor Rates</h3>
                <a class="btn btn-primary pull-right" data-ng-click="ConfigureVendorRates()"><i class="fa fa-cog" aria-hidden="true"></i>&nbsp;Configure New Rate</a>
            </div>

            <div class="col-lg-12">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-body table-responsive no-padding" style="min-height:500px">
                                <table id="tblVendorRates" datatable dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="fullwidth table table-striped table-bordered marleft15"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" id="ConfigureRateModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmRates">
        <div class="modal-dialog  modal-lg" role="document" style="height: 450px !important; width: 60% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closeRateModal()" />
                    Configure New Vendor Rate
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height: 300px !important;">
                        <div class="form-group col-lg-12">
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>Branch </label>
                                    <select id="ddlBranch" class="form-control" ng-model="VendorRate.BranchId" ng-required="true">
                                        <option value="">-- Select --</option>
                                        <option data-ng-repeat="br in Branches" value="{{br.BranchID}}">{{br.BranchName}}</option>
                                    </select>
                                </div>

                                <div class="form-group col-lg-4">
                                    <label>Billing  Party</label>
                                    <select id="ddlBillingParty" class="form-control" ng-model="VendorRate.BillingPartyId" ng-required="true">
                                        <option value="">-- Select --</option>
                                        <option data-ng-repeat="br in BillingVendors" value="{{br.VendorID}}">{{br.VendorName}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Consignor</label>
                                    <select id="ddlConsignor" class="form-control" ng-model="VendorRate.ConsignorId" ng-required="true">
                                        <option value="">-- Select --</option>
                                        <option data-ng-repeat="br in BillingVendors" value="{{br.VendorID}}">{{br.VendorName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>Consignee</label>
                                    <select id="ddlConsignee" class="form-control" ng-model="VendorRate.ConsigneeId" ng-required="true">
                                        <option value="">-- Select --</option>
                                        <option data-ng-repeat="br in BillingVendors" value="{{br.VendorID}}">{{br.VendorName}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>From </label>
                                    <select id="ddlBranchFrom" class="form-control" ng-model="VendorRate.FROM" ng-required="true">
                                        <option value="">-- Select --</option>
                                        <option data-ng-repeat="br in Branches" value="{{br.BranchID}}">{{br.BranchName}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>To </label>
                                    <select id="ddlBranchTo" class="form-control" ng-model="VendorRate.TO" ng-required="true">
                                        <option value="">-- Select --</option>
                                        <option data-ng-repeat="br in Branches" value="{{br.BranchID}}">{{br.BranchName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>Charge Type</label>
                                    <select id="ddlChargeType" class="form-control" ng-model="VendorRate.ChargeTypeId" ng-required="true">
                                        <option value="">-- Select --</option>
                                        <option data-ng-repeat="br in ChargeTypes" value="{{br.ChargeTypeID}}">{{br.ChargeType}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Freight Rate </label>
                                    <input autocomplete="off" type="number" id="txtFreightRate" class="form-control" ng-model="VendorRate.FRIEGHTRATE" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Docket Charge </label>
                                    <input autocomplete="off" type="number" id="txtDocketCharge" class="form-control" ng-model="VendorRate.DocketCharge" />
                                </div>
                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>Door Collection Charge</label>
                                    <input autocomplete="off" type="number" id="txtDoorCollection" class="form-control" ng-model="VendorRate.DoorCollection" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Delivery Charge </label>
                                    <input autocomplete="off" type="number" id="txtDeliveryCharge" class="form-control" ng-model="VendorRate.DeliveryCharge" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>FOV </label>
                                    <input autocomplete="off" type="number" id="txtFOV" class="form-control" ng-model="VendorRate.FOV" />
                                </div>
                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-4">
                                    <label>Hamali Charge</label>
                                    <input autocomplete="off" type="number" id="txtHamaliCharge" class="form-control" ng-model="VendorRate.HamaliCharge" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Other Charges </label>
                                    <input autocomplete="off" type="number" id="txtOtherCharge" class="form-control" ng-model="VendorRate.OtherCharges" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Min KG. </label>
                                    <input autocomplete="off" type="number" id="txtMinKg" class="form-control" ng-model="VendorRate.MinKG"/>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="AddVendorRate()">Save</button>
                    <button type="submit" class="btn btn-warning" ng-click="closeRateModal()">Cancel</button>
                </div>

            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $("#liVendorRates").addClass("active");
        $("#liSettings").addClass("active");
    });
</script>