﻿<div class="box" data-ng-app="App" data-ng-controller="BranchBalance_ngController" ng-init="GetBranchBalance()">


    <div class="box-header with-border col-lg-12">
        <h1 class="box-title">Branch Balance </h1>

    </div>
    <div class="clearfix"></div>

    <div class="box-body">
        <div class="col-lg-12">
            <div class="row">
                <div class="box-body table-responsive no-padding">
                    <table id="tblAccounts" class="table table-striped table-bordered marleft15" style="overflow:hidden;width:50%;">
                        <thead><tr><th>Branch Name</th><th>Amount</th><th>Expense</th><th>Balance</th></tr></thead>
                        <tbody>
                            <tr ng-repeat="bb in BranchBalance">
                                <td>{{bb.BranchName}}</td>
                                <td>{{bb.Amount}}</td>
                                <td>{{bb.Expense}}</td>
                                <td>{{bb.Amount - bb.Expense}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#liBranchBalance").addClass("active");
        $("#liOperations").addClass("active");
    });
</script>


