﻿<div class="box box-warning" data-ng-app="App" data-ng-controller="ConsignmentBilling_ngController">
    <div>
        <input type="hidden" id="hdnBranchID" ng-model="BranchId" value='@ViewData["BranchId"]' />
        <input type="hidden" id="hdnRoleName" value='@ViewData["RoleName"]' />
    </div>

    <div class="box-header with-border col-lg-12">
        <h3 class="box-title">Consignment Billing</h3>
        <a class="btn btn-primary pull-right" ng-click="AddConsignmentBilling()">+ Add </a>
    </div>
    <div class="box-body">
        <div class="col-lg-12">
            <div class="row">
                <div class="box-body table-responsive no-padding">
                    <table id="tblConsignmentBilling" datatable dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="fullwidth table table-striped table-bordered marleft15"></table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bs-example-modal-lg" id="AddConsignmentBillingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog  modal-lg" role="document" style="width: 85% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closeConsignmentBillingModal()" />
                    Add Consignment Billing
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height: 900px !important;">
                        <div class="form-group col-lg-12" ng-form="frmConsignmentBilling">
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-6">
                                    <label>Billing No</label>
                                    <input id="txtBillingNo" autocomplete="off" type="text" class="form-control maxwidth" placeholder="Billing No" ng-model="ConsignmentBilling.BillingNo" ng-readonly="true">
                                </div>

                                <div class="form-group col-lg-6">
                                    <label>Billing Date</label>
                                    <input id="txtBillingDate" autocomplete="off" type="text" class="form-control maxwidth" placeholder="Billing Date" ng-model="ConsignmentBilling.BillingDate" ng-required="true" readonly>
                                </div>
                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="form-group col-lg-6">
                                    <label>Customer Name</label>
                                    <select id="dpdnCustomerName" class="form-control" ng-model="ConsignmentBilling.VendorID" ng-required="true"
                                            ng-init="value.VendorID == ConsignmentBilling.VendorID" ng-options="value.VendorID as value.VendorName for (key, value) in Vendors">
                                        <option value="" ng-selected="ConsignmentBilling.VendorID == ''">-Select-</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Billing TIme</label>
                                    <input id="txtBillingTime" type="text" class="input-small form-control maxwidth" ng-model="ConsignmentBilling.BillingTime" ng-required="true" readonly>
                                </div>
                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">

                                <div class="form-group col-lg-6">
                                    <label>Billing Total Amount</label>
                                    <input autocomplete="off" id="txtTotalAmount" type="text" class="form-control maxwidth" ng-model="ConsignmentBilling.BillingTotalAmount" readonly>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Remarks</label>
                                    <input autocomplete="off" id="txtRemarks" type="text" class="form-control maxwidth" placeholder="Remarks" ng-model="ConsignmentBilling.Remarks">
                                </div>

                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <button type="button" class="btn btn-primary" ng-click="SaveConsignmentBilling()">Save</button>
                                <button type="submit" class="btn btn-warning" ng-click="closeConsignmentBillingModal()">Cancel</button>
                                <button type="submit" class="btn btn-warning" ng-click="AddConsignment()" ng-disabled="(isDisableAddConsignment)">Add Consignment</button>
                            </div>
                        </div>
                        <div ng-show="showBillingConsignments">
                            <div class="form-group col-lg-12">
                                <h4 class="pull-left">Select Consignment</h4>
                                <div class="pull-right"><label>Total LR :</label>&nbsp;{{activeConsignmentBookingCollection.length}}</div>
                            </div>

                            <div class="form-group col-lg-12">
                                <table class="table table-striped table-hover CustomTable" style="height:300px !important;" st-table="activeConsignmentBooking" st-safe-src="activeConsignmentBookingCollection">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th st-sort="ConsignmentNo">Consignment No</th>
                                            <th st-sort="Consignmentdate">Consignment Date</th>
                                            <th st-sort="InvoiceNo">Invoice No</th>
                                            <th st-sort="FromBranch">From</th>
                                            <th st-sort="ToBranch">To</th>
                                            <th st-sort="ConsigneeName">Consignee</th>
                                            <th st-sort="ConsignorName">Consignor</th>
                                            <th st-sort="Article">Article</th>
                                            <th st-sort="ActualWeight">Actual Weight</th>
                                            <th st-sort="BasicFreight">Basic Freight</th>
                                            <th st-sort="FOV">FOV</th>
                                            <th st-sort="DocketCharges">Docket Charges</th>
                                            <th st-sort="HamaliCharges">Hamali Charges</th>
                                            <th st-sort="Pickup">Pickup</th>
                                            <th st-sort="DDCharges">DD Charges</th>
                                            <th st-sort="ODACharges">ODA Charges</th>
                                            <th st-sort="OtherAOC">Other AOC</th>
                                            <th st-sort="OtherCharges">Other Charges</th>
                                            <th st-sort="TotalAmount">Total Amount</th>
                                            <th st-sort="Taxes">Taxes</th>
                                            <th st-sort="GrandTotal">Grand Total</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tr data-ng-repeat="bookings in activeConsignmentBooking">
                                        <td>
                                            <input autocomplete="off" type="checkbox" checked="{{bookings.checkSelected}}" ng-model="bookings.checkSelected" ng-change="selectConsignment()" />
                                        </td>
                                        <td>{{bookings.ConsignmentNo}}</td>
                                        <td>{{bookings.Consignmentdate}}</td>
                                        <td>{{bookings.InvoiceNo}}</td>
                                        <td>{{bookings.FromBranch}}</td>
                                        <td>{{bookings.ToBranch}}</td>
                                        <td>{{bookings.ConsigneeName}}</td>
                                        <td>{{bookings.ConsignorName}}</td>
                                        <td>{{bookings.Article}}</td>
                                        <td>{{bookings.ActualWeight}}</td>
                                        <td>{{bookings.BasicFreight}}</td>
                                        <td>{{bookings.FOV}}</td>
                                        <td>{{bookings.DocketCharges}}</td>
                                        <td>{{bookings.HamaliCharges}}</td>
                                        <td>{{bookings.Pickup}}</td>
                                        <td>{{bookings.DDCharges}}</td>
                                        <td>{{bookings.ODACharges}}</td>
                                        <td>{{bookings.OtherAOC}}</td>
                                        <td>{{bookings.OtherCharges}}</td>
                                        <td>{{bookings.TotalAmount}}</td>
                                        <td>{{bookings.Taxes}}</td>
                                        <td>{{bookings.GrandTotal}}</td>
                                        <td><a ng-click="EditBooking(bookings.ConsignmentID)" class="pull-left font20 marleft15"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                                    </tr>

                                </table>
                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="pull-left">
                                    <button type="button" class="btn btn-primary" ng-click="SaveBillingConsignments()">Save</button>
                                    <button type="submit" class="btn btn-warning" ng-click="closeConsignmentBillingModal()">Cancel</button>
                                </div>
                                <div class="pull-right">
                                    <label>Total Article :</label>&nbsp;{{TotalArticles}}
                                    &nbsp;&nbsp;
                                    <label>Total Actual Weight :</label>&nbsp;{{TotalActualWeight}}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" id="ViewConsignmentBillingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog  modal-lg" role="document" style="width: 75% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closeViewConsignmentBillingModal()" />
                    View Consignment Billing
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height: 500px !important;">
                        <div class="form-group col-lg-12">
                            <a download="ConsignmentBill" ng-click="exportToExcel('#divExport')" class="btn btn-primary btnwhite pull-right martop25" id="linkExport"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;Export To Excel</a>
                        </div>
                        <div class="form-group col-lg-12" id="divExport">
                            <div class="form-group col-lg-12">
                                <table border="1" class="simpletbl">
                                    <thead>
                                        <tr>
                                            <th>Bill No</th>
                                            <th>Bill Date</th>
                                            <th>Customer</th>
                                            <th>Bill Time</th>
                                            <th>Total Amount</th>
                                        </tr>
                                    </thead>
                                    <tr>
                                        <td>{{ConsignmentBilling.BillingNo}}</td>
                                        <td>{{ConsignmentBilling.BillingDate}}</td>
                                        <td>{{ConsignmentBilling.VendorName}}</td>
                                        <td>{{ConsignmentBilling.BillingTime}}</td>
                                        <td>{{ConsignmentBilling.BillingTotalAmount}}</td>
                                    </tr>
                                </table>

                            </div>

                            <div class="form-group col-lg-12 martop25">
                                <table border="1" class="simpletbl">
                                    <thead>
                                        <tr>

                                            <th>Consignment No</th>
                                            <th>Consignment Date</th>
                                            <th>Invoice No</th>
                                            <th>From</th>
                                            <th>To</th>
                                            <th>Consignee</th>
                                            <th>Consignor</th>
                                            <th>Article</th>
                                            <th>Actual Weight</th>
                                            <th>Basic Freight</th>
                                            <th>FOV</th>
                                            <th>Docket Charges</th>
                                            <th>Hamali Charges</th>
                                            <th>Pickup</th>
                                            <th>DD Charges</th>
                                            <th>ODA Charges</th>
                                            <th>Other AOC</th>
                                            <th>Other Charges</th>
                                            <th>Total Amount</th>
                                            <th>Taxes</th>
                                            <th>Grand Total</th>

                                        </tr>
                                    </thead>
                                    <tr ng-repeat="bookings in BillingConsignmentData">

                                        <td>{{bookings.ConsignmentNo}}</td>
                                        <td>{{bookings.Consignmentdate}}</td>
                                        <td>{{bookings.InvoiceNo}}</td>
                                        <td>{{bookings.FromBranch}}</td>
                                        <td>{{bookings.ToBranch}}</td>
                                        <td>{{bookings.ConsigneeName}}</td>
                                        <td>{{bookings.ConsignorName}}</td>
                                        <td>{{bookings.Article}}</td>
                                        <td>{{bookings.ActualWeight}}</td>
                                        <td>{{bookings.BasicFreight}}</td>
                                        <td>{{bookings.FOV}}</td>
                                        <td>{{bookings.DocketCharges}}</td>
                                        <td>{{bookings.HamaliCharges}}</td>
                                        <td>{{bookings.Pickup}}</td>
                                        <td>{{bookings.DDCharges}}</td>
                                        <td>{{bookings.ODACharges}}</td>
                                        <td>{{bookings.OtherAOC}}</td>
                                        <td>{{bookings.OtherCharges}}</td>
                                        <td>{{bookings.TotalAmount}}</td>
                                        <td>{{bookings.Taxes}}</td>
                                        <td>{{bookings.GrandTotal}}</td>
                                    </tr>

                                </table>
                            </div>
                            <div class="form-group col-lg-12" style="width: 100% !important">
                                <div class="pull-right">
                                    <label>Total Article :</label>&nbsp;{{TotalArticles}}
                                    &nbsp;&nbsp;
                                    <label>Total Actual Weight :</label>&nbsp;{{TotalActualWeight}}
                                </div>

                            </div>

                        </div>
                        <div class="form-group col-lg-12" style="width: 100% !important">
                            <div class="pull-right">

                                <button type="submit" class="btn btn-warning" ng-click="closeViewConsignmentBillingModal()">Cancel</button>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $("#liConsignmentBilling").addClass("active");
        $("#liOperations").addClass("active");
    });
</script>
