﻿<div class="box" data-ng-app="App" data-ng-controller="Consignment_ngController">
    <div>
        <input type="hidden" id="hdnBranchID" ng-model="BranchId" value='@ViewData["BranchId"]' />
    </div>

    <div class="box-header with-border col-lg-12">
        <h1 class="box-title">Consignment Booking</h1>
        @if (Convert.ToInt32(ViewData["BranchId"]) != 0)
        {
            <a class="btn btn-primary pull-right" data-ng-click="AddBookings()">+ Add Consignment</a>}
    </div>
    <div class="clearfix"></div>
    <div class="box-body">
        <div class="col-lg-12">
            <div class="row">
                <div class="box-body table-responsive no-padding">
                    <table id="tblConsignment" datatable dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="fullwidth table table-striped table-bordered marleft15"></table>
                </div>
            </div>
        </div>

    </div>
    <div id='printarea' class="hide">
        <table style="width:100%;">
            <tr>
                <td style="width:10%"></td>
                <td style="width:10%"></td>
                <td style="width:10%"></td>
                <td style="width:20%"></td>
                <td style="width:10%"></td>
                <td style="width:15%"></td>
                <td style="width:18%"></td>
                <td style="width:7%"></td>
            </tr>
            <tr style="height:35px;">
                <td colspan="2" rowspan="3" style="vertical-align:top;padding:2px;font-size:20px;"><b>TMS</b></td>
                <td colspan="3" style="vertical-align:top;padding:2px;"><b>BKG OFF :</b>&nbsp;{{PrintConsignments.BookingBranch}}</td>
                <td colspan="3" style="vertical-align:top;padding:2px;"><b>Created By :</b>&nbsp; {{PrintConsignments.CreatedBy}} </td>
            </tr>
            <tr style="height:35px;">
                <td colspan="3" style="vertical-align:top;padding:2px;"><b>Date :</b>&nbsp;{{PrintConsignments.ConsignmentDate}}</td>
                <td colspan="3" rowspan="2" style="vertical-align:top;padding:2px;"><b>Consignment No :</b>&nbsp;{{PrintConsignments.ConsignmentNo}}</td>
            </tr>
            <tr style="height:35px;">
                <td colspan="3" style="vertical-align:top;padding:2px;"><b>Booking Mode :</b>&nbsp;{{PrintConsignments.TransportType}}</td>
            </tr>
            <tr style="height:35px;">
                <td colspan="3" rowspan="2" style="vertical-align:top;padding:2px;"><b>Consignor Name :</b>&nbsp;{{PrintConsignments.ConsignorName}}</td>
                <td colspan="3" rowspan="2" style="vertical-align:top;padding:2px;"><b>Consignee Name :</b>&nbsp;{{PrintConsignments.ConsigneeName}}</td>
                <td colspan="2" style="vertical-align:top;padding:2px;"><b>Pickup From :</b>&nbsp;{{PrintConsignments.ConsignmentFrom}}</td>
            </tr>
            <tr style="height:35px;"> <td colspan="2" style="vertical-align:top;padding:2px;"><b>To :</b>&nbsp;{{PrintConsignments.ConsignmentTo}}</td></tr>
            <tr style="height:35px;">
                <td colspan="3" rowspan="2" style="vertical-align:top;padding:2px;"><b>Consignor Address :</b>&nbsp;{{PrintConsignments.ConsignorAddress}}</td>
                <td colspan="3" rowspan="2" style="vertical-align:top;padding:2px;"><b>Consignee Address :</b>&nbsp;{{PrintConsignments.ConsigneeAddress}}</td>
                <td colspan="2" rowspan="2" style="vertical-align:top;padding:2px;"><b>Door Pickup :</b>&nbsp;{{PrintConsignments.DoorPickup}}</td>
            </tr>
          <tr style="height:35px;"></tr>
            <tr style="height:35px;">
                <td colspan="3" style="vertical-align:top;padding:2px;"><b>Packaging Type :</b>&nbsp;{{PrintConsignments.Packaging}}</td>
                <td colspan="3" style="vertical-align:top;padding:2px;"><b>Payment Term :</b>&nbsp;{{PrintConsignments.PaymentType}}</td>
                <td colspan="2" style="vertical-align:top;padding:2px;"><b>Door Delivery :</b>&nbsp;{{PrintConsignments.DeliveryType}}</td>
            </tr>
            <tr style="height:35px;">
                <td colspan="3" style="vertical-align:top;padding:2px;"><b>Consignor GST No :</b>&nbsp;{{PrintConsignments.ConsignorGSTNo}}</td>
                <td colspan="3" style="vertical-align:top;padding:2px;"><b>Consignee GST No :</b>&nbsp;{{PrintConsignments.ConsigneeGSTNo}}</td>
            </tr>
            <tr style="height:35px;">
                <td colspan="3" rowspan="2" style="vertical-align:top;padding:2px;"><b>Contact Person :</b>&nbsp;{{PrintConsignments.ContactPersonName}}</td>
                <td colspan="3" rowspan="2" style="vertical-align:top;padding:2px;"><b>Mobile No :</b>&nbsp;{{PrintConsignments.MobileNumber}}</td>
                <td colspan="2" style="vertical-align:top;padding:2px;text-align:center;"><b>Freight Details(In Rupees)</b></td>
            </tr>
            <tr style="height:25px;">
                <td style="vertical-align:top;padding:2px;"><b>Basic Freight </b></td>
                <td style="vertical-align:top;padding:2px;text-align:right">{{PrintConsignments.BasicFreight}}</td>
            </tr>
            <tr style="height:25px;">
                <td rowspan="2" style="vertical-align:top;padding:2px;"><b>Actual Weight </b>&nbsp;{{PrintConsignments.ActualWeight}}</td>
                <td rowspan="2" style="vertical-align:top;padding:2px;"><b>Charged Weight </b>&nbsp;{{PrintConsignments.ChargeWeight}}</td>
                <td rowspan="2" style="vertical-align:top;padding:2px;"><b>Article </b>&nbsp;{{PrintConsignments.Article}}</td>
                <td rowspan="2" colspan="3" style="vertical-align:top;padding:2px;"><b>Billing Party :</b>&nbsp;{{PrintConsignments.BillingParty}}</td>
                <td style="vertical-align:top;padding:2px;"><b>Docket Charge </b></td>
                <td style="vertical-align:top;padding:2px;text-align:right;">{{PrintConsignments.DocketCharges}}</td>
            </tr>
            <tr style="height:25px;">
                <td style="vertical-align:top;padding:2px;"><b>FOV Charge </b></td>
                <td style="vertical-align:top;padding:2px;text-align:right">{{PrintConsignments.FOV}}</td>
            </tr>
            <tr style="height:25px;">
                <td colspan="6" style="vertical-align:top;padding:2px;"><b>Goods Description  </b>&nbsp;{{PrintConsignments.GoodsDescription}}</td>
                <td style="vertical-align:top;padding:2px;"><b>Pickup Charge </b></td>
                <td style="vertical-align:top;padding:2px;text-align:right;">{{PrintConsignments.Pickup}}</td>
            </tr>

            <tr style="height:25px;">
                <td colspan="3" style="vertical-align:top;padding:2px;"><b>Mode Of Transport :</b>&nbsp;{{PrintConsignments.TransportMode}}</td>
                <td colspan="3" style="vertical-align:top;padding:2px;"><b>Vehicle No :</b>&nbsp;{{PrintConsignments.VehicleNo}}</td>
                <td style="vertical-align:top;padding:2px;"><b>Hamali Charge </b></td>
                <td style="vertical-align:top;padding:2px;text-align:right;">{{PrintConsignments.HamaliCharges}}</td>
            </tr>
            <tr style="height:25px;">
                <td colspan="3" style="vertical-align:top;padding:2px;"><b>Eway Bill No : </b>&nbsp;{{PrintConsignments.EwayBillNo}}</td>
                <td colspan="3" style="vertical-align:top;padding:2px;"><b>Payment Type : </b>&nbsp;{{PrintConsignments.PaymentMode}}</td>
                <td style="vertical-align:top;padding:2px;"><b>DD Freight </b></td>
                <td style="vertical-align:top;padding:2px;text-align:right;">{{PrintConsignments.DDCharges}}</td>
            </tr>
            <tr style="height:25px;">
                <td colspan="2" style="vertical-align:top;padding:2px;"><b>Invoice No</b></td>
                <td colspan="4" style="vertical-align:top;padding:2px;">{{PrintConsignments.InvoiceNos}}</td>
                <td style="vertical-align:top;padding:2px;"><b>ODA Freight </b></td>
                <td style="vertical-align:top;padding:2px;text-align:right;">{{PrintConsignments.ODACharges}}</td>
            </tr>
            <tr style="height:25px;">
                <td colspan="2" style="vertical-align:top;padding:2px;"><b>Invoice Date</b></td>
                <td colspan="4" style="vertical-align:top;padding:2px;">{{PrintConsignments.InvoiceDates}}</td>
                <td style="vertical-align:top;padding:2px;"><b>Other Charges </b></td>
                <td style="vertical-align:top;padding:2px;text-align:right;">{{PrintConsignments.OtherCharges}}</td>
            </tr>
            <tr style="height:25px;">
                <td colspan="2" style="vertical-align:top;padding:2px;"><b>Invoice Amount</b></td>
                <td colspan="4" style="vertical-align:top;padding:2px;">{{PrintConsignments.InvoiceValue}}</td>
                <td style="vertical-align:top;padding:2px;"><b>AOC </b></td>
                <td style="vertical-align:top;padding:2px;text-align:right;">{{PrintConsignments.OtherAOC}}</td>
            </tr>
            <tr style="height:25px;">
                <td colspan="2" style="vertical-align:top;padding:2px;"><b>Part No</b></td>
                <td colspan="4" style="vertical-align:top;padding:2px;">{{PrintConsignments.PartNos}}</td>
                <td style="vertical-align:top;padding:2px;"><b>Total </b></td>
                <td style="vertical-align:top;padding:2px;text-align:right;">{{PrintConsignments.TotalAmount}}</td>
            </tr>
            <tr style="height:25px;">
                <td colspan="2" style="vertical-align:top;padding:2px;"><b>ASN No</b></td>
                <td colspan="4" style="vertical-align:top;padding:2px;">{{PrintConsignments.ASNNos}}</td>
                <td style="vertical-align:top;padding:2px;"><b>Tax Amount </b></td>
                <td style="vertical-align:top;padding:2px;text-align:right;">{{PrintConsignments.TaxAmount}}</td>
            </tr>
            <tr style="height:25px;">
                <td colspan="2" style="vertical-align:top;padding:2px;"><b>Cheque No</b></td>
                <td colspan="4" style="vertical-align:top;padding:2px;">{{PrintConsignments.ChequeNo}}</td>
                <td style="vertical-align:top;padding:2px;"><b>Grand Total </b></td>
                <td style="vertical-align:top;padding:2px;text-align:right;">{{PrintConsignments.GrandTotal}}</td>
            </tr>
        </table>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#liConsignment").addClass("active");
        $("#liOperations").addClass("active");
    });
</script>





















