﻿<div class="box box-warning" data-ng-app="App" data-ng-controller="ManifestDelivery_ngController" >
    <div><input type="hidden" id="hdnBranchID" ng-model="BranchId" value='@ViewData["BranchId"]' /></div>
    <div class="box-header with-border col-lg-12">
        <h3 class="box-title">Consignment Delivery</h3>
    </div>
    <div class="clearfix"></div>
    <div class="box-body">
        <div class="col-lg-12">
            <div class="row">
                <div class="box-body table-responsive no-padding">
                    <table id="tblConsignmentDelivery" datatable dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="fullwidth table table-striped table-bordered marleft15"></table>
                </div>
            </div>
        </div>

    </div>
    <div class="modal fade bs-example-modal-lg" id="DeliveryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmInvoice">
        <div class="modal-dialog  modal-lg width50" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="pull-left">
                        Update Status
                    </span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="box box-warning">
                    <div class="modal-body">
                        <div class="form-group" ng-form="frmDelivery" style="width: 100% !important">
                            <div class="col-lg-12">
                                <div class="form-group col-lg-6">
                                    <label>Delivery Status</label>
                                    <select id="drpFrom" class="form-control" ng-model="manifestConsignment.DeliveryStatus" ng-required="true"
                                            ng-init="value.DeliveryStatusID == manifestConsignment.DeliveryStatus" ng-options="value.DeliveryStatusID as value.DeliveryStatus for (key, value) in deliveryStatusTypes">
                                        <option value="" ng-selected="manifestConsignment.DeliveryStatus == ''">-- Select --</option>
                                    </select>
                                </div>

                                <div class="form-group col-lg-6">
                                    <label> Delivery Date</label>
                                    <input autocomplete="off" id="txtDeliveryDate" type="text" class="form-control maxwidth" placeholder="Date" ng-model="manifestConsignment.DeliveryDate" ng-required="true">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group col-lg-6">
                                    <label>Delivered Articles </label>
                                    <input autocomplete="off" id="txtDelArticles" type="number" class="form-control maxwidth" placeholder="Delivered Articles" ng-model="manifestConsignment.DeliveredArticles" ng-disabled="true">
                                </div>

                                <div class="form-group col-lg-6">
                                    <label>Vehicle No. </label>
                                    <input autocomplete="off" id="txtVehicleNo" type="text" class="form-control maxwidth" placeholder="Vehicle No" ng-model="manifestConsignment.VehicleNo">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group col-lg-6">
                                    <label>Delivery Time</label>
                                    <input id="txtDeliveryTime" type="text" class="input-small form-control maxwidth" ng-model="manifestConsignment.DeliveryTime">
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Remarks</label>
                                    <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Remarks" ng-model="manifestConsignment.DeliveryRemarks">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary col-md-pull-0" ng-click="UpdateManifestConsignmentsStatus()">Save</button>
                        <button type="button" class="btn btn-primary col-md-pull-0" ng-click="closeModal()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bs-example-modal-lg" id="UploadImageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmInvoice">
        <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="pull-left">Upload Image</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="box box-warning">
                    <div class="modal-body">
                        <div class="form-group col-lg-12" style="width: 100% !important">
                            <div class="form-group" ng-form="frmImageUpload">
                                <label>Consignment No</label>   :   <span> {{manifestConsignment.ConsignmentNo}}</span>
                            </div>
                            <div class="martop10 form-group" style="width: 100% !important">
                                <form>
                                    <input id="fileupload" type="file" name="myFile" ng-model="imageSrc" file-model="myFile" />
                                </form>
                            </div>
                        </div>

                    </div>
                    <div class="clearfix"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary col-md-pull-0" ng-click="uploadFile()">Upload Image</button>
                        <button type="button" class="btn btn-primary col-md-pull-0" ng-click="closeModal()">Cancel</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bs-example-modal-lg" id="ViewImageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmViewImage">
        <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="modal-body">
                    <img id="viewImage" width="328" height="450" />
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#liConsignmentDeliveryStatus").addClass("active");
        $("#liOperations").addClass("active");
    });
</script>
