﻿<div class="box box-warning" data-ng-app="App" data-ng-controller="AddConsignment_ngController" ng-init="GetConsignmentToEdit(@ViewData["ConsignmentId"],'update')">
    <div><input type="hidden" id="hdnConsignmentId" ng-model="consignmentBooking.ConsignmentID" value='@ViewData["ConsignmentId"]' /></div>
    <div class="box-body">
        <div class="col-lg-12 bgwhite">
            <div class="box-header with-border col-lg-12">
                <h3 class="box-title"> Edit Consignment Details</h3>
                @if (ViewBag.RedirectPage == true)
                {
                    <a class="btn btn-primary pull-right" ng-click="RedirectToConsignmentBilling()">Back To Billing </a>
                }
                </div>
            <div class="form-group col-lg-12">
                <div class="form-horizontal" ng-form="frmBookings" id="consignBookingEntry" style="@(ViewBag.RedirectPage==true?"pointer-events:none":"")">

                    <div class="form-group martop10">

                        <div class="col-lg-3">
                            <label>Consignment Date</label>
                            <input autocomplete="off" type="text" id="txtConsignmentDate" class="form-control maxwidth" placeholder="Consignment Date" ng-model="consignmentBooking.ConsignmentDate" readonly>
                        </div>
                        <div class="col-lg-3">
                            <label>Consignment Time</label>
                            <input autocomplete="off" type="text" id="txtConsignmentTime" class="form-control maxwidth" placeholder="Consignment Time" ng-model="consignmentBooking.ConsignmentTime" readonly>
                        </div>
                        <div class="col-lg-3">
                            <label>Payment Type </label>

                            <select id="dpdnpmtType" class="form-control" ng-change="ShowBillingParty()" ng-model="consignmentBooking.PaymentTypeID"
                                    ng-required="true" ng-init="value.PaymentTypeID == consignmentBooking.PaymentTypeID" ng-options="value.PaymentTypeID as value.PaymentType for (key, value) in PaymentTypes">
                                <option value="">-- Select --</option>
                            </select>
                        </div>
                        <div class="col-lg-3">
                            <label>Pickup From</label>
                            <select id="ddlPickupFrom" class="form-control" ng-model="consignmentBooking.ConsignmentFromID" ng-required="true"
                                    ng-init="value.OtherBranchID == consignmentBooking.ConsignmentFromID" ng-options="value.OtherBranchID as value.BranchName for (key, value) in OtherBranches">
                                <option value="" ng-selected="consignmentBooking.ConsignmentFromID == ''">-- Select --</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group martop10">

                        <div class="col-lg-3">
                            <label>Destination</label>
                            <select id="ddlDeliveryBranch" class="form-control" ng-model="consignmentBooking.ConsignmentToID" ng-required="true"
                                    ng-init="value.OtherBranchID == consignmentBooking.ConsignmentToID" ng-options="value.OtherBranchID as value.BranchName for (key, value) in OtherBranches">
                                <option value="" ng-selected="consignmentBooking.ConsignmentToID == ''">-- Select --</option>
                            </select>
                        </div>
                        <div class="col-lg-3">
                            <label> Delivery Branch </label>
                            <select id="ddlPickupFrom" class="form-control" ng-model="consignmentBooking.DestinationID" ng-required="true"
                                    ng-init="value.BranchID == consignmentBooking.DestinationID" ng-options="value.BranchID as value.BranchName for (key, value) in Branches">
                                <option value="" ng-selected="consignmentBooking.DestinationID == ''">-- Select --</option>
                            </select>
                        </div>
                        <div class="col-lg-3">
                            <label>Delivery Type </label>
                            <select id="dpdnDeliveryType" class="form-control" ng-model="consignmentBooking.DeliveryTypeID" ng-required="true"
                                    ng-init="value.DeliveryTypeID == consignmentBooking.DeliveryTypeID" ng-options="value.DeliveryTypeID as value.DeliveryType for (key, value) in DeliveryTypes">
                                <option value="" ng-selected="consignmentBooking.DeliveryTypeID == ''">-Select-</option>
                            </select>
                        </div>
                        <div class="col-lg-3">
                            <label>Billing Party </label>
                            <select id="dpdnBillingParty" ng-disabled="(!(isBillingParty))" class="form-control" ng-model="consignmentBooking.BillingPartyID" ng-required="(isBillingParty)"
                                    ng-init="value.VendorID == consignmentBooking.BillingPartyID" ng-options="value.VendorID as value.VendorName for (key, value) in BillingVendors">
                                <option value="" ng-selected="consignmentBooking.BillingPartyID == ''">-Select-</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group martop10">

                        <div class="col-lg-3">
                            <label> Transport Type</label>
                            <select id="dpdnTransType" class="form-control" ng-model="consignmentBooking.TransportTypeID" ng-required="true"
                                    ng-init="value.TransportTypeID == consignmentBooking.TransportTypeID" ng-options="value.TransportTypeID as value.TransportType for (key, value) in TransportTypes">
                                <option value="" ng-selected="consignmentBooking.TransportTypeID == ''">-Select-</option>

                            </select>
                        </div>
                        <div class="col-lg-3">
                            <label>Service Tax Paid By</label>
                            <select id="dpdnSvcTax" class="form-control" ng-model="consignmentBooking.ServiceTaxId" ng-required="true"
                                    ng-init="value.ServiceTaxPaidByID == consignmentBooking.ServiceTaxId" ng-options="value.ServiceTaxPaidByID as value.ServiceTaxPaidBy for (key, value) in ServiceTaxPaidBy">
                                <option value="" ng-selected="consignmentBooking.ServiceTaxId == ''">-Select-</option>
                            </select>
                        </div>
                        <div class="col-lg-3">
                            <label>Cargo Type</label>
                            <select id="dpdnCargo" class="form-control" ng-model="consignmentBooking.CargotTypeID" ng-required="true"
                                    ng-init="value.CargoTypeID == consignmentBooking.CargotTypeID" ng-options="value.CargoTypeID as value.CargoType for (key, value) in CargoTypes">
                                <option value="" ng-selected="consignmentBooking.CargotTypeID == ''">-Select-</option>

                            </select>
                        </div>
                        <div class="col-lg-3">
                            <label>Mode of Transport</label>
                            <select id="dpdnTransmode" class="form-control" ng-model="consignmentBooking.TransportModeID" ng-required="true"
                                    ng-init="value.TransportModeId == consignmentBooking.TransportModeID" ng-options="value.TransportModeId as value.TransportMode for (key, value) in Transportmodes">
                                <option value="" ng-selected="consignmentBooking.TransportModeID == ''">-Select-</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group martop10">

                        <div class="col-lg-3">
                            <label>Door Collection</label>
                            <select id="dpdnDCColl" class="form-control" ng-model="consignmentBooking.DoorCollectionID" ng-change="ShowVehicles()" ng-required="true"
                                    ng-init="value.DoorCollectionID == consignmentBooking.DoorCollectionID" ng-options="value.DoorCollectionID as value.DoorCollection for (key, value) in DoorCollections">
                                <option value="" ng-selected="consignmentBooking.DoorCollectionID == ''">-Select-</option>
                            </select>
                        </div>
                        <div class="col-lg-3">
                            <label>Vehicle  No</label>
                            <select id="dpdnVehicle" class="form-control" ng-disabled="(!(isDoorCollection))" ng-model="consignmentBooking.VehicleID" ng-required="(isDoorCollection)"
                                    ng-init="value.VehicleID == consignmentBooking.VehicleID" ng-options="value.VehicleID as (value.VehicleNo+' - '+value.BookingAmount) for (key, value) in Vehicles">
                                <option value="" ng-selected="consignmentBooking.VehicleID == ''">-Select-</option>
                            </select>
                        </div>
                        <div class="col-lg-3">
                            <label>PinCode</label>
                            <select id="dpdnPincode" class="form-control" ng-change="ShowODA()" ng-model="consignmentBooking.PinCodeID" ng-required="true"
                                    ng-init="value.PinCodeId == consignmentBooking.PinCodeID" ng-options="value.PinCodeId as value.PinCode for (key, value) in PinCodes">
                                <option value="" ng-selected="consignmentBooking.PinCodeID == ''">-Select-</option>

                            </select>
                        </div>
                        <div class="col-lg-3">
                            <label>ODA</label>
                            <select id="dpdnODA" class="form-control" ng-disabled="(!(isShowODA))" ng-model="consignmentBooking.ODAID" ng-required="(isShowODA)"
                                    ng-init="value.ODAID == consignmentBooking.ODAID" ng-options="value.ODAID as (value.PinCode+' - '+value.ODAAmount) for (key, value) in ODA">
                                <option value="" ng-selected="consignmentBooking.ODAID == ''">-Select-</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group martop10">


                        <div class="col-lg-3">
                            <label>Consignor Name</label>
                            <select id="dpdnConsignor" class="form-control" ng-change="GetConsignorAddress()" ng-model="consignmentBooking.ConsignorID" ng-required="true"
                                    ng-init="value.VendorID == consignmentBooking.ConsignorID" ng-options="value.VendorID as value.VendorName for (key, value) in consignorVendors">
                                <option value="" ng-selected="consignmentBooking.ConsignorID == ''">-Select-</option>

                            </select>

                        </div>

                        <div class="col-lg-3">
                            <label>Consignor GST No</label>
                            <input autocomplete="off" type="text" id="txtConsignorGSTNo" class="form-control maxwidth" placeholder="Consignor GST No" ng-model="consignmentBooking.ConsignorGSTNo" readonly>
                        </div>
                        <div class="col-lg-3">
                            <label>Consignee Name</label>
                            <select id="dpdnConsignee" class="form-control" ng-change="GetConsigneeAddress()" ng-model="consignmentBooking.ConsigneeID" ng-required="true"
                                    ng-init="value.VendorID == consignmentBooking.ConsigneeID" ng-options="value.VendorID as value.VendorName for (key, value) in Vendors">
                                <option value="" ng-selected="consignmentBooking.ConsigneeID == ''">-Select-</option>
                            </select>
                        </div>

                        <div class="col-lg-3">
                            <label>Consignee GST No</label>
                            <input autocomplete="off" type="text" id="txtConsigneeGSTNo" class="form-control maxwidth" placeholder="Consignee GST No" ng-model="consignmentBooking.ConsigneeGSTNo" readonly>
                        </div>
                    </div>

                    <div class="form-group martop10">

                        <div class="col-lg-3">
                            <label>Contact Person Name</label>
                            <input autocomplete="off" type="text" name="contactPersonName" ng-maxlength="500" multiple="true" class="form-control" placeholder="Contact Person Name" ng-model="consignmentBooking.ContactPersonName" ng-required="true">
                            <span style="color:red" ng-show="frmBookings.contactPersonName.$error.maxlength">
                                Only 500 characters allowed !!
                            </span>
                        </div>
                        <div class="col-lg-3">
                            <label>Mobile Number</label>
                            <input autocomplete="off" type="text" name="mobileNumber" ng-maxlength="500" multiple="true" class="form-control maxwidth" placeholder="Mobile Number" ng-model="consignmentBooking.MobileNumber" ng-required="true">
                            <span style="color:red" ng-show="frmBookings.mobileNumber.$error.maxlength">
                                Only 500 characters allowed !!
                            </span>
                        </div>
                        <div class="col-lg-3">
                            <label>Consignor Address</label>
                            <textarea autocomplete="off" type="text" name="consignorAddr" multiple="true" ng-required="true" ng-maxlength="500" class="form-control maxwidth" placeholder="Consignor Address" ng-model="consignmentBooking.ConsignorAddress"></textarea>
                            <span style="color:red" ng-show="frmBookings.consignorAddr.$error.maxlength">
                                Only 500 characters allowed !!
                            </span>
                        </div>
                        <div class="col-lg-3">
                            <label>Consignee Address</label>
                            <textarea autocomplete="off" type="text" name="consigneeAddr" multiple="true" ng-required="true" ng-maxlength="500" class="form-control maxwidth" placeholder="Consignee Address" ng-model="consignmentBooking.ConsigneeAddress"></textarea>
                            <span style="color:red" ng-show="frmBookings.consigneeAddr.$error.maxlength">
                                Only 500 characters allowed !!
                            </span>
                        </div>
                    </div>

                    <div class="form-group col-lg-12 martop10">
                        @if (ViewBag.RedirectPage == false)
                        {
                            <button type="button" class="btn btn-primary" ng-click="SaveBookings()">Save Booking</button>
                        }
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-horizontal martop25">
                    <h4 class="box-title">Invoice Details</h4>
                    <hr />
                    @if (ViewBag.RedirectPage == false)
                    {
                        <div class="form-group col-lg-12">
                            <button type="button" class="btn btn-primary btnwhite pull-right" style="font-weight:bold;" ng-click="showPartyInvoiceModal()" ng-disabled="(IsDisableAddInvoice)">+ &nbsp; Add Invoice</button>
                        </div>
                    }
                    <div class="form-group col-lg-12">
                        <table style="display: block;overflow:scroll;" id="tblInvoices" class="table table table-striped table-hover" ng-show="(activePartyInvoices.length>0)" st-table="activePartyInvoices" st-safe-src="partyInvoiceCollection">
                            <tr>
                                <th st-sort="InvoiceNo">Invoice No</th>
                                <th st-sort="InvoiceDate">Invoice Date</th>
                                <th st-sort="InvoiceQuantity">Invoice Quantity</th>
                                <th st-sort="InvoiceValue">Invoice Value</th>
                                <th st-sort="PartNo">Part No</th>
                                <th st-sort="ASNNo">ASN No</th>
                                <th st-sort="Article">Article</th>
                                <th st-sort="Packaging">Packaging</th>
                                <th st-sort="ChargeType">Charge Type</th>
                                <th st-sort="ActualWeight">Actual Weight</th>
                                <th st-sort="ChargeWeight">Charge Weight</th>
                                <th st-sort="RatePerKG">Rate PerKG</th>
                                <th st-sort="LxWxH">L x W x H</th>
                                <th st-sort="BasicFreight">Basic Freight</th>
                                <th st-sort="PONo">Po No</th>
                                <th></th>
                            </tr>


                            <tr ng-repeat="invoice in activePartyInvoices" id="tr_{{invoice.PartyInvoiceID}}">
                                <td>{{invoice.InvoiceNo}}</td>
                                <td>{{invoice.InvoiceDate  | date :'dd/MM/yyyy'}}</td>
                                <td>{{invoice.InvoiceQuantity}}</td>
                                <td>{{invoice.InvoiceValue}}</td>
                                <td>{{invoice.PartNo}}</td>
                                <td>{{invoice.ASNNo}}</td>
                                <td>{{invoice.Article}}</td>
                                <td>{{invoice.Packaging}}</td>
                                <td>{{invoice.ChargeType}}</td>
                                <td>{{invoice.ActualWeight}}</td>
                                <td>
                                    {{invoice.ChargeWeight}}
                                </td>
                                <td>{{invoice.RatePerKG}}</td>
                                <td>{{invoice.LxWxH}}</td>
                                <td>{{invoice.BasicFreight}}</td>
                                <td>{{invoice.PONo}}</td>

                                <td>
                                    @if (ViewBag.RedirectPage == false)
                                    {<input type="button" class="btn btn-info pull-right btn-sm" ng-hide="@ViewBag.RedirectPage" ng-click="DeletePartyInvoice(invoice.PartyInvoiceID)" value="Delete">
                                    }
                                </td>
                            </tr>

                        </table>
                    </div>

                </div>
                <div class="form-horizontal martop25" ng-form="frmBookingPayment" id="consignmentPayment">
                    <h4 class="box-title"> Consignment Payment</h4>
                    <hr />
                    <div class="form-group col-lg-6">
                        <div class="row">
                            <div class="col-lg-6">
                                <label>Goods Description</label>
                                <select id="drpPmtLRType" ng-model="BookingPayment.GoodsDescription" class="form-control" ng-required="true"
                                        ng-init="value.GoodsID == BookingPayment.GoodsDescription" ng-options="value.GoodsID as value.GoodsCode for (key, value) in GoodsDesc">
                                    <option value="" ng-selected="BookingPayment.GoodsDescription == ''">-Select-</option>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <label>EWay Bill No</label>
                                <input autocomplete="off" type="text" id="txtEwayBillNo" class="form-control maxwidth" placeholder="EWay Bill No" ng-model="BookingPayment.EwayBillNo">
                            </div>
                        </div>
                        <div class="row martop10">
                            <div class="col-lg-6">
                                <label>Vendor Code</label>
                                <input autocomplete="off" type="text" id="txtVendorCode" class="form-control maxwidth" placeholder="Vendor Code" ng-model="BookingPayment.VendorCode" readonly>
                            </div>
                            <div class="col-lg-6">
                                <label>Insurance </label>
                                <select ng-model="BookingPayment.InsuranceFlag" id="drpInsurance" ng-change="CalculateFOV()" class="form-control" ng-required="true"
                                        ng-options="o.v as o.n for o in [{ n: 'Yes', v: true }, { n: 'No', v: false }]" ng-disabled="(noteditableratemaster)">
                                    <option value="" ng-selected="BookingPayment.InsuranceFlag == ''">-Select-</option>

                                </select>
                            </div>
                        </div>
                        <div class="row martop10">
                            <div class="col-lg-6">
                                <label>Road Permit </label>
                                <select id="drpPmtLRType" ng-change="showDocument()" class="form-control" ng-model="BookingPayment.RoadPermitAttached" ng-required="true"
                                        ng-options="o.v as o.n for o in [{ n: 'Yes', v: true }, { n: 'No', v: false }]">
                                    <option value="" ng-selected="BookingPayment.RoadPermitAttached == ''">-Select-</option>

                                </select>
                            </div>
                            <div class="col-lg-6">
                                <label>Documents</label>
                                <input autocomplete="off" type="text" id="txtDocuments" class="form-control maxwidth" placeholder="Documents" ng-model="BookingPayment.Documents" ng-required="!(isDisableDocument)">
                            </div>
                        </div>
                        <div class="row martop10">
                            <div class="col-lg-6">
                                <label>FOV</label>
                                <select id="drpFOV" class="form-control" ng-disabled="((isDisableFOV))" ng-required="!(isDisableFOV)" ng-model="BookingPayment.FOVId" ng-change="CalculateFOVCharge()"
                                        ng-init="value.FOVId == BookingPayment.FOVId" ng-options="value.FOVId as value.FOVPercent for (key, value) in FOVs">
                                    <option value="" ng-selected="BookingPayment.FOVId == ''">-Select-</option>

                                </select>
                            </div>
                            <div class="col-lg-6">
                                <label>Payment Type</label>
                                <select id="ddlPaymentType" class="form-control" ng-model="BookingPayment.PaymentTypeID" ng-change="SelectPaymentType()"
                                        ng-init="value.PaymentTypeID == BookingPayment.PaymentTypeID" ng-options="value.PaymentTypeID as value.PaymentType for (key, value) in bankPaymentTypes">
                                    <option value="" ng-selected="BookingPayment.PaymentTypeID == ''">-Select-</option>

                                </select>
                            </div>
                        </div>
                        <div class="row martop10">
                            <div class="col-lg-6">
                                <label>Bank Name</label>
                                <input autocomplete="off" type="text" ng-disabled="(isDisableCheque)" class="form-control maxwidth" placeholder="Bank Name" ng-model="BookingPayment.BankName" ng-required="(isRequiredCheque)">
                            </div>
                            <div class="col-lg-6">
                                <label>Branch Name</label>
                                <input autocomplete="off" type="text" ng-disabled="(isDisableCheque)" class="form-control maxwidth" placeholder="Branch Name" ng-model="BookingPayment.BranchName" ng-required="(isRequiredCheque)">
                            </div>
                        </div>
                        <div class="row martop10">
                            <div class="col-lg-6">
                                <label>Cheque No</label>
                                <input autocomplete="off" type="text" ng-disabled="(isDisableCheque)" class="form-control maxwidth" placeholder="Cheque No" ng-model="BookingPayment.ChequeNo" ng-required="(isRequiredCheque)">
                            </div>
                            <div class="col-lg-6">
                                <label>Cheque Date</label>
                                <input autocomplete="off" id="chqDate" ng-disabled="(isDisableCheque)" type="text" class="form-control maxwidth" placeholder="Cheque Date" ng-model="BookingPayment.ChequeDate" ng-required="(isRequiredCheque)">
                            </div>
                        </div>
                        <div class="row martop10">
                            <div class="col-lg-6">
                                <label>Payment Collected</label>
                                <select id="drpPaymentCollected" ng-model="BookingPayment.PaymentCollected" class="form-control" ng-required="true"
                                        ng-options="o.v as o.n for o in [{ n: 'Yes', v: true }, { n: 'No', v: false }]">
                                    <option value="" ng-selected="BookingPayment.PaymentCollected == ''">-Select-</option>

                                </select>
                            </div>

                        </div>
                        <div class="row martop10">
                            <div class="col-lg-12">
                                <label>Remarks</label>
                                <textarea autocomplete="off" name="consignpaymentRemark" type="text" class="form-control maxwidth" placeholder="Remarks" ng-model="BookingPayment.Remark" ng-maxlength="500"></textarea>
                                <span style="color:red" ng-show="frmBookingPayments.consignpaymentRemark.$error.maxlength">
                                    Only 500 characters allowed !!
                                </span>
                            </div>

                        </div>
                        <div class="row martop25">
                            <div class="col-lg-12">
                                <button type="button" class="btn btn-primary" ng-click="SaveBookingPayments()">Save Booking Payment</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-lg-6" style="border:1px solid silver;margin-left:10px;padding:10px;">
                        <div class="col-lg-12">
                            <div class="row marbottom10">
                                <div class="col-lg-4">Standard Rate</div>
                                <div class="col-lg-8">
                                    <input autocomplete="off" type="text" id="txtStandardRate" class="form-control" ng-model="BookingPayment.StandardRate" readonly>
                                </div>
                            </div>
                            <div class="row marbottom10">
                                <div class="col-lg-4">Basic Freight</div>
                                <div class="col-lg-8">
                                    <input autocomplete="off" type="text" id="txtBasicFreight" class="form-control" placeholder="Basic Freight" ng-model="BookingPayment.BasicFreight" readonly>
                                </div>
                            </div>
                            <div class="row marbottom10">
                                <div class="col-lg-4">Pick Up</div>
                                <div class="col-lg-8">
                                    <input autocomplete="off" ng-disabled="((isDisablePickup)||(noteditableratemaster))" type="text" id="txtPickup" class="form-control" placeholder="0" ng-model="BookingPayment.Pickup" ng-required="!(isDisablePickup)" ng-change="CalculateTotalAmount()">
                                </div>
                            </div>
                            <div class="row marbottom10">
                                <div class="col-lg-4">FOV</div>
                                <div class="col-lg-8">
                                    <input autocomplete="off" type="text" id="txtFOV" ng-disabled="(noteditableratemaster)" class="form-control" placeholder="FOV" ng-model="BookingPayment.FOV" ng-change="CalculateTotalAmount()" readonly>
                                </div>
                            </div>

                            <div class="row marbottom10">
                                <div class="col-lg-4">Hamali Charges</div>
                                <div class="col-lg-8">
                                    <input autocomplete="off" type="number" id="txtHamaliCharges" ng-disabled="(noteditableratemaster)" class="form-control" placeholder="0" ng-model="BookingPayment.HamaliCharges" ng-change="CalculateTotalAmount()">
                                </div>
                            </div>
                            <div class="row marbottom10">
                                <div class="col-lg-4">Docket Charges</div>
                                <div class="col-lg-8">
                                    <input autocomplete="off" type="number" id="txtDocketCharges" class="form-control" ng-disabled="(noteditableratemaster)" placeholder="Docket Charge" ng-model="BookingPayment.DocketCharges" ng-change="CalculateTotalAmount()">
                                </div>
                            </div>

                            <div class="row marbottom10">
                                <div class="col-lg-4">DD Freight</div>
                                <div class="col-lg-8">
                                    <input autocomplete="off" ng-disabled="((isDisabledDDFreight)||(noteditableratemaster))" type="number" id="txtDoorDelivery" class="form-control" placeholder="0" ng-model="BookingPayment.DDCharges" ng-change="CalculateTotalAmount()">
                                </div>
                            </div>
                            <div class="row marbottom10">
                                <div class="col-lg-4">ODA Freight</div>
                                <div class="col-lg-8">
                                    <input autocomplete="off" type="number" id="txtLabourCharges" class="form-control" placeholder="0" ng-model="BookingPayment.ODACharges" ng-change="CalculateTotalAmount()">
                                </div>
                            </div>

                            <div class="row marbottom10">
                                <div class="col-lg-4">Other Charges</div>
                                <div class="col-lg-8">
                                    <input autocomplete="off" type="number" id="txtOtherCharges" class="form-control" placeholder="0" ng-model="BookingPayment.OtherCharges" ng-change="CalculateTotalAmount()">
                                </div>
                            </div>
                            <div class="row marbottom10">
                                <div class="col-lg-4"> AOC</div>
                                <div class="col-lg-8">
                                    <input autocomplete="off" type="number" id="txtOtherAOC" class="form-control" placeholder="0" ng-model="BookingPayment.OtherAOC" ng-change="CalculateTotalAmount()">
                                </div>
                            </div>
                            <div class="row marbottom10">
                                <div class="col-lg-4">Total</div>
                                <div class="col-lg-8">
                                    <input autocomplete="off" type="text" id="txtTotal" class="form-control" ng-model="BookingPayment.TotalAmount" readonly>
                                </div>
                            </div>
                            <div class="row marbottom10" ng-repeat="tax in paymentTaxes">
                                <div class="col-lg-4">{{tax.TaxType}}({{tax.TaxPercent}}%)</div>
                                <div class="col-lg-8">
                                    <span class="form-control">{{tax.TaxAmount}}</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4">Net Amount</div>
                                <div class="col-lg-8">
                                    <input autocomplete="off" type="text" id="txtGrandTotal" class="form-control" ng-model="BookingPayment.GrandTotal">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade bs-example-modal-lg" id="PartyInvoiceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmInvoice">
        <div class="modal-dialog  modal-lg" role="document" style="height: 510px !important; width: 70% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closeInvoiceModal()" />
                    Add Party Invoice
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height: 550px !important;">
                        <div class="form-group col-lg-12">
                            <div class="form-group col-lg-4">
                                <label>Invoice No</label>
                                <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Invoice No" ng-model="ConsignmentPartyInvoice.InvoiceNo" ng-required="true">
                            </div>
                            <div class="form-group col-lg-4">
                                <label>Invoice Date</label>
                                <input autocomplete="off" type="text" id="txtInvoiceDate" class="form-control maxwidth" placeholder="Invoice Date" ng-model="ConsignmentPartyInvoice.InvoiceDate" ng-required="true">
                            </div>
                            <div class="form-group col-lg-4">
                                <label>Invoice Value </label>

                                <input autocomplete="off" type="number" class="form-control maxwidth" placeholder="Invoice Value" ng-model="ConsignmentPartyInvoice.InvoiceValue" ng-required="true">
                            </div>
                            <div class="form-group col-lg-4">
                                <label>Invoice Quantity </label>
                                <input autocomplete="off" type="number" class="form-control maxwidth" placeholder="Invoice Quantity" ng-model="ConsignmentPartyInvoice.InvoiceQuantity" ng-required="true" ng-change="GetMahindraVendorRates()">
                            </div>
                            <div class="form-group col-lg-4">
                                <label>PO No </label>
                                <input autocomplete="off" type="number" class="form-control maxwidth" placeholder="PO No" ng-model="ConsignmentPartyInvoice.PONo">
                            </div>
                            <div class="form-group col-lg-4">
                                <label>Part No</label>
                                <input ng-if="!(IsMHEL)" autocomplete="off" type="text" class="form-control maxwidth" placeholder="Part No" ng-model="ConsignmentPartyInvoice.PartNo">
                                <select ng-if="(IsMHEL)" id="drpPartNos" class="form-control" ng-model="ConsignmentPartyInvoice.PartNo" ng-change="CalculateBasicFreight('partno')" ng-required="true">
                                    <option value="" selected>-Select-</option>
                                    <option data-ng-repeat="pt in PartNos" value="{{pt.PartNoID}}" ng-selected="pt.PartNoID   == ConsignmentPartyInvoice.PartNo">{{pt.PartNo}}</option>
                                </select>

                            </div>
                            <div class="form-group col-lg-4">
                                <label>Asn No </label>

                                <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Asn No" ng-model="ConsignmentPartyInvoice.ASNNo">
                            </div>
                            <div class="form-group col-lg-4">
                                <label>No Of Article</label>
                                <input autocomplete="off" type="number" class="form-control maxwidth" placeholder="Article" ng-model="ConsignmentPartyInvoice.Article" ng-required="true">
                            </div>
                            <div class="form-group col-lg-4">
                                <label>Packaging</label>
                                <select id="drpPackaging" class="form-control" ng-model="ConsignmentPartyInvoice.PackagingID" @*ng-change="getnewlrNo(joborderlr)"*@ ng-required="true">
                                    <option value="" selected>-Select-</option>
                                    <option data-ng-repeat="pkg in Packagings" value="{{pkg.PackagingID  }}" ng-selected="pkg.PackagingID   == ConsignmentPartyInvoice.PackagingID">{{pkg.Packaging  }}</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-4">
                                <label>Charge Type</label>
                                <select id="drpChargeType" class="form-control" ng-model="ConsignmentPartyInvoice.ChargeType" ng-required="true" ng-change="CalculateBasicFreight('chargetype')" ng-readonly="((IsMHEL))">
                                    <option value="" selected>-Select-</option>
                                    <option data-ng-repeat="type in ChargeTypes" value="{{type.ChargeTypeID  }}">{{type.ChargeType  }}</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-4">
                                <label>Actual Weight </label>
                                <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Actual Weight" ng-model="ConsignmentPartyInvoice.ActualWeight" ng-required="true" ng-readonly="((IsMHEL))">
                            </div>

                            <div class="form-group col-lg-4">
                                <label>Charge Weight </label>
                                <input autocomplete="off" type="text" ng-change="CalculateBasicFreight()" class="form-control maxwidth" placeholder="Charge Weight" ng-model="ConsignmentPartyInvoice.ChargeWeight" ng-required="true" ng-readonly="((IsMHEL))">
                            </div>
                            <div class="form-group col-lg-4">
                                <label>Standard Rate</label>
                                <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Standard Rate" ng-model="ConsignmentPartyInvoice.StandardRate" readonly>
                            </div>
                            <div class="form-group col-lg-4">
                                <label>Rate per KG</label>
                                <input autocomplete="off" type="text" ng-change="CalculateBasicFreight()" class="form-control maxwidth" placeholder="Rate per KG" ng-model="ConsignmentPartyInvoice.RatePerKG" ng-required="true" ng-disabled="(noteditableratemaster)">
                            </div>
                            <div class="form-group col-lg-4">
                                <label>Basic Freight </label>

                                <input autocomplete="off" type="text" readonly class="form-control maxwidth" placeholder="Basic Freight" ng-model="ConsignmentPartyInvoice.BasicFreight" readonly>
                            </div>
                            <div class="form-group col-lg-4">
                                <label>L x W x H</label>

                                <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="L x W x H" ng-model="ConsignmentPartyInvoice.LxWxH" ng-required="!(ConsignmentPartyInvoice.ChargeWeight == ConsignmentPartyInvoice.ActualWeight)" ng-readonly="((IsMHEL))">
                            </div>
                            <div class="form-group col-lg-8">
                                &nbsp;
                            </div>
                            <div class="form-group col-lg-12">
                                <button type="button" class="btn btn-primary" ng-click="SavePartyInvoices()">Save</button>
                                <button type="submit" class="btn btn-warning" ng-click="closeInvoiceModal()">Cancel</button>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#liConsignment").addClass("active");
        $("#liOperations").addClass("active");
    });
</script>


















