﻿<div class="box" data-ng-app="App" data-ng-controller="LocalManifest_ngController" >
    <div><input type="hidden" id="hdnBranchID" ng-model="BranchId" value='@ViewData["BranchId"]' /></div>
    <div class="box-header with-border col-lg-12">
        <h3 class="box-title">Local Vehicle Hire Payment</h3>
        @if(Convert.ToInt32(ViewData["BranchId"]) != 0)
        {
            <a class="btn btn-primary pull-right" ng-click="AddVehicleHirepayment()">+ Add</a>
        }
        </div>
    <div class="clearfix"></div>
    <div class="box-body">
        <div class="col-lg-12">
            <div class="row">
                <div class="box-body table-responsive no-padding">
                    <table id="tblVehicleHire" datatable dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="fullwidth table table-striped table-bordered marleft15"></table>
                </div>
            </div>
        </div>

    </div>



<div class="modal fade bs-example-modal-lg" id="LocalVehicleHireModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmInvoice">
    <div class="modal-dialog  modal-lg" role="document" style="height: 550px !important; width: 75% !important;" @*style="overflow-y: scroll; max-height:85%;  margin-top: 50px; margin-bottom:50px;"*@>
        <div class="modal-content">
            <div class="modal-header">
                <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closeVehicleHire()" />
                Vehicle Hire Payment
            </div>
            <div class="box box-warning">
                <div class="modal-body">

                    <div class="form-group col-lg-12" ng-form="frmVehHire" style="width: 100% !important">

                        <div class="form-group col-lg-4">
                            <label>Booking Date</label>
                            <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Booking Date" ng-model="LocalVehicleHire.HireDate" readonly>
                        </div>
                        <div class="form-group col-lg-4">
                            <label>Truck Booking Type </label>

                            <select id="drpPmtLRType" class="form-control" ng-model="LocalVehicleHire.TruckBookingType" ng-change="EnableVehicle()" ng-required="true"
                                    ng-init="value.BookingTypeID == LocalVehicleHire.TruckBookingType" ng-options="value.BookingTypeID as value.BookingType for (key, value) in BookingTypes">
                                <option value="" selected>-Select-</option>

                            </select>
                        </div>


                        <div class="form-group col-lg-4">
                            <label>Vehicle  No <button type="button" class="btn btn-primary btn-xs" ng-click="showVehicleModal()" ng-show="EnableVendor">Add Hired Vehicle</button> </label>

                            <select id="dpdnVehicle" class="form-control" ng-change="GetVehicleDetails()" ng-model="LocalVehicleHire.VehicleID"
                                    ng-required="true" ng-init="value.VehicleID == LocalVehicleHire.VehicleID" ng-options="value.VehicleID as value.VehicleNo for (key, value) in Vehicles">
                                <option value="">-- Select --</option>
                            </select>
                        </div>

                        <div class="form-group col-lg-4">
                            <label>Vendor Name</label>
                            <input autocomplete="off" ng-readonly="true" type="text" class="form-control maxwidth" placeholder="Broker Name" ng-model="LocalVehicleHire.VendorName">
                        </div>
                        <div class="form-group col-lg-4">
                            <label>Registration Date</label>
                            <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Registration Date" ng-model="RegistrationDate" ng-required="true" readonly>
                        </div>
                        <div class="form-group col-lg-4">
                            <label>Fitness Exp Date</label>
                            <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Fitness Exp Date" ng-model="FitnessExpDate" ng-required="true" readonly>
                        </div>
                        <div class="form-group col-lg-4">
                            <label>Insurance Exp Date</label>
                            <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Insurance Exp Date" ng-model="InsuranceExpDate" ng-required="true" readonly>
                        </div>
                        <div class="form-group col-lg-4">
                            <label>PUC Exp Date</label>
                            <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="PUC Exp Date" ng-model="PUCExpDate" ng-required="true" readonly>
                        </div>

                        <div class="form-group col-lg-4">
                            <label>Booking Amount</label>
                            <input autocomplete="off" type="number" class="form-control maxwidth" placeholder="Booking Amount" ng-model="LocalVehicleHire.BookingAmount" ng-change="calculateBalanceAmount()">
                        </div>


                        <div class="form-group col-lg-4">
                            <label>Advance Payment</label>
                            <input autocomplete="off" type="number" class="form-control maxwidth" placeholder="Advance Payment" ng-model="LocalVehicleHire.AdvancePayment" ng-change="calculateBalanceAmount()">
                        </div>
                        <div class="form-group col-lg-4">
                            <label>Balance Payment</label>
                            <input autocomplete="off" type="number" class="form-control maxwidth" placeholder="Balance Payment" ng-model="LocalVehicleHire.BalanceAmount" readonly>
                        </div>

                        <div class="form-group col-lg-4">
                            <label>Payment Type</label>
                            <select id="ddlPaymentType" class="form-control" ng-change="ChangePaymentType()" ng-required="true" ng-model="LocalVehicleHire.PaymentTypeID"
                                    ng-init="value.PaymentTypeID == LocalVehicleHire.PaymentTypeID" ng-options="value.PaymentTypeID as value.PaymentType for (key, value) in PaymentTypes">
                                <option value="" selected>-Select-</option>
                            </select>
                        </div>

                        <div class="form-group col-lg-4">
                            <label>Bank Name</label>
                            <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Bank Name" ng-model="LocalVehicleHire.BankName" ng-disabled="(IsDisabledCheque)">
                        </div>
                        <div class="form-group col-lg-4">
                            <label>Branch Name</label>
                            <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Branch Name" ng-model="LocalVehicleHire.BranchName" ng-disabled="(IsDisabledCheque)">
                        </div>

                        <div class="form-group col-lg-4">
                            <label>IFSC Code</label>
                            <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="IFSC Code" ng-model="LocalVehicleHire.IFSCCode" ng-disabled="(IsDisabledCheque)">
                        </div>
                        <div class="form-group col-lg-4">
                            <label>Pan No</label>
                            <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Pan No" ng-model="LocalVehicleHire.PanNo" ng-disabled="(IsDisabledCheque)">
                        </div>

                        <div class="form-group col-lg-4">
                            <label>Remarks</label>
                            <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Remarks" ng-model="LocalVehicleHire.Remarks">
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="SaveVehicleHire()">Save</button>
                    <button type="submit" class="btn btn-warning" ng-click="closeVehicleHire()">Cancel</button>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- ADD HIRED VEHICLES MODAL -->
<div class="modal fade bs-example-modal-lg" id="AddHiredVehicleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmVehicle">
    <div class="modal-dialog  modal-lg" role="document" style="height: 450px !important; width: 75% !important;" @*style="overflow-y: scroll; max-height:85%;  margin-top: 50px; margin-bottom:50px;"*@>
        <div class="modal-content">
            <div class="modal-header">
                <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closeVehicelModal()" />
                Add Hired Vehicle
            </div>
            <div class="box box-warning">
                <div class="modal-body" style="height: 300px !important;">
                    <div class="form-group col-lg-12">
                        <div class="form-group col-lg-12" style="width: 100% !important">
                            <div class="form-group col-lg-4">
                                <label>Vehicle  Name</label>
                                <input id="txtVehicleName" autocomplete="off" type="text" class="form-control maxwidth" placeholder="Vehicle Name" ng-model="VehicleMaster.VehicleName" ng-required="true">
                            </div>

                            <div class="form-group col-lg-4">
                                <label>Vehicle  No</label>
                                <input id="txtVehicle" autocomplete="off" type="text" class="form-control maxwidth" placeholder="Vehicle No" ng-model="VehicleMaster.VehicleNo" ng-required="true">
                            </div>
                            <div class="form-group col-lg-4">
                                <label>Registration Date</label>
                                <input id="txtRegistrationDate" autocomplete="off" type="text" class="form-control maxwidth" placeholder="Registration Date" ng-model="VehicleMaster.RegistrationDate" ng-required="true">
                            </div>
                            <div class="form-group col-lg-4">
                                <label>Fitness Exp Date</label>
                                <input id="txtFitnessExpDate" autocomplete="off" type="text" class="form-control maxwidth" placeholder="Fitness Exp Date" ng-model="VehicleMaster.FitnessExpDate" ng-required="true">
                            </div>
                            <div class="form-group col-lg-4">
                                <label>Insurance Exp Date</label>
                                <input autocomplete="off" id="txtInsuranceExpDate" type="text" class="form-control maxwidth" placeholder="Insurance Exp Date" ng-model="VehicleMaster.InsuranceExpDate" ng-required="true">
                            </div>
                            <div class="form-group col-lg-4">
                                <label>PUC Exp Date</label>
                                <input autocomplete="off" id="txtPUCExpDate" type="text" class="form-control maxwidth" placeholder="PUC Exp Date" ng-model="VehicleMaster.PUCExpDate" ng-required="true">
                            </div>


                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="AddVehicle()">Save</button>
                    <button type="submit" class="btn btn-warning" ng-click="closeVehicelModal()">Cancel</button>
                </div>

            </div>
        </div>
    </div>
</div>


<!-- END ADD HIRED VEHICLES-->
<div class="modal fade bs-example-modal-lg" id="ManifestModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmInvoice">
    <div class="modal-dialog  modal-lg" role="document" style="height: 200px !important; width: 75% !important;" @*style="overflow-y: scroll; max-height:85%;  margin-top: 50px; margin-bottom:50px;"*@>
        <div class="modal-content">
            <div class="modal-header">
                <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closeManifest()" />
                Create Manifest
            </div>
            <div class="box box-warning">
                <div class="modal-body" style="height: 450px !important;">

                    <div class="form-group col-lg-12" ng-form="frmManifest" style="width: 100% !important">
                        @*
        <div class="form-group col-lg-6">
            <label>Manifest No </label>
            <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Manifest No" ng-model="VehicleManifest.ManifestNo" value="1" readonly>
        </div>
                        *@
                        <div class="form-group col-lg-6">
                            <label>Vehicle No</label>

                            <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Vehicle No" ng-model="ManifestVehicleNo" readonly>
                        </div>
                        <div class="form-group col-lg-6" ng-if="ManifestVehicleType != ''">
                            <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Vehicle No" ng-model="ManifestVehicleType" readonly>
                        </div>

                        <div class="form-group col-lg-6">
                            <label>Driver Name</label>
                            <input autocomplete="off" type="text" name="txtDriverName" class="form-control maxwidth" placeholder="Driver Name" ng-model="VehicleManifest.DriverName" ng-required="true" ng-maxlength="250">
                            <span style="color:red" ng-show="frmManifest.txtDriverName.$error.maxlength">
                                Only 250 characters allowed !!
                            </span>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>Driver Mobile No</label>
                            <input autocomplete="off" type="text" name="txtDriverMobile" class="form-control maxwidth" placeholder="Driver Mobile No" ng-model="VehicleManifest.DriverMobileNo" ng-maxlength="15">
                            <span style="color:red" ng-show="frmManifest.txtDriverMobile.$error.maxlength">
                                Only 15 characters allowed !!
                            </span>
                        </div>

                        <div class="form-group col-lg-6">
                            <label>Licence No</label>
                            <input autocomplete="off" type="text" name="txtLicNo" class="form-control maxwidth" placeholder="Licence No" ng-model="VehicleManifest.LicenseNo" ng-required="true" ng-maxlength="50">
                            <span style="color:red" ng-show="frmManifest.txtLicNo.$error.maxlength">
                                Only 50 characters allowed !!
                            </span>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>Date</label>
                            <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Date" ng-model="VehicleManifest.Created" readonly>
                        </div>

                        <div class="form-group col-lg-6">
                            <label>Estimated Delivery Date</label>
                            <input autocomplete="off" id="txtEstDate" type="text" class="form-control maxwidth" placeholder="Estimated Delivery Date" ng-model="VehicleManifest.EstimatedDeliveryDate">
                        </div>


                        <div class="form-group col-lg-6">
                            <label>Departure Time</label>
                            <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Departure Time" ng-model="VehicleManifest.DepartureTime" readonly>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>Arrival Time</label>
                            <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Arrival Time" ng-model="VehicleManifest.ArrivalTime" readonly>
                        </div>

                        <div class="form-group col-lg-6">
                            <label>From</label>
                            <select id="drpFrom" class="form-control" ng-model="VehicleManifest.FromLoc" ng-required="true"
                                    ng-init="value.OtherBranchID == VehicleManifest.FromLoc" ng-options="value.OtherBranchID as value.BranchName for (key, value) in OtherBranches">
                                <option value="" selected>-Select-</option>

                            </select>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>To</label>
                            <select id="drpnTo" class="form-control" ng-model="VehicleManifest.ToLoc" ng-required="true"
                                    ng-init="value.OtherBranchID == VehicleManifest.ToLoc" ng-options="value.OtherBranchID as value.BranchName for (key, value) in OtherBranches">
                                <option value="" selected>-Select-</option>

                            </select>
                        </div>
                        <div class="form-group col-lg-12">
                            <button type="button" class="btn btn-primary col-md-pull-0" ng-click="SaveManifest()">Save</button>
                            <button type="button" class="btn btn-primary col-md-pull-0" ng-disabled="!(ManifestSaved)" ng-click="ShowConsignment()">Add Consignment</button>
                        </div>
                    </div>
                    <div ng-show="showManifestConsignments">
                        <div class="form-group col-lg-12">
                            <h4>Select Consignment</h4>
                        </div>

                        <div class="form-group col-lg-12">
                            <table class="table table-striped table-hover CustomTable" st-table="activeConsignmentBooking" st-safe-src="activeConsignmentBookingCollection">
                                <thead>
                                    <tr>
                                        <th>
                                            <input autocomplete="off" type="checkbox" ng-model="AllLrsChecked" id="select_all" />
                                        </th>
                                        <th st-sort="ConsignmentNo">Consignment No</th>
                                        <th st-sort="ConsigneeName">Consignee</th>
                                        <th st-sort="ConsignorName">Consignor</th>
                                        <th st-sort="ConsignmentDate">Booking Date</th>
                                        <th st-sort="ConsignmentFrom">From</th>
                                        <th st-sort="ConsignmentTo">To</th>
                                        <th st-sort="Article">Article</th>
                                        <th st-sort="ActualWeight">Actual Weight</th>
                                    </tr>
                                </thead>
                                <tr data-ng-repeat="bookings in activeConsignmentBooking">
                                    <td>
                                        <input autocomplete="off" type="checkbox" checked="{{bookings.checkSelected}}" ng-model="bookings.checkSelected" ng-change="selectConsignment()" />
                                    </td>
                                    <td>{{bookings.ConsignmentNo}}</td>
                                    <td>{{bookings.ConsigneeName}}</td>
                                    <td>{{bookings.ConsignorName}}</td>
                                    <td>{{bookings.ConsignmentDate  | date:'dd/MM/yyyy'}}</td>
                                    <td>{{bookings.ConsignmentFrom}}</td>
                                    <td>{{bookings.ConsignmentTo}}</td>
                                    <td>{{bookings.Article}}</td>
                                    <td>{{bookings.ActualWeight}}</td>


                                </tr>
                                <tfoot>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td colspan="2">
                                            <label>Total Article :</label>&nbsp;{{TotalArticles}}
                                        </td>
                                        <td colspan="2">
                                            <label>Total Actual Weight :</label>&nbsp;{{TotalActualWeight}}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <button type="button" class="btn btn-primary col-md-pull-11" ng-click="AddManifestConsignments()">Save</button>
                                            <button type="button" class="btn btn-warning col-md-pull-12" ng-click="CancelConsignment()">Cancel</button>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">

                    <button type="submit" class="btn btn-warning" ng-click="closeManifest()">Cancel</button>
                </div>

            </div>
        </div>
    </div>
</div>

</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#liLocalVehicleHire").addClass("active");
        $("#liOperations").addClass("active");
    });
</script>