﻿<div class="box box-warning" data-ng-app="App" data-ng-controller="ManifestStatus_ngController" >
    <div><input type="hidden" id="hdnBranchID" ng-model="BranchId" value='@ViewData["BranchId"]' /></div>
    <div class="box-header with-border col-lg-12">
        <h3 class="box-title">Delivery Manifest</h3>
    </div>
    <div class="box-body">
        <div class="col-lg-12">
            <div class="row">
                <div class="box-body table-responsive no-padding">
                    <table id="tblVehicleHire" datatable dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="fullwidth table table-striped table-bordered marleft15"></table>
                </div>
            </div>
        </div>

    </div>
    <div class="modal fade bs-example-modal-lg" id="ManifestStatusModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmInvoice">
        <div class="modal-dialog  modal-lg" role="document" style="height: 200px !important; width: 75% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="CloseModel()" />
                   Delivery Manifest Status
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height: 450px !important;">
                        <div class="col-lg-12">
                            <div class="form-group col-lg-6">
                                <label>Delivery Status</label>
                                <select id="drpFrom" class="form-control" ng-model="DeliveryStatus" ng-required="true"
                                        ng-init="value.DeliveryStatusID == DeliveryStatus" ng-options="value.DeliveryStatusID as value.DeliveryStatus for (key, value) in deliveryStatusTypes">
                                    <option value="" ng-selected="DeliveryStatus == ''">-- Select --</option>
                                </select>
                            </div>

                        </div>
                        <div class="form-group col-lg-12">
                            <table class="table table-striped table-hover CustomTable" st-table="UnloadManifestConsignment">
                                <thead>
                                    <tr>
                                        <th st-sort="ConsignmentNo">Consignment No</th>
                                        <th st-sort="ConsigneeName">Consignee</th>
                                        <th st-sort="ConsignorName">Consignor</th>
                                        <th st-sort="ConsignmentDate">Booking Date</th>
                                        <th st-sort="ConsignmentFrom">From</th>
                                        <th st-sort="ConsignmentTo">To</th>
                                        <th st-sort="Article">Total Articles</th>
                                        <th st-sort="ActualWeight">Actual Weight</th>
              
                                    </tr>
                                </thead>
                                <tr data-ng-repeat="consignments in activeConsignmentBookingCollection">
                                    <td>{{consignments.ConsignmentNo}}</td>
                                    <td>{{consignments.ConsigneeName}}</td>
                                    <td>{{consignments.ConsignorName}}</td>
                                    <td>{{consignments.ConsignmentDate  | date:'dd/MM/yyyy'}}</td>
                                    <td>{{consignments.ConsignmentFrom}}</td>
                                    <td>{{consignments.ConsignmentTo}}</td>
                                    <td>{{consignments.Article}}</td>
                                    <td>{{consignments.ActualWeight}}</td>
                                 
                                </tr>


                            </table>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary col-md-pull-11" ng-click="UpdateManifestConsignmentsStatus()">Save</button>
                        <button type="submit" class="btn btn-warning" ng-click="CloseModel()">Cancel</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#liManifestDeliveryStatus").addClass("active");
        $("#liOperations").addClass("active");
    });
</script>


