﻿<div class="box box-warning" data-ng-app="App" data-ng-controller="ManifestReport_ngController" ng-init="InitReport()">
    <div><input type="hidden" id="hdnBranchID" ng-model="BranchId" value='@ViewData["BranchId"]' /></div>
    <div class="box-body">
        <div class="col-lg-12">
            <div class="box-header with-border col-lg-12">
                <h3 class="box-title">Search Manifest</h3>

            </div>
            <div class="col-lg-12">
                <div class="form-group col-lg-6">
                    <label>From</label>
                    <select id="drpFrom" class="form-control" ng-model="FromLoc" ng-required="true">
                        <option value="" selected>-Select-</option>
                        <option data-ng-repeat="bch in Branches" value="{{bch.BranchID  }}">{{bch.BranchName}}</option>


                    </select>
                </div>
                <div class="form-group col-lg-6">
                    <label>To</label>
                    <select id="drpnTo" class="form-control" ng-model="ToLoc" ng-required="true">
                        <option value="" selected>-Select-</option>
                        <option data-ng-repeat="bch in Branches" value="{{bch.BranchID  }}">{{bch.BranchName}}</option>

                    </select>
                </div>
                <div class="form-group col-lg-6">
                    <label>Created On</label>
                    <input autocomplete="off" id="txtCreatedDate" type="text" class="form-control maxwidth" placeholder="Created Date" ng-model="CreatedDate">
                </div>
                <div class="form-group col-lg-6">
                    <button type="button" class="btn btn-primary" ng-click="GetManifests()">Search Manifests</button>
                </div>
            </div>
            <div class="col-lg-12">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="box">
                            <div class="box-body table-responsive no-padding" style="height: 400px">
                                <table class="table table-striped table-hover CustomTable" st-table="activeManifests" st-safe-src="activeManifestCollection">
                                    <thead>
                                        <tr>
                                            <th st-sort="ManifestNo">Manifest No</th>
                                            <th st-sort="FromBranch ">From Location</th>
                                            <th st-sort="ToBranch">To Location</th>
                                            <th st-sort="Created">Date</th>
                                            <th st-sort="EstimatedDeliveryDate">Estimated Delivery Date</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tr ng-repeat="manifestItem in activeManifests">
                                        <td>{{manifestItem.ManifestNo}}</td>
                                        <td>{{manifestItem.FromBranch  }}</td>
                                        <td>{{manifestItem.ToBranch}}</td>
                                        <td>{{manifestItem.Created  | date:'dd/MM/yyyy'}}</td>
                                        <td>{{manifestItem.EstimatedDeliveryDate  | date:'dd/MM/yyyy'}}</td>
                                        <td>
                                            <button type="button" ng-click="ViewReports (manifestItem.ManifestID)" class="btn btn-warning pull-left btn-sm">View Report</button>
                                        </td>
                                    </tr>



                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*BEGIN REPORT MODAL *@
    <div class="modal fade bs-example-modal-lg" id="ViewReportModal" width="900px" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="closeReport()" />
                    <h4 class="modal-title" id="myModalLabel">Manifest </h4>
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height:800px !important">
                        <iframe height="800px" width="850px" id="reportVwrFrame" ng-src="{{ReportURL}}"></iframe>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="closeReport()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*END REPORT MODAL *@

</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#liManifestReport").addClass("active");
        $("#liOperations").addClass("active");
    });
</script>
