﻿<div class="box box-warning" data-ng-app="App" data-ng-controller="UnloadManifest_ngController" ng-init="GetManifestForUnload()">
    <div><input type="hidden" id="hdnBranchID" ng-model="BranchId" value='@ViewData["BranchId"]' /></div>
    <div class="box-header with-border col-lg-12">
        <h3 class="box-title">Manifest Unload</h3>
    </div>
    <div class="box-body">
        <div class="col-lg-12">
            <div class="row">
                <div class="box-body table-responsive no-padding">
                    <table id="tblVehicleHire" datatable dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="fullwidth table table-striped table-bordered marleft15"></table>
                </div>
            </div>
        </div>

    </div>
    <div class="modal fade bs-example-modal-lg" id="UnloadManifestModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-form="frmInvoice">
        <div class="modal-dialog  modal-lg" role="document" style="height: 200px !important; width: 75% !important;" @*style="overflow-y: scroll; max-height:85%;  margin-top: 50px; margin-bottom:50px;"*@>
            <div class="modal-content">
                <div class="modal-header">
                    <img height="20" width="20" class="pull-right" src="~/Content/img/close-x.png" ng-click="CancelConsignment()" />
                    Create Manifest
                </div>
                <div class="box box-warning">
                    <div class="modal-body" style="height: 450px !important;">

                        <div class="form-group col-lg-12">
                            <table class="table table-striped table-hover CustomTable" st-table="UnloadManifests" style="height:200px;">
                                <thead>
                                    <tr>
                                        <th st-sort="ConsignmentNo">Manifest No</th>
                                        <th st-sort="ConsigneeName">Vehicle No</th>
                                        <th st-sort="ConsignorName">Driver Name</th>
                                        <th st-sort="ConsignmentDate">Driver Mobile No</th>
                                        <th st-sort="ConsignmentFrom">License No</th>
                                        <th st-sort="ConsignmentTo">Date</th>
                                        <th st-sort="TotalArticles">Estimated Delivery Date</th>
                                        <th st-sort="ReceivedArticles">Departure Time</th>
                                        <th st-sort="ReceivedArticles">Arrival Time</th>
                                        <th st-sort="ReceivedArticles">From</th>
                                        <th st-sort="ReceivedArticles">To</th>

                                    </tr>
                                </thead>
                                <tr data-ng-repeat="manifest in UnloadManifests">
                                    <td>{{manifest.ManifestNo}}</td>
                                    <td>{{manifest.VehicleNo}}</td>
                                    <td>{{manifest.DriverName}}</td>
                                    <td>{{manifest.DriverMobileNo}}</td>
                                    <td>{{manifest.LicenseNo}}</td>
                                    <td>{{manifest.Created}}</td>
                                    <td>{{manifest.EstimatedDeliveryDate}}</td>
                                    <td>{{manifest.DepartureTime}}</td>
                                    <td>{{manifest.ArrivalTime}}</td>
                                    <td>{{manifest.FromBranch}}</td>
                                    <td>{{manifest.ToBranch}}</td>

                                </tr>
                            </table>
                        </div>
                        <div>

                            <div class="form-group col-lg-12">
                                <table class="table table-striped table-hover CustomTable" st-table="UnloadManifestConsignment">
                                    <thead>
                                        <tr>
                                            <th st-sort="ConsignmentNo">Consignment No</th>
                                            <th st-sort="ConsigneeName">Consignee</th>
                                            <th st-sort="ConsignorName">Consignor</th>
                                            <th st-sort="ConsignmentDate">Booking Date</th>
                                            <th st-sort="ConsignmentFrom">From</th>
                                            <th st-sort="ConsignmentTo">To</th>
                                            <th st-sort="TotalArticles">Total Articles</th>
                                            <th st-sort="ActualWeight">Actual Weight</th>
                                            <th st-sort="ReceivedArticles">Received Articles</th>

                                            <th>Received Staus</th>
                                            <th>Remarks</th>
                                        </tr>
                                    </thead>
                                    <tr data-ng-repeat="consignments in UnloadManifestConsignment">
                                        <td>{{consignments.ConsignmentNo}}</td>
                                        <td>{{consignments.ConsigneeName}}</td>
                                        <td>{{consignments.ConsignorName}}</td>
                                        <td>{{consignments.ConsignmentDate  | date:'dd/MM/yyyy'}}</td>
                                        <td>{{consignments.ConsignmentFrom}}</td>
                                        <td>{{consignments.ConsignmentTo}}</td>
                                        <td>{{consignments.TotalArticles}}</td>
                                        <td>{{consignments.ActualWeight}}</td>
                                        <td>
                                            <input autocomplete="off" type="number" class="form-control maxwidth" placeholder="Received Articles" ng-change="changeReceivedStatus($index)" ng-model="consignments.ReceivedArticles" ng-required="true">

                                        </td>
                                        <td>
                                            <select id="drpFrom_{{$index}}" class="form-control" ng-model="consignments.ReceivedStatus" ng-change="CheckReceived($index)" ng-required="true"
                                                    ng-init="value.ReceivedID == consignments.ReceivedStatus" ng-options="value.ReceivedID as value.ReceivedType for (key, value) in ReceivedStatus">
                                                <option value="" ng-selected="true">-Select-</option>

                                            </select>
                                        </td>
                                        <td>
                                            <input autocomplete="off" type="text" class="form-control maxwidth" placeholder="Remarks" ng-model="consignments.Remarks" ng-disabled="ReceivedStatusOK[$index]">

                                        </td>
                                    </tr>
                                   
                                    <tfoot class="martop25">
                                        <tr >
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td colspan="3"><label>Total Article :</label>&nbsp;{{TotalArticles}}</td>
                                            <td colspan="3"><label>Total Actual Weight :</label>&nbsp;{{TotalActualWeight}}</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <button type="button" class="btn btn-primary col-md-pull-11" ng-click="UpdateManifestConsignmentsStatus()">Save</button>
                                                <button type="button" class="btn btn-warning col-md-pull-12" ng-click="CancelConsignment()">Cancel</button>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">

                        <button type="submit" class="btn btn-warning" ng-click="CancelConsignment()">Cancel</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#liManifestUnload").addClass("active");
        $("#liOperations").addClass("active");
    });
</script>
