﻿<div class="box box-warning" data-ng-app="App" data-ng-controller="POD_ngController">
   <input type="hidden" id="hdnUserName" value="@ViewBag.UserName"/>
    <div class="clearfix"></div>
    <div class="box-body">
        <div class="col-lg-12">
            <div class="box-header with-border col-lg-12">
                <h3 class="box-title">To Pay / Paid Collection</h3>
            </div>
            <div class="form-group col-lg-12">
                <div class="form-group col-lg-3">
                    <label>  Branch </label>
                    <select id="ddlBranch" class="form-control" readonly="@(Convert.ToString(ViewBag.BranchID) == "0"?false:true)">
                        <option value="0">-- Select --</option>
                        <option data-ng-repeat="br in Branches" ng-selected="br.BranchID==@ViewBag.BranchID" value="{{br.BranchID}}">{{br.BranchName}}</option>
                    </select>
                </div>
                <div class="form-group col-lg-3">
                    <button type="button" class="btn btn-primary martop25" ng-click="GetPOD()">Search</button>
                </div>
            </div>


        </div>

    </div>
    <div class="clearfix"></div>
    <div class="box-body">
        <div class="col-lg-12">
            <div class="row">
                <div class="box-body table-responsive no-padding">
                    <table id="tblPOD" datatable dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="fullwidth table table-striped table-bordered marleft15"></table>
                </div>
            </div>
        </div>

    </div>
  
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#liPODReceived").addClass("active");
        $("#liOperations").addClass("active");
    });
</script>




