﻿<div class="box" data-ng-app="App" data-ng-controller="ReserveConsignment_ngController" ng-init="GetBranches()">
    <div>
        <input type="hidden" id="hdnBranchID" ng-model="BranchId" value='@ViewData["BranchId"]' />
    </div>

    <div class="box-header with-border col-lg-12">
        <h1 class="box-title">Reserve Consignment </h1>
    </div>
    <div class="clearfix"></div>
    <div class="box-body">
        <div class="col-lg-12">
            <div class="form-group col-lg-6">
                <div class="form-group col-lg-4">
                    <label> Branch </label>
                    <select id="ddlBranch" class="form-control" readonly="@(Convert.ToString(ViewBag.BranchID) == "0"?false:true)">
                        <option value="">-- Select --</option>
                        <option data-ng-repeat="br in Branches" ng-selected="br.BranchID==@ViewBag.BranchID" value="{{br.BranchID}}">{{br.BranchName}}</option>
                    </select>
                </div>
                <div class="form-group col-lg-2">
                    <button type="button" class="btn btn-primary martop25" ng-click="ReserveLRNo()">Reserve LR No</button>

                </div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-body table-responsive no-padding" style="min-height:500px">
                                <table id="tblPendingReport" datatable dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="table table-striped table-bordered marleft15"></table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#liReserveConsignment").addClass("active");
        $("#liOperations").addClass("active");
    });
</script>
