﻿<div class="box box-warning" data-ng-app="App" data-ng-controller="TrackConsignment_ngController">
    <div class="box-header with-border col-lg-12">
        <h3 class="box-title">Track Consignment</h3>
    </div>
    <div class="clearfix"></div>
    <div class="box-body">
        <div class="col-lg-12">

            <div class="form-group col-lg-12 martop25">
                <div class="form-group col-lg-4">
                    <label>Consignment No</label>
                    <input autocomplete="off" id="txtConsignmentNo" type="text" class="form-control maxwidth" placeholder="Consignment No">
                </div>
                <div class="form-group col-lg-4">
                    <button type="button" class="btn btn-primary martop25" ng-click="TrackConsignment()">Track Consignment</button>
                </div>

            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-body no-padding martop25" id="divTrackingData" ng-model="ConsignmentData" ng-show="success">
                                <div class="form-group col-lg-12 marbottom25">
                                    <div class="form-group col-lg-2">
                                        <label>Delivery Status</label>
                                        <label class="label-display form-control">{{ConsignmentData.DeliveryData.DeliveryStatus}}</label>
                                    </div>
                                    <div class="form-group col-lg-2">
                                        <label>Delivery Branch</label>
                                        <label class="label-display form-control">{{ConsignmentData.DeliveryData.BranchName}}</label>
                                    </div>
                                    <div class="form-group col-lg-2">
                                        <label>Delivery Date</label>
                                        <label class="label-display form-control">{{ConsignmentData.DeliveryData.DeliveryDate}}</label>
                                    </div>
                                    <div class="form-group col-lg-2">
                                        <label>Delivery Time</label>
                                        <label class="label-display form-control">{{ConsignmentData.DeliveryData.DeliveryTime}}</label>
                                    </div>
                                    <div class="form-group col-lg-2">
                                        <label>Delivery Remarks</label>
                                        <label class="label-display form-control">{{ConsignmentData.DeliveryData.DeliveryRemarks}}</label>
                                    </div>
                                    <div class="form-group col-lg-2">
                                        <label>Delivery Vehicle</label>
                                        <label class="label-display form-control">{{ConsignmentData.DeliveryData.LicenseNo}}</label>
                                    </div>
                                </div>
                                <div style="clear:both;"></div>
                                <hr />
                                <div class="form-group col-lg-12" ng-repeat="manifest in ConsignmentData.Manifest">
                                    <div class="form-group col-lg-2">
                                        <label>Manifest No</label>
                                        <label class="label-display form-control">{{manifest.ManifestNo}}</label>
                                    </div>
                                    <div class="form-group col-lg-2">
                                        <label>Created Date</label>
                                        <label class="label-display form-control">{{manifest.Created}}</label>
                                    </div>
                                    <div class="form-group col-lg-2">
                                        <label>Departure Time</label>
                                        <label class="label-display form-control">{{manifest.DepartureTime}}</label>
                                    </div>
                                    <div class="form-group col-lg-2">
                                        <label>From</label>
                                        <label class="label-display form-control">{{manifest.FromLoc}}</label>
                                    </div>
                                    <div class="form-group col-lg-2">
                                        <label>To</label>
                                        <label class="label-display form-control">{{manifest.ToLoc}}</label>
                                    </div>
                                    <div class="form-group col-lg-1">
                                        <label>Arrival Date</label>
                                        <label class="label-display form-control">{{manifest.ArrivalDate}}</label>
                                    </div>
                                    <div class="form-group col-lg-1">
                                        <label>Arrival Time</label>
                                        <label class="label-display form-control">{{manifest.ArrivalTime}}</label>
                                    </div>
                                </div>
                                <div style="clear:both;"></div>
                                <hr />


                                <div class="form-group col-lg-12 marbottom25">
                                    <div class="form-group col-lg-2">
                                        <label>Consignment No</label>
                                        <label class="label-display form-control">{{ConsignmentData.ConsignmentNo}}</label>
                                    </div>
                                    <div class="form-group col-lg-2">
                                        <label>Consignment Date</label>
                                        <label class="label-display form-control">{{ConsignmentData.ConsignmentDate}}</label>
                                    </div>
                                    <div class="form-group col-lg-2">
                                        <label>Consignment Time</label>
                                        <label class="label-display form-control">{{ConsignmentData.ConsignmentTime}}</label>
                                    </div>
                                    <div class="form-group col-lg-2">
                                        <label>Consignor Name </label>
                                        <label class="label-display form-control">{{ConsignmentData.Consignor}}</label>
                                    </div>
                                    <div class="form-group col-lg-2">
                                        <label>Consignee Name</label>
                                        <label class="label-display form-control">{{ConsignmentData.Consignee}}</label>
                                    </div>
                                    <div class="form-group col-lg-1">
                                        <label>From</label>
                                        <label class="label-display form-control">{{ConsignmentData.FromConsignment}}</label>
                                    </div>
                                    <div class="form-group col-lg-1">
                                        <label>To</label>
                                        <label class="label-display form-control">{{ConsignmentData.ToConsignment}}</label>
                                    </div>
                                </div>
                                <div style="clear:both;"></div>
                                <hr />
                                <div class="form-group col-lg-12">
                                    <div class="form-group col-lg-3">
                                        <label>Manifest No</label>
                                        <label class="label-display form-control">{{ConsignmentData.LocalManifest.ManifestNo}}</label>
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <label>PickUp From</label>
                                        <label class="label-display form-control">{{ConsignmentData.LocalManifest.BranchName}}</label>
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <label>PickUp Date</label>
                                        <label class="label-display form-control">{{ConsignmentData.LocalManifest.ArrivalDate}}</label>
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <label>PickUp Time</label>
                                        <label class="label-display form-control">{{ConsignmentData.LocalManifest.ArrivalTime}}</label>
                                    </div>

                                </div>
                                <div style="clear:both;"></div>
                                <hr />
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#liOperations").addClass("active");
        $("#liTrackConsignment").addClass("active");
    });
</script>