﻿




<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TMS - Transport Management System</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/JS")

    @RenderSection("scripts", required: false)

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini" data-ng-app="TransportManagementModule">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="@Url.Action("Home", "TMS")" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>TMS</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>TMS</b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning">10</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 10 notifications</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users text-aqua"></i>5 new members joined today
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-warning text-yellow"></i>Very long description here that may not fit into the
                                                page and may cause design problems
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>
                        <!-- Tasks: style can be found in dropdown.less -->
                        <li class="dropdown tasks-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-flag-o"></i>
                                <span class="label label-danger">9</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 9 tasks</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <!-- Task item -->
                                            <a href="#">
                                                <h3>
                                                    9 LR Deletion Approvals
                                                </h3>
                                            </a>
                                        </li>
                                        <!-- end task item -->
                                    </ul>
                                </li>
                                <li class="footer">
                                    <a href="#">View all tasks</a>
                                </li>
                            </ul>
                        </li>
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-user"></i>
                                <span class="hidden-xs"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <p>
                                        <table class="tbluser">
                                            <tr><td width="35%">User Name : </td> <td width="75%">  @Convert.ToString(HttpContext.Current.Session["UserName"])</td></tr>
                                            @if (Convert.ToString(HttpContext.Current.Session["BranchId"]) != "0")
                                            {
                                                <tr><td width="35%">Branch  : </td><td width="75%"> @Convert.ToString(HttpContext.Current.Session["BranchName"])</td></tr>
                                            }
                                            <tr><td width="35%">Role : </td> <td width="75%"> @Convert.ToString(HttpContext.Current.Session["RoleName"])</td></tr>
                                        </table>
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    @*<div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                        </div>*@
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-primary" onclick="location.href='@Url.Action("Logout", "Login")'">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        <li>
                            @*<a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>*@
                            <a href="#" class="btn box-warning" onclick="location.href='@Url.Action("Logout", "Login")'">Sign out</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="/Content/img/user.png" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>@(ViewBag.EMPLOYEEID)</p>
                        <p>@ViewBag.EMPLOYEENAME</p>
                        <p>@ViewBag.EMAILID</p>
                        <p>@ViewBag.USERROLES</p>
                        <p>@ViewBag.ZONEID</p>
                    </div>
                </div>

                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="header">MAIN NAVIGATION</li>

                    <li class="treeview" id="liOperations">
                        <a href="#">
                            <i class="fa fa-check-square"></i>
                            <span>Operations</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">

                            <li id="liConsignment"><a href="@Url.Action("Consignment", "Operations")"><i class="fa glyphicon glyphicon-plus"></i>Consignment Booking</a></li>

                            <li id="liVehicleHire"><a href="@Url.Action("VehicleHire", "Operations")"><i class="fa glyphicon glyphicon-plus"></i>Vehicle Hire Payment</a></li>
                            <li id="liLocalVehicleHire"><a href="@Url.Action("LocalVehicleHire", "Operations")"><i class="fa glyphicon glyphicon-plus"></i>Local Vehicle Hire Payment</a></li>
                            <li id="liDeliveryVehicleHire"><a href="@Url.Action("DeliveryVehicleHire", "Operations")"><i class="fa glyphicon glyphicon-plus"></i>Delivery Vehicle Hire </a></li>
                            @if (Convert.ToString(System.Web.HttpContext.Current.Session["RoleName"]) == EnumFunction.GetEnumDescription(USERROLE.OPERATIONHEAD))
                            {

                                <li id="liManifestUnload"><a href="@Url.Action("ManifestUnload", "Operations")"><i class="fa glyphicon glyphicon-plus"></i>Manifests Unload</a></li>
                                <li id="liConsignmentDeliveryStatus"><a href="@Url.Action("ConsignmentDeliveryStatus", "Operations")"><i class="fa glyphicon glyphicon-plus"></i>Consignment Delivery</a></li>
                                <li id="liManifestDeliveryStatus"><a href="@Url.Action("ManifestDeliveryStatus", "Operations")"><i class="fa glyphicon glyphicon-plus"></i>Manifest Delivery Status</a></li>
                                <li id="liVoucher"><a href="@Url.Action("Voucher", "Voucher")"><i class="fa glyphicon glyphicon-plus"></i>Voucher</a></li>

                                <li id="liVendorExpense"><a href="@Url.Action("VendorExpense", "Voucher")"><i class="fa glyphicon glyphicon-plus"></i>Vendor Other Expense</a></li>
                            }
                            <li id="liExpense"><a href="@Url.Action("Expense", "Voucher")"><i class="fa glyphicon glyphicon-plus"></i>Expense</a></li>
                            <li id="liConsignmentBilling"><a href="@Url.Action("ConsignmentBilling", "Operations")"><i class="fa glyphicon glyphicon-plus"></i>Consignment Billing</a></li>
                            <li id="liConsignmentPayment"><a href="@Url.Action("ConsignmentPayment", "Voucher")"><i class="fa glyphicon glyphicon-plus"></i>Bill Payment</a></li>
                            <li id="liTrackConsignment"><a href="@Url.Action("TrackConsignment", "Operations")"><i class="fa glyphicon glyphicon-plus"></i>Track Consignment </a></li>
                            @if (Convert.ToString(System.Web.HttpContext.Current.Session["RoleName"]) == EnumFunction.GetEnumDescription(USERROLE.ADMIN) || Convert.ToString(System.Web.HttpContext.Current.Session["RoleName"]) == EnumFunction.GetEnumDescription(USERROLE.SUPERADMIN))
                            {
                                <li id="liPODReceived"><a href="@Url.Action("POD", "Operations")"><i class="fa glyphicon glyphicon-plus"></i>POD Received Status</a></li>
                                <li id="liBranchBalance"><a href="@Url.Action("BranchBalance", "Operations")"><i class="fa glyphicon glyphicon-plus"></i>Branch Balance</a></li>
                            }
                            <li id="liReserveConsignment"><a href="@Url.Action("ReserveConsignment", "Operations")"><i class="fa glyphicon glyphicon-plus"></i>Reserve Consignment </a></li>
                        </ul>
                    </li>
                    @if (Convert.ToString(System.Web.HttpContext.Current.Session["RoleName"]) != EnumFunction.GetEnumDescription(USERROLE.ADMIN) || Convert.ToString(System.Web.HttpContext.Current.Session["RoleName"]) != EnumFunction.GetEnumDescription(USERROLE.SUPERADMIN))
                    {
                        <li class="treeview" id="liMaintenance">
                            <a href="#">
                                <i class="fa  fa-check-square"></i>
                                <span>Maintenance</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li id="liEnquiryLeads"><a href="@Url.Action("EnquiryLeads", "BusinessDevelopment")"><i class="fa glyphicon glyphicon-plus"></i>Leads</a></li>
                                <li id="liClients"><a href="@Url.Action("Clients", "BusinessDevelopment")"><i class="fa glyphicon glyphicon-plus"></i>Clients</a></li>
                                <li id="liOpportunities"><a href="@Url.Action("Opportunities", "BusinessDevelopment")"><i class="fa glyphicon glyphicon-plus"></i>Opportunities</a></li>
                                <li id="liQuestionnaires"><a href="@Url.Action("Questionnaires", "BusinessDevelopment")"><i class="fa glyphicon glyphicon-plus"></i>Questionnaires</a></li>
                                <li id="liQuotation"><a href="@Url.Action("Quotation", "BusinessDevelopment")"><i class="fa glyphicon glyphicon-plus"></i>Quotations</a></li>
                                <li id="liOrderAcceptance"><a href="@Url.Action("OrderAcceptance", "BusinessDevelopment")"><i class="fa glyphicon glyphicon-plus"></i>Order Acceptances</a></li>
                            </ul>
                        </li>

                        <li class="treeview" id="liAccounts">
                            <a href="#">
                                <i class="fa  fa-check-square"></i>
                                <span>Accounts</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("ContractReview", "Certification")"><i class="fa glyphicon glyphicon-plus"></i>Contract Review</a></li>
                                <li><a href="@Url.Action("AuditPlanner", "Certification")"><i class="fa glyphicon glyphicon-plus"></i>Audit Planner</a></li>
                                <li><a href="@Url.Action("AuditApproval", "Certification")"><i class="fa glyphicon glyphicon-plus"></i>Audit Approval</a></li>
                                <li><a href="@Url.Action("MyAudits", "Certification")"><i class="fa glyphicon glyphicon-plus"></i>My Audits</a></li>
                                <li><a href="@Url.Action("AuditReportReview", "Certification")"><i class="fa glyphicon glyphicon-plus"></i>Audit Report Review</a></li>
                                <li><a href="@Url.Action("CertificateMaintenance", "Certification")"><i class="fa glyphicon glyphicon-plus"></i>Certificate Maintenance</a></li>
                            </ul>
                        </li>

                    }

                    @if (Convert.ToString(System.Web.HttpContext.Current.Session["RoleName"]) == EnumFunction.GetEnumDescription(USERROLE.ADMIN) || Convert.ToString(System.Web.HttpContext.Current.Session["RoleName"]) == EnumFunction.GetEnumDescription(USERROLE.SUPERADMIN))
                    {
                        <li class="treeview" id="liAdministrations">
                            <a href="#">
                                <i class="fa  fa-check-square"></i>
                                <span>Administrations</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li id="liUserRoles"><a href="@Url.Action("UserRoles", "Administration")"><i class="fa glyphicon glyphicon-plus"></i> Roles</a></li>
                                <li id="liUserMaster"><a href="@Url.Action("UserMaster", "Administration")"><i class="fa glyphicon glyphicon-plus"></i>Users</a></li>
                                <li id="liPackagingMaster"><a href="@Url.Action("Packaging", "Administration")"><i class="fa glyphicon glyphicon-plus"></i>Packagings</a></li>
                                <li id="liODAMaster"><a href="@Url.Action("ODA", "Administration")"><i class="fa glyphicon glyphicon-plus"></i>ODA</a></li>
                                <li id="liPaymentTypeMaster"><a href="@Url.Action("PaymentType", "Administration")"><i class="fa glyphicon glyphicon-plus"></i>Payment Type</a></li>
                                <li id="liVehiclePaymentTypeMaster"><a href="@Url.Action("VehicleHirePaymentType", "Administration")"><i class="fa glyphicon glyphicon-plus"></i>Vehicle Hire Payment Type</a></li>
                                <li id="liCargoTypeMaster"><a href="@Url.Action("CargoType", "Administration")"><i class="fa glyphicon glyphicon-plus"></i>Cargo Type</a></li>
                                <li id="liChargeTypeMaster"><a href="@Url.Action("ChargeType", "Administration")"><i class="fa glyphicon glyphicon-plus"></i>Charge Type</a></li>
                                <li id="liAccountMaster"><a href="@Url.Action("Account", "Administration")"><i class="fa glyphicon glyphicon-plus"></i>Account</a></li>
                                <li id="liAttributeMaster"><a href="@Url.Action("Attribute", "Administration")"><i class="fa glyphicon glyphicon-plus"></i>Attribute</a></li>
                                <li id="liGoodsMaster"><a href="@Url.Action("Goods", "Administration")"><i class="fa glyphicon glyphicon-plus"></i>Goods</a></li>
                                <li id="liBranchMaster"><a href="@Url.Action("Branches", "Administration")"><i class="fa glyphicon glyphicon-plus"></i>Branches</a></li>
                                <li id="liOtherBranchMaster"><a href="@Url.Action("OtherBranches", "Administration")"><i class="fa glyphicon glyphicon-plus"></i>Other Branches</a></li>
                                <li id="liVendorMaster"><a href="@Url.Action("Vendors", "Administration")"><i class="fa glyphicon glyphicon-plus"></i>Vendors</a></li>
                                <li id="liOtherVendorMaster"><a href="@Url.Action("OtherVendors", "Administration")"><i class="fa glyphicon glyphicon-plus"></i>Other Vendors</a></li>
                                <li id="liVehicleVendorMaster"><a href="@Url.Action("VehicleVendors", "Administration")"><i class="fa glyphicon glyphicon-plus"></i> Vehicle Vendors</a></li>
                                <li id="liVehicleMaster"><a href="@Url.Action("Vehicles", "Administration")"><i class="fa glyphicon glyphicon-plus"></i> Vehicles </a></li>
                                <li id="liPinCodesMaster"><a href="@Url.Action("PinCodes", "Administration")"><i class="fa glyphicon glyphicon-plus"></i> PinCodes </a></li>
                                <li id="liFOVMaster"><a href="@Url.Action("FOV", "Administration")"><i class="fa glyphicon glyphicon-plus"></i> FOV </a></li>
                                <li id="liBranchRunningNoMaster"><a href="@Url.Action("BranchRunningNo", "Administration")"><i class="fa glyphicon glyphicon-plus"></i>Branch Running Nos</a></li>
                                <li id="liCompanyMaster"><a href="@Url.Action("Company", "Administration")"><i class="fa glyphicon glyphicon-plus"></i>Company</a></li>
                                <li id="liTaxMaster"><a href="@Url.Action("Tax", "Administration")"><i class="fa glyphicon glyphicon-plus"></i>Tax</a></li>
                                <li id="liZoneMaster"><a href="@Url.Action("Zone", "Administration")"><i class="fa glyphicon glyphicon-plus"></i>Zones</a></li>
                                <li id="liPartNoMaster"><a href="@Url.Action("PartNo", "Administration")"><i class="fa glyphicon glyphicon-plus"></i>Part Nos</a></li>
                            </ul>
                        </li>
                        <li class="treeview" id="liSettings">
                            <a href="#">
                                <i class="fa  fa-check-square"></i>
                                <span>Setting</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li id="liVendorRates"><a href="@Url.Action("VendorRates", "Setting")"><i class="fa glyphicon glyphicon-plus"></i>Vendor Rates</a></li>
                                <li id="liMHELVendorRates"><a href="@Url.Action("MHELVendorRates", "Setting")"><i class="fa glyphicon glyphicon-plus"></i>MHEL Vendor Rates</a></li>
                                <li id="liMahindraVendorRates"><a href="@Url.Action("MahindraVendorRates", "Setting")"><i class="fa glyphicon glyphicon-plus"></i>Mahindra Vendor Rates</a></li>
                                <li id="liMasterSetting"><a href="@Url.Action("MasterSetting", "Setting")"><i class="fa glyphicon glyphicon-plus"></i>Master Setting</a></li>
                            </ul>
                        </li>
                    }
                    @if (Convert.ToString(System.Web.HttpContext.Current.Session["RoleName"]) == EnumFunction.GetEnumDescription(USERROLE.ADMIN) || Convert.ToString(System.Web.HttpContext.Current.Session["RoleName"]) == EnumFunction.GetEnumDescription(USERROLE.OPERATIONHEAD) || Convert.ToString(System.Web.HttpContext.Current.Session["RoleName"]) == EnumFunction.GetEnumDescription(USERROLE.SUPERADMIN))
                    {

                        <li class="treeview" id="liPayment">
                            <a href="#">
                                <i class="fa fa-check-square"></i>
                                <span>Payment</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                @if (Convert.ToString(System.Web.HttpContext.Current.Session["RoleName"]) == EnumFunction.GetEnumDescription(USERROLE.OPERATIONHEAD))
                                {
                                    <li id="liDeposite"><a href="@Url.Action("Deposite", "Payment")"><i class="fa glyphicon glyphicon-plus"></i>Deposite </a></li>
                                    <li id="liVehicleVendorDeposite"><a href="@Url.Action("VehicleVendorDeposite", "Payment")"><i class="fa glyphicon glyphicon-plus"></i>Vehicle Vendor Deposite </a></li>
                                }
                                <li id="liToPayAndPaidCollection"><a href="@Url.Action("ToPayAndPaidCollection", "Payment")"><i class="fa glyphicon glyphicon-plus"></i>To Pay / Paid Collection </a></li>
                                <li id="liVehicleHireBalancePayment"><a href="@Url.Action("VehicleHireBalancePayment", "Payment")"><i class="fa glyphicon glyphicon-plus"></i>Vehicle Hire Balance Payment </a></li>
                                <li id="liOtherVendorBalancePayment"><a href="@Url.Action("OtherVendorBalancePayment", "Payment")"><i class="fa glyphicon glyphicon-plus"></i>Other Vendor Balance Payment </a></li>
                            </ul>
                        </li>

                        <li class="treeview" id="liReports">
                            <a href="#">
                                <i class="fa  fa-check-square"></i>
                                <span>Reports</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li id="liDeliveryStockReport"><a href="@Url.Action("DeliveryStockReport", "Report")"><i class="fa glyphicon glyphicon-plus"></i>Delivery Stock</a></li>
                                <li id="liPendingStockReport"><a href="@Url.Action("PendingStockReport", "Report")"><i class="fa glyphicon glyphicon-plus"></i>Pending Stock</a></li>
                                <li id="liDamageStockReport"><a href="@Url.Action("DamageStockReport", "Report")"><i class="fa glyphicon glyphicon-plus"></i>Damage Stock</a></li>
                                <li id="liVehicleHirePaymentReport"><a href="@Url.Action("VehicleHirePaymentReport", "Report")"><i class="fa glyphicon glyphicon-plus"></i>Vehicle Hire Payment</a></li>
                                <li id="liConsignmentBookingReport"><a href="@Url.Action("ConsignmentBookingReport", "Report")"><i class="fa glyphicon glyphicon-plus"></i>Consignment Booking</a></li>
                                <li id="liManifestDataReport"><a href="@Url.Action("ManifestReport", "Report")"><i class="fa glyphicon glyphicon-plus"></i>Manifest Report</a></li>
                                <li id="liDestinationBranchReport"><a href="@Url.Action("DestinationBranchReport", "Report")"><i class="fa glyphicon glyphicon-plus"></i>Destination Branch Report</a></li>
                                <li id="liToPayAndPaidPendingReport"><a href="@Url.Action("ToPayAndPaidPendingReport", "Report")"><i class="fa glyphicon glyphicon-plus"></i>To Pay / Paid Pending Report</a></li>
                                <li id="liToPayAndPaidCollectionReport"><a href="@Url.Action("ToPayAndPaidCollectionReport", "Report")"><i class="fa glyphicon glyphicon-plus"></i>To Pay / Paid Collection Report</a></li>
                                <li id="liPaymentTypeWiseSalesReport"><a href="@Url.Action("PaymentTypeWiseSalesReport", "Report")"><i class="fa glyphicon glyphicon-plus"></i>Payment Type Wise Report</a></li>
                                <li id="liGSTReport"><a href="@Url.Action("GSTReport", "Report")"><i class="fa glyphicon glyphicon-plus"></i>GST Report</a></li>
                                @if (Convert.ToString(System.Web.HttpContext.Current.Session["RoleName"]) == EnumFunction.GetEnumDescription(USERROLE.ADMIN) || Convert.ToString(System.Web.HttpContext.Current.Session["RoleName"]) == EnumFunction.GetEnumDescription(USERROLE.SUPERADMIN))
                                {
                                    <li id="liVendorSalesReport"><a href="@Url.Action("VendorSalesReport", "Report")"><i class="fa glyphicon glyphicon-plus"></i>Vendor Sales Report</a></li>
                                    <li id="liMHELVendorSalesReport"><a href="@Url.Action("MHELVendorSalesReport", "Report")"><i class="fa glyphicon glyphicon-plus"></i>MHEL Vendor Sales Report</a></li>

                                }
                                <li id="liBilledConsignmentReport"><a href="@Url.Action("BilledConsignmentReport", "Report")"><i class="fa glyphicon glyphicon-plus"></i>Billed Consignment Report</a></li>
                                <li id="liUnBilledConsignmentReport"><a href="@Url.Action("UnBilledConsignmentReport", "Report")"><i class="fa glyphicon glyphicon-plus"></i>Unbilled Consignment Report</a></li>
                                <li id="liCancelledConsignmentReport"><a href="@Url.Action("CancelledConsignmentReport", "Report")"><i class="fa glyphicon glyphicon-plus"></i>Cancelled Consignment Report</a></li>
                                <li id="liLRExperienceReport"><a href="@Url.Action("LRExperience", "Report")"><i class="fa glyphicon glyphicon-plus"></i>LR Wise Experience Report</a></li>
                                <li id="liVendorVehicleReport"><a href="@Url.Action("VendorVehicleReport", "Report")"><i class="fa glyphicon glyphicon-plus"></i>Vendor Vehicle Report</a></li>
                                <li id="liTransactionReport"><a href="@Url.Action("TransactionReport", "Report")"><i class="fa glyphicon glyphicon-plus"></i>Transaction Report</a></li>
                                <li id="liOtherVendorReport"><a href="@Url.Action("OtherVendorReport", "Report")"><i class="fa glyphicon glyphicon-plus"></i>Other Vendor Report</a></li>
                            </ul>
                        </li>


                    }

                </ul>
                <div></div>
            </section>

        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!-- Main content -->
            <section class="content">
                @RenderBody()
            </section>
            <!-- /.content -->
        </div>

        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0.0
            </div>
            <strong>Copyright &copy; 2016-2017</strong> All rights
            reserved.
        </footer>

        <!-- Control Sidebar -->
        @*<aside class="control-sidebar control-sidebar-dark">
                <div class="tab-content">
                    <div class="tab-pane" id="control-sidebar-home-tab">
                    </div>
                </div>
            </aside>*@
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
        immediately after the control sidebar -->
        @*<div class="control-sidebar-bg"></div>*@
    </div>
</body>
</html>
